hr {
	color: sienna;
}

p {
	margin-left: 20px;
}

.left {
	float:left;
}

.right {
	float:right;
}

#sidebar {
	width:20%;
}

#content {
	width:65%;
}

#container {
	width:100%;
}

.odd {
	background-color:#DDDDCC;
}

.even {
	background-color:#CCDDDD;
}

#logo {
	background: url("/static/adagios-logo.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 62px;
	}

#addhost .label {
	font-weight: bold;
	width: 180px;
	float: left;
}

.warning {
	font-weight: bold;
	color: black;
	background: yellow;
}




