body {
	font-face: helvetica, georgia, courier, arial;
	background: #ccc;
	margin: 0;
	padding: 0;
}

hr {
	color: sienna;
}

p {
	margin-left: 20px;
}

.left {
	float:left;
}

.right {
	float:right;
}

#sidebar {
	margin-top: 12px;
	margin-left: 12px;
	width:140px;
}

#content {
	padding-top: 12px;
	width:800px;
}

#container {
	width:100%;
}

.odd {
	background-color:#DDDDCC;
}

.even {
	background-color:#CCDDDD;
}

#logo {
	background: url("/static/adagios-logo.png") no-repeat scroll 10px 10px #fff;
	display: block;
	height: 72px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #000;
	}

.warning {
	margin-left: 20px;
}

em {
	color: red;
}


/* tooltip styling. by default the element to be styled is .tooltip  */
/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}







label
{
	width: 12em;
	height: 30px;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	vertical-align: middle;
	display: block;
}

legend
{
color: #fff;
background: #aaa20c;
border: 2px solid #781351;
padding: 2px 6px;
font-weight: bold;
} 

fieldset {
	background: #fff;
	border: 1px solid red;
}
.submit input
{
	margin-left: 4.5em;
} 


fieldset#subtemplates {
	display: none;
}



fieldset .subtemplate {
	display: none;
}