			<!-- We only Display command_line if there is any -->
			{% if command_line %}
				<div class="command_line_box">
				<fieldset id="id_command_line" class="attribute_{{object_type}}">
				  <legend>Check Command: {{ my_object.check_command }}</legend>
					{{ command_line }}
					<hr>
					{% for macro,value in object_macros.items %}
					  <p>
					    <label> {{ macro }} </label> =
					    <span >{{ value }}</span>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
			
			<!-- Display All Contacts if this is that kind of an object -->
			{% if effective_contacts %}
				<div class="effective_contacts">
				<fieldset id="id_effective_contacts" class="attribute_{{object_type}}">
				  <legend>Effective Contactgroups</legend>
					{% for contact in effective_contacts %}
					  <p>
					    <label><a href="id={{ contact.id }}">{{contact.contact_name}}</a></label>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
			<!-- Display All Contactgroups if this is that kind of an object -->
			{% if effective_contactgroups %}
				<div class="effective_contactgroups">
				<fieldset id="id_effective_contactgroups" class="attribute_{{object_type}}">
				  <legend>Contactgroups</legend>
					{% for group in effective_contactgroups %}
					  <p>
					    <label><a href="id={{ group.id }}">{{group.contactgroup_name}}</a></label>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
			<!-- Display all members of a specific contactgroup -->
			{% if effective_members %}
				<div class="effective_members">
				<fieldset id="id_effective_members" class="attribute_{{object_type}}">
				  <legend>Members</legend>
					{% for m in effective_members %}
					  <p>
					    <label><a href="id={{ m.id }}">{{m.description}}</a></label>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
