<!-- Start of objectbrowser/templates/snippets/sidebar.html -->
<div class="span3">
    <div class="block">
        <h5>Actions</h5>
        <ul class="nav nav-list">
            <li><a data-toggle="modal" href="#geek_edit"><i class="icon-pencil"></i> Geek Edit</a></li>
            <li>
                <a href="http://eftirlit.ok.is/nagios/cgi-bin/extinfo.cgi?type=2&host={{  my_object.host_name }}&service={{  my_object.service_description }}">
                    <i class="icon-fire"></i> Open in Nagios</a>
            </li>
            <li><a href="{{ my_object.action_url }}"><i class="glyph-charts"></i> View Graphs</a></li>
        </ul>


        <h5>Diagnostics</h5>
        <ul class="nav nav-list">
            {% if command_line and form.host_name.value and form.register != '0' %}
                <li><a data-toggle="modal" href="#run_check_plugin"><i class="icon-play"></i> Run Check Plugin</a></li>
            {% endif %}
            <li><a href="#nag"><i class="icon-random"></i> View "use" inheritance tree</a></li>
        </ul>
    </div>
</div>
<div class="modal hide fade" id="run_check_plugin" data-object-id="{{ my_object.id }}">
    <div class="modal-header">
        <h3>Run Check Plugin</h3>
        <div class="well">{{ command_line }}</div>
        <div class="row">
            <div class="span2">Status:</div>
            <div class="span2 label" id="pluginstate">Pending</div>
        </div>
        <div class="row">
            <div class="span2">Plugin Output:</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="span8" style="height: 250px">
                <pre id="pluginoutput">Executing check plugin</pre>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="run_check_plugin_refresh" class="btn hide" data-object-id="{{ my_object.id }}"><i class="icon-refresh"></i> Refresh</button>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
<div class="modal hide fade" id="geek_edit">
    <form action="geek_edit/id={{my_object.id}}" method="post">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Geek Edit</h3>
        </div>
        <div class="modal-body">
            <p>
            <fieldset id="id_geek_edit" class="objectbrowser_geek_edit">
                {{ geek_edit }}
            </fieldset>
            <strong>Filename:</strong> {{ my_object.filename }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
</div>
<!-- end of objectbrowser/templates/snippets/sidebar.html -->
