



<!-- Generic Object Editor Form -->
{% if form_not_used %}
<form action="#" method="post"> 

{% csrf_token %}	
	<div class="attribute_contact">
	<fieldset id="attribute_contact" class="attribute_{{object_type}}">
	<legend>{{my_object.object_type}} - {{ my_object.description }}</legend>
	{% for field in form %}	  	
	<div class="{{ field.field.widget.attrs.class }}">
		<p><label> {{ field.label }} </label>
		{{ field }} {{ field.errors}} {{ field.help_text }} </p>
	</div>
	{% endfor %}
	</fieldset>

		<INPUT type="submit" value="Save">	  	
	</div>

 </form> 


{% else %}

Temp. disabled.

{% endif %}

{% if form_not_used %}

<form action="view_object/id={{my_object.id}}" method="post">{% csrf_token %}
	<div class="attribute_contact">

		<div class="attribute_{{object_type}}">
			<h3>Object attributes</h3>
			{% for field in defined_attributes %}

			<div class="object_attribute {{ field.field.widget.attrs.class }}">
				<label> {{ field.label }} </label>
				{{ field }} {{ field.errors}} {{ field.help_text }} </p>
				<div style="clear: both"></div>
			</div>
			{% endfor %}
			{% for field in undefined_attributes %}
			<div class="object_attribute {{ field.field.widget.attrs.class }}" id="container_{{ field.name }}" style="display: none">
				<label> {{ field.label }} </label>
				{{ field }} {{ field.errors}} {{ field.help_text }} </p>
				<div style="clear: both"></div>
			</div>
			{% endfor %}
		</div>


		<div class="attribute_{{object_type}}">
			<h3>Inherited Attributes</h3>
			{% for field in inherited_attributes %}

			<div class="{{ field.field.widget.attrs.class }}">
				<label> {{ field.label }} </label>
				{{ field }} {{ field.errors}} {{ field.help_text }} </p>
				<div style="clear: both"></div>
			</div>
			{% endfor %}
		</div>


		<div id="attribute_{{object_type}}" class="attribute_{{object_type}}">
			<h3>Unused attributes</h3>
			{% for field in undefined_attributes %}
			<div class="{{ field.field.widget.attrs.class }}">
				<a href="#add" class="show_optional" id="show_{{ field.name }}">+ {{ field.label }}</a>
			</div>
			 {% endfor %}
		</div>
		<INPUT id="advanced_submit" type="submit" value="Save">
	</div>
</form>
<script>
$(document).ready(function() {
	$('#id_members').multiSelect({ selectedHeader: '<div class="ui-state-default">Selected</div>', selectableHeader: '<div class="ui-state-default">Available</div>' });
	$('#id_contactgroup_members').multiSelect({ selectedHeader: '<div class="ui-state-default">Selected</div>', selectableHeader: '<div class="ui-state-default">Available</div>' });
  // Handler for .ready() called.

	$('#advanced_submit').button();
	$('a.show_optional').each(function() {
		
		$(this).click(function() {
			eval('objecttype = this.id.replace("show_", "")');
			$('#container_' + objecttype).show();
			$(this).hide();
		});
	});
});	
</script>
{% endif %}

<!-- End of Generic Object Editor Form -->
