			<label>{{ form.check_period.label }}</label><p>{{ form.check_period }}</p>
			<label>{{ form.check_command.label }}</label><p>{{ form.check_command }}</p>
			<label>{{ form.max_check_attempts.label }}</label><p>{{ form.max_check_attempts }}</p>
			<label>{{ form.check_interval.label }}</label><p>{{ form.check_interval }}</p>
			<label>{{ form.retry_interval.label }}</label><p>{{ form.retry_interval }}</p>
			<label>{{ form.active_checks_enabled.label }}</label><p>{{ form.active_checks_enabled }}</p>
			<label>{{ form.passive_checks_enabled.label }}</label><p>{{ form.passive_checks_enabled }}</p>

			{% if command_line %}
				<div class="command_line_box">
				<fieldset id="id_command_line" class="attribute_{{object_type}}">
				  <legend>Check Command: {{ my_object.check_command }}</legend>
					{{ command_line }}
					<hr>
					{% for macro,value in object_macros.items %}
					  <p>
					    <label> {{ macro }} </label> =
					    <span >{{ value }}</span>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
