<!-- snippets/header.html starts. This is the top navigation header on our page -->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Logo in top nav -->
            <a class="brand" href="{% url misc.views.index %}">Adagios</a>
            <div class="nav-collapse">
                <ul class="nav">



                    <!-- Object Browser -->
                    <li class="{% if urlname == "objectbrowser"%}active{% endif %}">
                        <a href="{% url objectbrowser.views.list_object_types %}" ><i class="glyph-white glyph-table"></i> Object Browser</a>
                    </li>

                    <!-- Nagios -->
                    <li>
                        <a href="{% url misc.views.nagios %}"><i class="icon-list icon-white"></i>Monitor</a>
                    </li>


                    <!-- Okconfig drop down -->
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"><i class="icon-edit icon-white"></i> Okconfig <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url okconfig_.views.addhost %}">Add Host</a></li>
                            <li><a href="{% url okconfig_.views.addtemplate %}">Add Template to Host</a></li>
                            <li><a href="{% url okconfig_.views.addservice %}">Add Service</a></li>
                            <li><a href="{% url okconfig_.views.choose_host %}">Edit Host</a></li>
                            <li><a href="{% url okconfig_.views.addgroup %}">Add Group</a></li>
                            <li><a href="{% url okconfig_.views.install_agent %}">Install Agent</a></li>
                            <li><a href="{% url okconfig_.views.scan_network %}">Scan Network</a></li>
                        </ul>
                    </li>

                </ul>




                <!-- Right aligned navbar - MISC -->
                <ul class="nav pull-right">
                    {% if needs_reload %}
                        <li>

                                <button  class="btn btn-success">
                                    <a href="{% url misc.views.nagios_service %}"> <i class="icon-refresh"></i> Reload Nagios </a>
                                </button>
                        </li>
                    {% endif %}
                    <li>
                        <a data-toggle="modal"
                           href="#notifications">
                            <div class="badge{% if notifications|length %} badge-warning{% endif %}">{{ notifications|length }} Notifications{% if notifications|length > 1 %}s{% endif %}</div>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"><i class="icon-barcode icon-white"></i> Misc <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://opensource.is/adagios/newticket?type=defect">Report Bug</a></li>
                            <li><a href="http://opensource.is/adagios/newticket?type=enhancement">Make Suggestion</a></li>
                            <li><a href="http://opensource.is/adagios/">Project Webpage</a></li>
                            <li class="divider"></li>
                            <li><a href="{%  url objectbrowser.views.show_plugins %}">Missing Plugins</a></li>
                            <li><a href="{%  url objectbrowser.views.edit_nagios_cfg %}">Edit nagios.cfg</a></li>
                            <li><a href="{%  url misc.views.nagios_service %}">Nagios Service</a></li>
                            <li><a href="{%  url misc.views.gitlog %}">Object History</a></li>
                            <li><a href="{%  url objectbrowser.views.config_health %}">Config Health</a></li>
                            <li><a href="{%  url misc.views.settings %}">Settings</a></li>
                        </ul>
                   </li>
                </ul>
            </div>
        </div>
    </div>
</div>


    <div class="modal hide fade" id="notifications">
        <div class="modal-header"><h3>Notifications Found: {{ notifications|length }}</h3></div>
        <div class="modal-body">
            {%  for id,notification in notifications.items %}
                <div class="alert alert-{{ notification.level }}">
                        <!-- TODO: Tommi, þessi button á ekki að vera <a href> .. ertu með betri leið ? -->
                        <button type="button" class="close" data-dismiss="alert">
                            <a href="{% url rest/adagios %}txt/clear_notification?notification_id={{ id }}">×</a>
                        </button>
                    <strong>{{ notification.level }}!</strong> {{  notification.message }}
                </div>
            {%  endfor %}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>

<!-- snippets/header.html ends -->
