# Make sure the following python packages are installed
pynag>=0.4.9
Django<1.4
simplejson


# nagios (or icinga)
# okconfig (optional)
# mk-livestatus (if you intent to use adagios as your status interface)
# apache
# mod_wsgi
