# Make sure the following python packages are installed
pynag>=0.8.3
Django<1.5
simplejson
python-geoip
python-geoip-geolite2

# nagios (or icinga)
# okconfig (optional)
# mk-livestatus (if you intent to use adagios as your status interface)
# apache
# mod_wsgi
