{% extends "base.html" %}
{% block title %}Add Service{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

<div class="row">
    <div class="span8">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url home %}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>Add</small> Service to host
            </h2>
        </div>
    </div>
</div>

<div class="row"><div class="span8"> <div class="block">




{% if form %}


  <form action="#" method="POST">{% csrf_token %}
                            <fieldset>
                        	{% for field in form %}


                                <label class="control-label" for="{{ field.name }}">{{ field.label }}{% if field.help %} <abbr rel="tooltip" title="{{ field.label }}" data-content="{{ field.help_text }}"><i class="icon-question-sign"></i></abbr> {% endif %}</label>
                                <div class="controls" id="advanced_field">
                                    {{ field }}
                                </div>

                        	{% endfor %}
                            </fieldset>
		<p>
    	<INPUT type="submit" value="Submit">
	</form>



{% endif %}








</div> </div> </div>


{% endblock %}

{% block footer %}
{%  endblock %}
