{% extends "base2.html" %}
{% block title %}Adagios - Objectbrowser{% endblock %}


{% block adagios_hausinn %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ BASE_URL }}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            {% block nav1 %}
                <a href="{{ BASE_URL }}/objectbrowser/">objectbrowser</a>
            {% endblock %}
            <span class="divider">/</span>
        </li>
    </ul>
    <h2>
        <i class="icon-th-large"></i> <small>{% block smallheader %}block=smallheader{% endblock%} </small> {% block largeheader %}block=largeheader{% endblock %}
    </h2>
{% endblock %}


{% block sidebar %}
    {% include "snippets/sidebar.html" %}
{% endblock %}