{% extends "adagios_standard.html" %}
{% block title %}Delete Object{% endblock %}
{% block smallheader %}Delete{% endblock %}
{% block largeheader %}{{ object.object_type }}{% endblock %}
{% block nav1 %}<a href="{{ BASE_URL }}/objectbrowser/">Object Browser</a>{% endblock %}



{% block content %}
    Are you sure you want to delete {{ object.object_type }} from file {{  object.filename }} ?
    <pre>
    {{ object }}
    </pre>
    <form action="#" method="POST">{% csrf_token %}
        <button class="btn btn-primary" type="submit">Yes, delete it</button>
    </form>
{% endblock %}
