{% extends "base.html" %}
{% load i18n %}

{% block title %}Delete Object{% endblock %}
{% block smallheader %}Delete{% endblock %}
{% block largeheader %}{{ object.object_type }}{% endblock %}
{% block toolbar %}{% endblock %}
{% block nav1 %}<a href="{% url objectbrowser %}">Object Browser</a>{% endblock %}



{% block content %}
    <div class="alert alert-danger">
        Are you sure you want to delete {{ object.object_type }} {{ object.description }} from file {{  object.filename }} ?
    </div>
    <form action="#" method="POST" class="form-horizontal">{% csrf_token %}
        {% include "bootstrap_fields.html" with fields=form %}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Yes, delete it</button>
    </form>
{% endblock %}
