{% extends "base_objectbrowser.html" %}
{% block title %}{{ my_object.object_type }} {{ my_object.shortname }}{% endblock %}
{% block smallheader %}Edit {{ my_object.object_type }}{% endblock %}
{% block largeheader %}{{ my_object.shortname }}{% endblock %}


{% block content %}
    {% if my_object %}
<div class="row">
    <div class="span12">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url home %}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>{{ my_object.object_type }}</small> {{ my_object.shortname }}
            </h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="span9">
        <div class="block">

            <!-- wrapper for scrollable items -->
            <ul class="nav nav-tabs" id="objecttab">
			    <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
		    </ul>
            <form class="form-horizontal" action="#" method="POST">
            {% csrf_token %}
                <div class="tab-content">

                    <div class="tab-pane" id="advanced">
                        <!-- All Attributes -->
                        <h2>All Attributes</h2>
                        <form action="#" method="post" class="form-horizontal">{% csrf_token %}
                            {% include "bootstrap_fields.html" with fields=advanced_form %}
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>


                        <!-- Display all members of a specific group -->
                        {% if effective_members %}
                                <div class="effective_members">
                                <fieldset id="id_effective_members" class="attribute_{{object_type}}">
                                  <legend>Effective Members</legend>
                                        {% for m in effective_members %}
                                          <p>
                                            <label><a href="id={{ m.id }}">{{m.description}}</a></label>
                                          </p>
                                        {% endfor %}
                                </fieldset>
                                </div>
                        {% endif %}

                    </div> <!-- End of advanced tab -->
                </div>
            </form>

    {% else %}
        <p>Object not found </p>
    {% endif %}

{% endblock content %}


{% block footer %}{{ block.super }}{% endblock footer %}
{% block sidebar %}{{ block.super }}{% endblock sidebar %}