{% extends "base.html" %}
{% block title %}Adagios - {{ my_object.object_type }} {{ my_object.shortname }}{% endblock %}

{% block head %}
{% endblock %}

{% block footer %}
    <script src="{{ MEDIA_URL }}chosen/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

        $('#objecttab a:first').tab('show');
        $(document).ready(function() {



            $("[rel=tooltip]").popover();
            $("#popover").popover();
            $('#general select').chosen();
            $('#notifications select').chosen();
            $('#monitoring select').chosen();

	});
	function run_check_command() {
	    $.getJSON("/rest/pynag/json/run_check_command",
		{
			object_id: '{{my_object.id}}'
		},
		function(data) {
			var statusLabel = 'label-inverse';
			var statusString = 'Unknown';
			if (data[0] == 2) {
				statusLabel = 'label-important';
				statusString = 'Critical';
			}
			if (data[0] == 1) {
				statusLabel = 'label-warning';
				statusString = 'Warning';
			}
			if (data[0] == 0) {
				statusLabel = 'label-success';
				statusString = 'OK';
			}
			$('#run_check_plugin div.modal-body').html('<div class="row"><span class="span2">Status:</span><span class="span2 label ' + statusLabel + '">' + statusString + '</span></div><div class="row"><span class="span2">Plugin Output:</span><span class="span2">' + data[1] + '</span></div>');
			$('#run_check_plugin_refresh').show();
		}
		
	    );
	}
	$('#run_check_plugin_refresh').click(function() {
	    $('#run_check_plugin div.modal-body').html('Rerunning plugin');
	    run_check_command();
	    return false;
	});
        $('#run_check_plugin').on('show', function () {
	    run_check_command();
        });

	


    </script>
{%  endblock %}

{% block content %}

    {% if my_object %}
<div class="row">
    <div class="span12">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ BASE_URL }}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{ BASE_URL }}/objectbrowser/">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>{{ my_object.object_type }}</small> {{ my_object.shortname }}
            </h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="span9">
        <div class="block">

            <!-- wrapper for scrollable items -->
            <ul class="nav nav-tabs" id="objecttab">

			    <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
		    </ul>
            <form class="form-horizontal" action="#" method="POST">
            {% csrf_token %}
                <div class="tab-content">

                    <div class="tab-pane" id="advanced">
                        <!-- All Attributes -->
                        <h2>All Attributes</h2>
                        <form action="#" method="post" class="form-horizontal">{% csrf_token %}
                            {% include "bootstrap_fields.html" with fields=advanced_form %}
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>


                        <!-- Display all members of a specific group -->
                        {% if effective_members %}
                                <div class="effective_members">
                                <fieldset id="id_effective_members" class="attribute_{{object_type}}">
                                  <legend>Effective Members</legend>
                                        {% for m in effective_members %}
                                          <p>
                                            <label><a href="id={{ m.id }}">{{m.description}}</a></label>
                                          </p>
                                        {% endfor %}
                                </fieldset>
                                </div>
                        {% endif %}

                    </div> <!-- End of advanced tab -->
                </div>

            </form>
        </div>
    </div>
    {% include "snippets/sidebar.html" %}
</div>
	
{% else %}
	<p>Object not found </p>
{% endif %}




{% endblock %}
