{% extends "edit_object.html" %}
{% block title %}{{  block.super }}{% endblock %}

{% block head %}{{ block.super }} {% endblock %}

{% block footer %}{{ block.super }}{% endblock %}

{% block sidebar %}{{ block.super }}{% endblock %}

{% block content %}

    {% if my_object %}
<div class="row">
    <div class="span12">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url home %}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>Service</small> {{ my_object.shortname }}
            </h2>
        </div>
    </div>
</div>

            <!-- wrapper for scrollable items -->
            <ul class="nav nav-tabs" id="objecttab">
                <li><a href="#general" data-toggle="tab">General</a></li>
			    <li><a href="#memberof" data-toggle="tab">Member Of</a></li>
			    <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
			    <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
		    </ul>
            <form class="form-horizontal" action="#" method="POST">
            {% csrf_token %}
                <div class="tab-content">
                    <div class="tab-pane" id="general">
                        <fieldset>

                            <label class="control-label" for="contact_name" rel="tooltip" title="{{ form.contact_name.label }}" data-content="eg admin@example.com">{{ form.contact_name.label }}</label>
                            <div class="controls">
                                {{ form.contact_name }}
                            </div>
                            
                            <label class="control-label" for="alias" rel="tooltip" title="{{ form.alias.label }}" data-content="eg Full name of contact">{{ form.alias.label }}</label>
                            <div class="controls">
                                {{ form.alias }}
                            </div>

                            <label class="control-label" for="use" rel="tooltip" title="{{ form.use.label }}" data-content="eg generic-contact">{{ form.use.label }}</label>
                            <div class="controls">
                                {{ form.use }}
                            </div>

                            <label class="control-label" for="email" rel="tooltip" title="{{ form.email.label }}" data-content="eg admin@example.com">{{ form.email.label }}</label>
                            <div class="controls">
                                {{ form.email }}
                            </div>

                            <label class="control-label" for="pager" rel="tooltip" title="{{ form.pager.label }}" data-content="eg 00 1234567">{{ form.pager.label }}</label>
                            <div class="controls">
                                {{ form.pager }}
                            </div>


                            

                        </fieldset>

                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Save changes</button>
                            <button class="btn">Cancel</button>
                        </div>
                    </div>
		
                    <div class="tab-pane" id="memberof">
                        <fieldset>


                            <label class="control-label" for="contactgroups" rel="tooltip" title="{{ form.contactgroups.label }}" data-content="eg select groups this contact belongs to">{{ form.contact_groups.label }}</label>
                            <div class="controls">
                                {{ form.contactgroups }}
                            </div>

                        <!-- Display All Contactgroups if this is that kind of an object -->
                            <div class="effective_contactgroups">
                            <fieldset id="id_effective_contactgroups" class="attribute_{{object_type}}">
                              <legend>Effective Contactgroups for this contact</legend>
                                    {% if effective_contactgroups %}
                                      <p>
                                    {% for group in effective_contactgroups %}
                                        <label><a href="id={{ group.id }}">{{group.contactgroup_name}}</a></label>
                                    {% endfor %}
                                      </p>
                                    {% endif %}
                            </fieldset>
                            </div>

                        </fieldset>

                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Save changes</button>
                            <button class="btn">Cancel</button>
                        </div>
                    </div>

		
                    <div class="tab-pane" id="notifications">
                        <fieldset>

                            <label class="control-label" for="host_notifications_enabled" rel="tooltip" title="{{ form.host_notifications_enabled.label }}" data-content="eg 1 or 0">{{ form.host_notifications_enabled.label }}</label>
                            <div class="controls">
                                {{ form.host_notifications_enabled }}
                            </div>
                            <label class="control-label" for="host_notification_commands" rel="tooltip" title="{{ form.host_notification_commands.label }}" data-content="eg 1 or 0">{{ form.host_notification_commands.label }}</label>
                            <div class="controls">
                                {{ form.host_notification_commands }}
                            </div>

                            <label class="control-label" for="host_notification_period" rel="tooltip" title="{{ form.host_notification_period.label }}" data-content="eg select a timeperiod">{{ form.host_notification_period.label }}</label>
                            <div class="controls">
                                {{ form.host_notification_period }}
                            </div>

                            <label class="control-label" for="service_notifications_enabled" rel="tooltip" title="{{ form.service_notifications_enabled.label }}" data-content="eg 1 or 0">{{ form.service_notifications_enabled.label }}</label>
                            <div class="controls">
                                {{ form.service_notifications_enabled }}
                            </div>
                            <label class="control-label" for="service_notification_commands" rel="tooltip" title="{{ form.service_notification_commands.label }}" data-content="eg 1 or 0">{{ form.service_notification_commands.label }}</label>
                            <div class="controls">
                                {{ form.service_notification_commands }}
                            </div>

                            <label class="control-label" for="service_notification_period" rel="tooltip" title="{{ form.service_notification_period.label }}" data-content="eg select a timeperiod">{{ form.service_notification_period.label }}</label>
                            <div class="controls">
                                {{ form.service_notification_period }}
                            </div>

                    </div>
                    <div class="tab-pane" id="advanced">
                        <form action="#" method="post">

                            {% csrf_token %}
                        	{% for field in form %}


                            <fieldset>
                                <label class="control-label" for="{{ field.name }}">{{ field.label }}{% if field.help %} <abbr rel="tooltip" title="{{ field.label }}" data-content="{{ field.help_text }}"><i class="icon-question-sign"></i></abbr> {% endif %}</label>
                                <div class="controls" id="advanced_field">
                                    {{ field }}
                                </div>
                            </fieldset>
<!--
                        	<div class="{{ field.field.widget.attrs.class }}">
                        		<p><label> {{ field.label }} </label>
                        		{{ field }} {{ field.errors }} {{ field.help_text }} </p>
                        	</div> -->
                        	{% endfor %}
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Save changes</button>
                                <button class="btn">Cancel</button>
                            </div>
                         </form>
                    </div>
                </div>

            </form>

{% else %}
	<p>Object not found </p>
{% endif %}




{% endblock %}
