{% extends "edit_object.html" %}
{% block title %}{{ block.super }}{% endblock %}

{% block head %}{{ block.super }}{% endblock %}


{% block sidebar %}{{ block.super }}{% endblock %}

{% block adagios_hausinn %}

        {{ block.super }}

        {% if status %}
            <div class="row-fluid">
                <!-- offset don't work on fluid grid system for now -->
                <div class="span1"><div class="servicestate label {{ status.css_label }}" id="state">{{ status.text }}</div></div>
                <div class="span11"><div class="label label-inverse">{{ status.plugin_output}}</div></div>
            </div>

        {% endif %}



{% endblock %}

{% block content %}

    {% if my_object %}
        <!-- wrapper for scrollable items -->
        <ul class="nav nav-tabs" id="objecttab">
            <li><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#monitoring" data-toggle="tab">Monitoring</a></li>
            <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
            <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
        </ul>
        <form class="form-horizontal" action="#" method="POST">{% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane" id="general">
                    <fieldset>
                        <label class="control-label" for="host_name" rel="tooltip" title="{{ form.host_name.label }}" data-content="eg web01.example.com">{{ form.host_name.label }}</label>
                        <div class="controls"> <!-- class inherited -->
                            {{ form.host_name }} <!-- <i class="glyph-more-windows"></i> Inherited -->
                        </div>

                        <label class="control-label" for="service_description" rel="tooltip" title="{{ form.service_description.label }}" data-content="eg Running Services">{{ form.service_description.label }}</label>
                        <div class="controls">
                            {{ form.service_description }}
                        </div>

                        <label class="control-label" for="servicegroups" rel="tooltip" title="{{ form.servicegroups.label }}" data-content="Groups for organizing services">{{ form.servicegroups.label }}</label>
                        <div class="controls">
                            {{ form.servicegroups }}
                        </div>

                        <label class="control-label" for="name" rel="tooltip" title="Name" data-content="Specifies name for this service which enables it to be included with Inherits from (use)">{{ form.name.label }}</label>
                        <div class="controls">
                            {{ form.name }}
                        </div>

                        <label class="control-label" for="use" rel="tooltip" title="Inherits from" data-content="Specifies from which services this service inherits from">Inherits from</label>
                        <div class="controls">
                            {{ form.use }}
                        </div>

                    </fieldset>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </div>

                <div class="tab-pane" id="monitoring">
                    {% if command_line and form.host_name.value and form.register != '0' %}
                        <pre>{{ command_line }}</pre>
                    {% endif %}
                    <fieldset>

                        <label class="control-label" for="check_command" rel="tooltip" title="{{ form.check_command.label }}" data-content="Command executed when the service check runs">{{ form.check_command.label }}</label>
                        <div class="controls">
                            {{ form.check_command }}
                        </div>

                        <label class="control-label" for="max_check_attempts" rel="tooltip" title="{{ form.max_check_attempts.label }}" data-content="How many check failures before notifications are sent">{{ form.max_check_attempts.label }}</label>
                        <div class="controls">
                            {{ form.max_check_attempts }}
                        </div>

                        <label class="control-label" for="check_interval" rel="tooltip" title="{{ form.check_interval.label }}" data-content="Minute interval between checks">{{ form.check_interval.label }}</label>
                        <div class="controls">
                            {{ form.check_interval }}
                        </div>

                        <label class="control-label" for="active_checks_enabled" rel="tooltip" title="{{ form.active_checks_enabled.label }}" data-content="Whether Nagios polls actively for service state">{{ form.active_checks_enabled.label }}</label>
                        <div class="controls">
                            <div class="btn-group" data-toggle-name="active_checks_enabled" data-toggle="buttons-radio">
                                <button type="button" value="1" class="btn btn-primary">On</button>
                                <button type="button" value="0" class="btn btn-primary">Off</button>
                                <button type="button" value="" class="btn">Unset</button>
                            </div>
                            <input type="hidden" name="active_checks_enabled" value="{{ form.active_checks_enabled.value }}" />
                        </div>

                        <label class="control-label" for="passive_checks_enabled" rel="tooltip" title="{{ form.passive_checks_enabled.label }}" data-content="Whether Nagios will recieve passive service state from external source">{{ form.passive_checks_enabled.label }}</label>
                        <div class="controls">
                            <div class="btn-group" data-toggle-name="passive_checks_enabled" data-toggle="buttons-radio">
                                <button type="button" value="1" class="btn btn-primary">On</button>
                                <button type="button" value="0" class="btn btn-primary">Off</button>
                                <button type="button" value="" class="btn">Unset</button>
                            </div>
                            <input type="hidden" name="passive_checks_enabled" value="{{ form.passive_checks_enabled.value }}" />
                        </div>

                        <label class="control-label" for="check_period" rel="tooltip" title="{{ form.check_period.label }}" data-content="When Nagios polls for service state">{{ form.check_period.label }}</label>
                        <div class="controls">
                            {{ form.check_period }}
                        </div>
                    </fieldset>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </div>

                <div class="tab-pane" id="notifications">
                    <fieldset>

                        <label class="control-label" for="notification_interval">{{ form.notification_interval.label }}</label>
                        <div class="controls">
                            {{ form.notification_interval }}
                        </div>

                        <label class="control-label" for="first_notification_delay">{{ form.first_notification_delay.label }}</label>
                        <div class="controls">
                            {{ form.first_notification_delay }}
                        </div>

                        <label class="control-label" for="notification_period">{{ form.notification_period.label }}</label>
                        <div class="controls">
                            {{ form.notification_period }}
                        </div>

                        <label class="control-label" for="notification_options">{{ form.notification_options.label }}</label>
                        <div class="controls">
                            {{ form.notification_options }}
                        </div>

                        <label class="control-label" for="contacts">{{ form.contacts.label }}</label>
                        <div class="controls">
                            {{ form.contacts }}
                        </div>

                        <label class="control-label" for="contact_groups">{{ form.contact_groups.label }}</label>
                        <div class="controls">
                            {{ form.contact_groups }}
                        </div>

                    </fieldset>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>

                </div>

            <div class="tab-pane" id="advanced">
                <form action="{%  url objectbrowser.views.advanced_edit my_object.id %}" method="post" class="form-horizontal">{% csrf_token %}

                    {% include "bootstrap_fields.html" with fields=advanced_form %}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        </form>
    {% else %}
        <p>Object not found </p>
    {% endif %}
{% endblock %}



{% block footer %}{{ block.super }}{%  endblock %}
