{% extends "base.html" %}
{% block title %}Edit nagios.cfg{% endblock %}

{% block content %}

<h1>{{ filename }}</h1>


{% if content %}
	<table border=1>
	<tr>
		<th >Attribute</th>
		<th align="left">Value</th>
	</tr>
	{% for k,v in content %}
		<tr>
			<td>{{ k }}</td>
			{% if k == 'cfg_file' %}
				<td align="left"><a href="search?filename={{v}}">{{v}}</a></td>
			{% else %}
				{% if k == 'cfg_dir' %}
					<td align="left"><a href="search?filename__startswith={{v}}">{{v}}</a></td>
				{% else %}
					<td align="left">{{v}}</td>
				{% endif %}
			{% endif %}
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>Config File not found </p>
{% endif %}

{% endblock %}