{% extends "base_objectbrowser.html" %}
{% load i18n %}

{% block title %}{{ my_object.object_type }} {{ my_object.description }}{% endblock %}
{% block smallheader %}{{ my_object.object_type }}{% endblock %}
{% block largeheader %}{{ my_object.description }}{% endblock %}


{% block content %}
    {% if my_object %}
        <!-- wrapper for scrollable items -->
        <ul class="nav nav-tabs" id="objecttab">
            <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
        </ul>
            <div class="tab-content">

                <div class="tab-pane" id="advanced">
                    <!-- All Attributes -->
                    <h2>All Attributes</h2>
                    <form action="{% url objectbrowser.views.advanced_edit my_object.id %}" method="post" class="form-horizontal">{% csrf_token %}
                        {% include "bootstrap_fields.html" with fields=advanced_form %}
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </form>
                </div> <!-- End of advanced tab -->
            </div>

    {% else %}
        <p>Object not found </p>
    {% endif %}

{% endblock content %}


{% block footer %}{{ block.super }}{% endblock footer %}
{% block sidebar %}{{ block.super }}{% endblock sidebar %}