{% extends "edit_object.html" %}
{% load i18n %}

{% block title %}{{  block.super }}{% endblock %}

{% block header %}{{ block.super }} {% endblock %}

{% block footer %}{{ block.super }}{% endblock %}

{% block sidebar %}{{ block.super }}{% endblock %}

{% block content %}
    {% if my_object %}
        <!-- wrapper for scrollable items -->
        <ul class="nav nav-tabs" id="objecttab">
            <li><a href="#general" data-toggle="tab">General</a></li>
        </ul>
        <form class="form-horizontal" action="#" method="POST">
            {% csrf_token %}
            <div class="tab-content">

                <div class="tab-pane" id="general">
                    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
                        {% include "bootstrap_field.html" with field=form.command_name %}
                        {% include "bootstrap_field.html" with field=form.command_line %}
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div> <!-- End of general tab -->

            </div>
        </form>

    {% else %}
        <p>Object not found </p>
    {% endif %}

{% endblock content %}
