{% extends "base.html" %}
{% block title %}Objectbrowser - Object not found{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span8">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url home %}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
          <br/>
          <div class="alert alert-error">
            <h2>
		{{ error_summary }}
            </h2>
            <p>
                {{ error }}
            </p>
          </div>
        </div>
    </div>
</div>

{% endblock %}
