{% extends "base.html" %}

{% block title %}List of object Types{% endblock %}
{% block footer %}
      <script type="text/javascript">
        $("#objectoverview").dataTable();
      </script>
{% endblock %}
{% block content %}

      <div class="row">
        <div class="span12">
          <div class="">
            <h2 style="text-align: center">
              <i class="icon-th-large"></i> Object Overview
            </h2>
          </div>
        </div>
      </div>
{% if object_types %}

      <div class="row">
        <div class="span5">
	      <table class="span4" id="objectoverview">
	        <thead>
	          <tr>
		        <th>Object Type</th>
		        <th>Active</th>
		        <th>Inactive</th>
	          </tr>
	        </thead>
	        <tbody>
	{% for i in object_types %}
		      <tr class="{% cycle 'even' 'odd' %}">
			    <td><a href="search?object_type={{ i.0 }}">{{ i.0 }}</a></td>
			    <td><a href="search?object_type={{ i.0 }}&register=1">{{ i.1 }}</a></td>
			    <td><a href="search?object_type={{ i.0 }}&register=0">{{ i.2 }}</a></td>
		      </tr>
	{% endfor %}
	        </tbody>
          </table>
        </div>
      </div>

{% else %}
	  <p>List of object types not found </p>
{% endif %}
{% endblock %}
