
        <div class="row">

          <div class="span12">
            <div class="page-header">
              <h1 style="text-align: center">
              <i class="icon-th-large"></i> <small>Host object</small> gianluca.vialli.com
              </h1>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#monitoring" data-toggle="tab">Monitoring</a></li>
          <li><a href="#services" data-toggle="tab">Services</a></li>
        </ul>

        <div class="row">
          <div class="span9">
            <div class="tab-content">
              <div class="tab-pane active" id="general">


                <form class="form-horizontal">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="hostname">Hostname</label>
                      <div class="controls">
                        <input type="text" id="hostname" value="gianluca.vialli.com">
                        <p class="help-block">eg web01.example.com</p><br/>
                      </div>

                      <label class="control-label" for="address">Address</label>
                      <div class="controls">
                        <input type="text" id="address" value="172.23.1.41">
                        <p class="help-block">Usually IP address but can also be hostname</p><br/>
                      </div>

                      <label class="control-label" for="alias">Alias</label>
                      <div class="controls">
                        <input type="text" id="alias" value="DB for Vialli">
                        <p class="help-block">Textual description of host</p>
                      </div>


                    </div>

                    <div class="form-actions">
                      <button class="btn btn-primary" type="submit">Save changes</button>
                      <button class="btn">Cancel</button>
                    </div>

                  </fieldset>
                </form>

              </div>

              <div class="tab-pane" id="monitoring">

                <form class="form-horizontal">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="check_period">Check Period</label>
                      <div class="controls">
                        <select id="check_period">
                          <option SELECTED>24x7</option>
                          <option>weekdays</option>
                        </select>
                        <p class="help-block">When checks for this host should be executed</p><br/>
                      </div>

                      <label class="control-label" for="max_check_attempts">Max Check Attempts</label>
                      <div class="controls">
                        <input type="text" id="max_check_attempts" value="10">
                        <p class="help-block">How often the host check fails before notifications are issued</p><br/>
                      </div>

                      <label class="control-label" for="check_interval">Check Interval</label>
                      <div class="controls">
                        <input type="text" id="check_interval" value="5">
                        <p class="help-block">Interval between host checks</p>
                      </div>


                    </div>

                    <div class="form-actions">
                      <button class="btn btn-primary" type="submit">Save changes</button>
                      <button class="btn">Cancel</button>
                    </div>

                  </fieldset>
                </form>

              </div>

              <div class="tab-pane" id="services">SERVICES</div>
            </div>
          </div>
          <div class="span3">

            <div class="">
              <h5>Actions</h5>
              <ul class="nav nav-list">
                <li><a href="#cfgedit"><i class="icon-pencil"></i> Config Edit</a></li>
                <li><a href="#nag"><i class="icon-fire"></i> Open in Nagios</a></li>
                <li><a href="#nag"><i class="icon-picture"></i> View Graphs</a></li>
              </ul>
            </div>
            <div>
              <h5>Diagnostics</h5>
              <ul class="nav nav-list">
                <li><a href="#cfgedit"><i class="icon-play"></i> Run Check Plugin</a></li>
                <li><a href="#nag"><i class="icon-random"></i> View "use" inheritance tree</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

