{% extends "base_objectbrowser.html" %}
{% load i18n %}

{% block title %}Missing Plugins{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Missing Plugins{% endblock %}

{% block content %}


	<h3 id="missing_plugins">Missing plugins ({{ missing_plugins|length}})</h3>
	{% if missing_plugins %}
	<table class="table">
        <tr>
            <th>check_command</th>
            <th>Plugin</th>
        </tr>
        {% for check_command, command_line in missing_plugins %}
            <tr>
                <td>{{ check_command }} </td>
                <td> {{ command_line }}</td>
            </tr>
        {% endfor %}
	</table>
	{% endif %}

	<h3 id="existing_plugins">Existing plugins ({{ existing_plugins|length}})</h3>
	{% if existing_plugins %}
        <table class="table">
            <tr>
                <th>check_command</th>
                <th>Plugin</th>
            </tr>
            {% for check_command, command_line in existing_plugins %}
        	    <tr>
                    <td>{{ check_command }} </td>
                    <td> {{ command_line }}</td>
                </tr>
	        {% endfor %}
	    </table>
	{% endif %}



{% endblock %}

{% block sidebar %}
    <h5>Jump to</h5>
    <ul class="nav nav-list">
        <li><a href="#missing_plugins">Missing Plugins</a></li>
        <li><a href="#existing_plugins">Existing Plugins</a></li>
    </ul>
{% endblock %}