{% extends "base.html" %}
{% block title %}Configuration Suggestions{% endblock %}

{% block content %}


{% if booleans %}
<table border=1>
	<tr>
		<th>Check</th>
		<th>Status</th>
	</tr>
{% for k,v in booleans.items %}
	<tr>
		<td>{{ k }}</td>
		<td class="{% if v %}ok{% else %}warning{% endif %}">{{ v }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>

{% if object_health %}
	<h1>Object Health</h1>
	<table border=1>
	<tr>
		<th>Description</th>
		<th>Count</th>
	</tr>
	{% for k,v in object_health.items %}
		<tr>
			<td><a href="?show={{ k }}">{{ k }}</a></td>
			<td>{{ v|length }}</td>
		</tr>
	{% endfor %}
	</ul>
{% endif %}

{% if errors %}
<!-- Display a list of config errors -->
<h1>Parsing Errors</h1>
<table>
	<tr>
		<th>Filename</th>
		<th>Error</th>
		<th>Actions</th>

	</tr>
{% for i in errors %}
	<tr>
		<td><a href="/objectbrowser/search?filename={{ i.filename }}">{{ i.filename }}</a></td>
		<td>{{ i.message }}</td>
		<td><a href="#">Delete Object</a> | <a href="#">Create Reference</a> | <a href="#">Manually Edit</a> |</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
