{% extends "base.html" %}
{% block head %}
		<script type="text/javascript" src="/static/js/jquery.multi-select.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/multi-select.css" />
{% endblock %}

{% block title %}{{ object_type }}{% endblock %}

{% block content %}
<!--
<h1>We are viewing a beautiful {{ my_object.object_type }}</h1>
-->


{% if my_object %}
	<!--
	{{ my_object }}
	-->




	<!-- wrapper for scrollable items -->
	<div id="tabs">

		<ul>
			<li><a href="#advanced">Advanced</a></li>
			<li><a href="#manual_edit">Manual edit</a></li>
			<li><a href="#misc">Misc</a></li>
			<!-- <li><a href="#old_edit_form">Old Ajaxy Edit Form</a></li> -->
		</ul>


		<div id="advanced">
			{% include "snippets/advanced_edit_form.html" %} 	
		</div>
		
		<div id="manual_edit">
			{% include "snippets/manual_edit_form.html" %}
		</div>
		
		<div id="misc">
			{% include "snippets/related_objects.html" %}
		</div>	


<script>
// wait until document is fully scriptable
$('#accordion').accordion({ header: "h4" });
$('#zesubmit').button();
$('#tabs').tabs();

</script>
	
	
{% else %}
	<p>Object not found </p>
{% endif %}

{% endblock %}
