{% extends "base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}chosen/chosen.css" />
{% endblock %}

{% block footer %}
    <script src="{{ MEDIA_URL }}chosen/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

        $('#objecttab a:first').tab('show');
        $(document).ready(function() {

            $('.multichoice').chosen();


        });
    </script>
{%  endblock %}

{% block content %}

    {% if my_object %}
<div class="row">
    <div class="span12">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ BASE_URL }}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{ BASE_URL }}/objectbrowser/">Object Browser</a> <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>Service</small> {{ my_object.name }}
            </h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="span9">
        <div class="block">

            <!-- wrapper for scrollable items -->
            <ul class="nav nav-tabs" id="objecttab">
                <li><a href="#general" data-toggle="tab">General</a></li>
			    <li><a href="#monitoring" data-toggle="tab">Monitoring</a></li>
			    <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
			    <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
			    <li><a href="#manual_edit" data-toggle="tab">Manual edit</a></li>
		    </ul>
            <form class="form-horizontal">
                <div class="tab-content">
                    <div class="tab-pane" id="general">
                        <fieldset>
                            <label class="control-label" for="host_name">{{ form.host_name.label }}</label>
                            <div class="controls">
                                {{ form.host_name }}
                                <p class="help-block">eg web01.example.com</p>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label class="control-label" for="service_description">{{ form.service_description.label }}</label>
                            <div class="controls">
                                {{ form.service_description }}
                                <p class=="help-block">eg. Running Services</p>
                            </div>
                        </fieldset>
                        <label>{{ form.servicegroups.label }}</label><p>{{ form.servicegroups }}</p>
                        <label>{{ form.use.label }}</label><p>{{ form.use }}</p>
                    </div>
			 
                    <!-- Display All Hostgroups if this is that kind of an object -->
                    {% if effective_hostgroups %}
             <!--       <div class="tab-pane" class="effective_hostgroups">
                        <fieldset id="id_effective_hostgroups" class="attribute_{{object_type}}">
                            <legend>Hostgroups</legend>
                            {% for group in effective_hostgroups %}
                            <p>
                                <label><a href="id={{ group.id }}">{{group.hostgroup_name}}</a></label>
                            </p>
                            {% endfor %}
                        </fieldset>
                    </div>  -->
                    {% endif %}

		
                    <div class="tab-pane" id="monitoring">
                        {#  include "snippets/monitoring_settings.html" #}
                    </div>

		
                    <div class="tab-pane" id="notifications">
                        {# include "snippets/notification_settings.html" #}
                    </div>
                    <div class="tab-pane" id="advanced">
                    {# include "snippets/advanced_edit_form.html" #}
                    </div>
                    <div class="tab-pane" id="manual_edit">
                    {#  include "snippets/manual_edit_form.html" #}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="span3">
        <div class="block">
            <h5>Actions</h5>
            <ul class="nav nav-list">
              <li><a href="#cfgedit"><i class="icon-pencil"></i> Config Edit</a></li>
              <li><a href="#nag"><i class="icon-fire"></i> Open in Nagios</a></li>
              <li><a href="#nag"><i class="icon-picture"></i> View Graphs</a></li>
            </ul>


            <h5>Diagnostics</h5>
            <ul class="nav nav-list">
              <li><a href="#cfgedit"><i class="icon-play"></i> Run Check Plugin</a></li>
              <li><a href="#nag"><i class="icon-random"></i> View "use" inheritance tree</a></li>
            </ul>
        </div>
    </div>

</div>
	
{% else %}
	<p>Object not found </p>
{% endif %}




{% endblock %}
