{% extends "configurator/base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block content %}



<!--
{{ my_object }}
-->



{% if my_object %}


	<!-- wrapper for scrollable items -->
	<div id="tabs">

		<ul>
			<li><a href="#host">Host</a></li>
			<li><a href="#monitoring">Monitoring</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#notifications">Notifications</a></li>
			<li><a href="#advanced">Advanced</a></li>
			<li><a href="#manual_edit">Manual edit</a></li>
		</ul>
		<div id="advanced">
			{% include "snippets/advanced_edit_form.html" %}
		</div>
		<div id="manual_edit">
			{% include "snippets/manual_edit_form.html" %}
		</div>

<form action="#" method="POST">
		{% csrf_token %}

		<div id="host">
			<div>

			 <label>{{ form.host_name.label }}</label><p>{{ form.host_name }}</p>
			 <label>{{ form.address.label }}</label><p>{{ form.address }}</p>
			 <label>{{ form.alias.label }}</label><p>{{ form.alias }}</p> 
			
			 <label>{{ form.hostgroups.label }}</label><p>{{ form.hostgroups }}</p>
			 <label>{{ form.use.label }}</label><p>{{ form.use }}</p> 
</select>

			 </div>
			 
			 
			 <!-- Display All Hostgroups if this is that kind of an object -->
				{% if effective_hostgroups %}
					<div class="effective_hostgroups">
					<fieldset id="id_effective_hostgroups" class="attribute_{{object_type}}">
					  <legend>Hostgroups</legend>
						{% for group in effective_hostgroups %}
						  <p>
						    <label><a href="id={{ group.id }}">{{group.hostgroup_name}}</a></label>
						  </p>
						{% endfor %}
					</fieldset>
					</div>
				{% endif %} 
	
		</div>	
		<div id="monitoring">
			{% include "snippets/monitoring_settings.html" %}
		</div>


		
		<div id="notifications">
			{% include "snippets/notification_settings.html" %}
		</div>


		<div id="services">
			<legend>Services of this Host</legend>
			{% if effective_services %}
				<div class="effective_services">
				<ul>
				 {% for service in effective_services %}
				 	<li><a href="id={{service.id}}">{{ service.service_description }}</a></li>
				 {% endfor %}
				</ul>
				</div>
			{% endif %}
		</div>
		

	</div>
		<INPUT type="submit" value="Save">	  	

</form>		

	
{% else %}
	<p>Object not found </p>
{% endif %}


<script>
// wait until document is fully scriptable
$('#accordion').accordion({ header: "h4" });
$('#tabs').tabs();
//$('#tabs').tabs('add', '#cramp', "Ble");
//$(function() {
//
//});
</script>



{% endblock %}
