{% extends "configurator/base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block content %}



<!--
{{ my_object }}
-->



{% if my_object %}


	<!-- wrapper for scrollable items -->
	<div id="tabs">

		<ul>
			<li><a href="#service">Service</a></li>
			<li><a href="#monitoring">Monitoring</a></li>
			<li><a href="#notifications">Notifications</a></li>
			<li><a href="#advanced">Advanced</a></li>
			<li><a href="#manual_edit">Manual edit</a></li>
		</ul>
		<div id="advanced">
			{% include "snippets/advanced_edit_form.html" %} 	
		</div>
		<div id="manual_edit">
			{% include "snippets/manual_edit_form.html" %}
		</div>

<form action="#" method="POST">
		{% csrf_token %}

		<div id="service">
			<div>
			 <label>{{ form.host_name.label }}</label><p>{{ form.host_name }}</p>
			 <label>{{ form.service_description.label }}</label><p>{{ form.service_description }}</p>
			
			 <label>{{ form.servicegroups.label }}</label><p>{{ form.servicegroups }}</p>
			 <label>{{ form.use.label }}</label><p>{{ form.use }}</p>
		</div>
			 
			 
			 <!-- Display All Hostgroups if this is that kind of an object -->
				{% if effective_hostgroups %}
					<div class="effective_hostgroups">
					<fieldset id="id_effective_hostgroups" class="attribute_{{object_type}}">
					  <legend>Hostgroups</legend>
						{% for group in effective_hostgroups %}
						  <p>
						    <label><a href="id={{ group.id }}">{{group.hostgroup_name}}</a></label>
						  </p>
						{% endfor %}
					</fieldset>
					</div>
				{% endif %} 
		</div>
		
		<div id="monitoring">
			{% include "snippets/monitoring_settings.html" %}
		</div>

		
		<div id="notifications">
			{% include "snippets/notification_settings.html" %}
		</div>

	</div>
		<INPUT type="submit" value="Save">	  	

</form>		

	
{% else %}
	<p>Object not found </p>
{% endif %}


<script>
// wait until document is fully scriptable
$('#accordion').accordion({ header: "h4" });
$('#tabs').tabs();
//$('#tabs').tabs('add', '#cramp', "Ble");
//$(function() {
//
//});
</script>



{% endblock %}
