<!-- snippet misc_mail_servicelist.html ends -->
{% load adagiostags %}

For more information, click <a href="{{ http_origin }}">Here</a>.

<table class="table well" style="font-size: 12px;width: 100%;display: table;border-collapse: collapse;border-spacing: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;line-height: 18px;color: #333;">
    <thead>
    <tr>

        <th>Host</th>
        <th>Service Check</th>
        <th>Duration</th>
        <th>Last Check</th>
    </tr>
    </thead>
    <tbody>

    {% for service in services %}
        <tr>
            <td style="white-space: nowrap;line-height: 10px;">
                {% if service.host_state == 0 %}
                    <div class="circle circle_0  state_0" style="color: #468847;background-color: #90ee90;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                {% endif %}
                {% if service.host_state == 1 %}
                    <div class="circle circle_1  state_1" style="color: orange;background-color: #FCEFB0;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                {% endif %}
                {% if service.host_state == 2 %}
                    <div class="circle circle_2  state_2" style="color: #B94A48;background-color: #F2DEDE;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                {% endif %}
                {% if service.host_state == 3 %}
                    <div class="circle circle_3  state_3" style="color: #d3d3d3;background-color: #d3d3d3;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                {% endif %}
                <a href="{{ http_origin }}{% url status.views.status_detail%}?host_name={{ service.host_name }}" title="Details for host {{ service.host_name }}">{{ service.host_name }}</a>
                <input type="hidden" name="service" value="{{ service.host_name }}/{{ service.description }}">
            </td>

            <td colspan="1" style="word-wrap: break-word;line-height: 10px;">
                <a href="{{ http_origin }}{% url status.views.status_detail %}?host_name={{ service.host_name }}&service_description={{ service.description }}" title="{{ service.status }} for the past {{ service.last_state_change|timestamp|timesince }}">
                    {% if service.state == 0 %}
                        <div class="circle circle_0  state_0" style="color: #468847;background-color: #90ee90;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                    {% endif %}
                    {% if service.state == 1 %}
                        <div class="circle circle_1  state_1" style="color: orange;background-color: #FCEFB0;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                    {% endif %}
                    {% if service.state == 2 %}
                        <div class="circle circle_2  state_2" style="color: #B94A48;background-color: #F2DEDE;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                    {% endif %}
                    {% if service.state == 3 %}
                        <div class="circle circle_3  state_3" style="color: #d3d3d3;background-color: #d3d3d3;border-radius: 50%;width: 12px;height: 12px;display: inline-block;border-style: solid;border-width: 1px;"> </div>
                    {% endif %}
                    {{ service.description }}</a>
                <!-- TODO: Instead of all this slicing crap... proper ellipse effect in CSS -->
                <span title="{{ service.plugin_output }}" style="font-size: 80%; color: #808080; font-weight: normal;">
                         {{ service.plugin_output|slice:"70" }}
                 </span>

            </td>


            <td style="white-space: nowrap;font-size: 80%;line-height: 10px;">
                {{ service.last_state_change|timestamp|timesince }}
            </td>

            <td style="white-space: nowrap;font-size: 80%;line-height: 10px;">
                {{ service.last_check|timestamp|date:'Y-m-d H:i' }}
            </td>
            <!-- <td class="state_{{ service.state }}"><b>{{ service.status }}</b></td> -->
        </tr>
    {% endfor %}
    </tbody>
</table>
total {{ services|length }} objects.
<!-- snippet misc_mail_servicelist.html ends -->