{% extends "base_misc.html" %}


{% block content %}

    <h1>{{ function_name }}()</h1>
    <pre>{{ docstring }}</pre>

    <div class="row" style="padding-left: 40px">

        <div id="function_form" class="span6">
            <form action="{{function_name}}" method="post">
            <table>
            {{ form }}
            </table>
            <INPUT id="zesubmit" type="submit" value="Call {{ function_name }}()">
            </form>
        </div>

        <div class="span6">
            Example usage from shell:
            <div class="well">
                curl -X POST \<br>
                {% for i in form %}
                    -d "{{ i.name }}={{ i.value }}" \<br>
                {% endfor %}
                <a href="" id="current_url"></a>
            </div>
            Example usage from javascript:

<pre class="well">
&lt;script src=&quot;<a href="{{ BASE_URL }}/rest/{{ module_name }}.js">{{ BASE_URL }}/rest/{{ module_name }}.js</a>&quot;&gt;&lt;/script&gt;

&lt;script&gt;
parameters = {
{% for i in form %}    "{{ i.name }}":"{{ i.value }}",
{% endfor %}}

adagios.rest.{{ module_name }}.{{ function_name }}(parameters)
    .done(function(data) {
        console.log("Got this response from server: " + data);
    })
    .fail(function(data) {
        alert("Error with rest call: " + data.responseText);
    });
&lt;/script&gt;
</pre>
     </div>

    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script>
        $(document).ready(function() {
        $("#current_url").text(document.URL.split('?')[0]);
    });
</script>

{% endblock %}