{% extends "base.html" %}
{% block title %}REST Interface{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url home %}">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                    </li>
                </ul>
                <h2>
                    <i class="icon-th-large"></i> <small>Service</small> {{ my_object.host_name }}
                </h2>
            </div>
        </div>
    </div>



    <div class="row-fluid">
        <div class="span9">
            <div class="block">

                <table border=1>
                    {% for i in gets %}
	                <tr>
		                <td> {{ i }} </td>
                        <td><a href="txt/{{ i }}">txt</a></td>
                        <td><a href="json/{{ i }}">json</a></td>
                        <td><a href="xml/{{ i }}">xml</a></td>
	                </tr>
                    {% endfor %}
                </table>

                The following POST operations are supported:
                <table border=1>
                    {% for i in puts %}
	                <tr>
		                <td><a href="help/{{ i }}">{{ i }}</a></td>
		                <td><a href="txt/{{ i }}">txt</a></td>
		                <td><a href="json/{{ i }}">json</a></td>
		                <td><a href="xml/{{ i }}">xml</a></td>
	                </tr>
                    {% endfor %}
                </table>
                The following is the documentation for the module you requested:
                -----------------
                {{ module_documenation }}
                -----------------

            </div>
        </div>
    </div>

{% endblock %}
