/* Javascript wrapper around {{ module_name }} */

{% if module_documenation %}
//Module documentation:
/*

{{ module_documenation }}

*/
{% else %}
/* This module has no documentation. */
{% endif %}


{% for i,v in functions.items %}

/*

Function {{ i }}()
###############################################################################
{% autoescape off %}{{ v.docstring }}{% endautoescape %}

Valid parameters: {{ v.argstring }}
*/

function {{ i }}(parameters) {
    // Return jquery promise object for ajax:
    return $.ajax({
        type: 'POST',
        url: '{{ v.url }}',
        data: parameters,
        async: true,
        contentType: "application/json",
        dataType: 'json'
    });

}; /* end of function {{ i }}() */

{% endfor %}
