<!-- Start of okconfig_/templates/snippets/sidebar.html -->
        <h5>Actions</h5>
        <ul class="nav nav-list">
            <li><a href="{% url okconfig_.views.addhost %}?host_name={{ form.host_name.value|default:"" }}"><i class="icon-pencil"></i>Add Host</a></li>
            <li><a href="{% url okconfig_.views.addtemplate %}"><i class="icon-pencil"></i>Add Template</a></li>
            <li><a href="{% url okconfig_.views.addgroup %}"><i class="icon-pencil"></i>Add Group</a></li>
            <li><a href="{% url okconfig_.views.choose_host %}"><i class="icon-pencil"></i>Edit Templates</a></li>
            <li><a href="{% url okconfig_.views.install_agent %}"><i class="icon-pencil"></i>Install Agent</a></li>
            <li><a href="{% url okconfig_.views.scan_network %}"><i class="icon-pencil"></i>Scan Network</a></li>
<!-- end of okconfig_/templates/snippets/sidebar.html -->
