{% extends "base_status.html" %}
{% block title %}User Contributed views{% endblock %}
{% block smallheader %}list of {% endblock %}
{% block largeheader %}user contributed views{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url contrib.views.index %}">contrib</a>{% endblock %}

{% load adagiostags %}


{% block content %}
    <p>
        Here you can see a list of user contributed views for Adagios. You can make your own
        from <i>{{ settings.contrib_dir }}</i>.
    </p>

    <p>
        Please see the examples below for assistance on creating your own custom views.
    </p>

    <ul>
        {% for i in views %}
            <li><a href="./{{ i }}/">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
