{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock title %}
{% block smallheader %}{{ block.super }}{% endblock smallheader %}
{% block largeheader %}{{ block.super }}{% endblock largeheader %}
{% block content %}{{ block.super }}{% endblock content %}
{% block top_navigation %}{{ block.super }}{% endblock top_navigation %}
{% block page_header %}{{ block.super }}{% endblock page_header %}
{% block nav2 %}{{ block.super }}{% endblock nav2 %}
{% block header %}{{ block.super }}{% endblock header %}
{% block footer %}{{ block.super }}{% endblock footer %}




{% block toolbar %}
    <div id="toolbar">

                <!-- block view_buttons starts -->
                {% block view_buttons %}
                <div class="btn-group pull-left" id="view_buttons">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyph-eye-open" title="View"> </i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="?q={{ request.GET.q }}&unhandled"> Open Problems</a></li>
                        <li><a href="?q={{ request.GET.q }}&state__isnot=0"> All Problems</a></li>
                        <li><a href="?q={{ request.GET.q }}&acknowledged=1"> All Acknowledged</a></li>
                        <li><a href="?q={{ request.GET.q }}&scheduled_downtime_depth__isnot=0"> All in Downtime</a></li>
                        <li><a href="?q={{ request.GET.q }}&state=0"> All OK</a></li>
                        <li><a href="?q={{ request.GET.q }}"> Everything</a></li>
                    </ul>
                </div>
                {% endblock %}
                <!-- block view_buttons ends -->

                <!-- block action_buttons starts -->
                {% block action_buttons %}
                    <div class="pull-left" id="action_buttons" >

                        <button class="btn btn-small adagios_service_multi" title="Recheck - Execute selected checks immediately" data-loading-text='<img src="{% url media path="select2/spinner.gif" %}"> <span id="reschedule_text"> Running...</span>' id="reschedule_button" onclick="reschedule();">
                            <i class="glyph-refresh" > </i> <span id="reschedule_text">Recheck</span>
                        </button>
                        <button class="btn btn-small adagios_service_multi" title="Acknowledge - selected items will be hidden from unhandled and notifications will no longer be sent out" data-toggle="modal" data-target="#acknowledge_modal" id="acknowledge_button" data-loading-text='<img src="{% url media path="select2/spinner.gif" %}"> <span id="acknowledge_text"> Running...</span>'>
                            <i class="glyph-check" > </i><span id="acknowledge_text"> Acknowledge</span>
                        </button>
                        <button class="btn btn-small adagios_service_multi" title="Downtime - Selected items will be hidden from unhandled and notifications will not be sent until downtime is over" data-toggle="modal" data-target="#downtime_modal" id="downtime_button" data-loading-text='<img src="{% url media path="select2/spinner.gif" %}"> <span id="downtime_text"> Running...</span>'>
                            <i class="glyph-clock" > </i> Downtime
                        </button>
                        <button class="btn btn-small adagios_service_multi" title="Send out mail for selected items" id="mail_button" data-toggle="modal" data-target="#mail_modal">
                            <i class="glyph-envelope" > </i>
                        </button>

                        <button class="btn btn-small adagios_service_multi" title="Copy {{ my_object.object_type }}" onclick="copy_selected_objects();">
                            <i class="icon-copy"> </i>
                        </button>
                        <button class="btn btn-small adagios_service_multi" title="Edit {{ my_object.object_type }}" id="configure_button" onclick="edit_selected_objects();">
                            <i class="glyph-edit" > </i>
                        </button>
                        <button class="btn btn-small adagios_service_multi" title="Delete {{ my_object.object_type }}" id="delete_button" onclick="delete_selected_objects();" >
                            <i class="glyph-bin" > </i>
                        </button>

                    </div>

                    <div class="btn-group pull-left" id="action_buttons_more">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" id="status_toolbar_more_button">
                            More <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="enable_on_select" title="Add to businesgroup" id="add_to_businessprocess_button" onclick="add_to_business_process();">
                                    Add to business process
                                </a>
                            </li>
                            <li>
                                <a class="enable_on_select" title="Add to contactgroup" onclick="add_to_group('contactgroup');">
                                    Add to contactgroup
                                </a>
                            </li>
                            <li>
                                <a class="enable_on_select" title="Add to servicegroup" onclick="add_to_group('servicegroup');">
                                    Add to servicegroup
                                </a>
                            </li>
                            <li>
                                <a class="enable_on_select" title="Remove acknowledgement" onclick="remove_acknowledgements();">
                                    Remove Acknowledgement
                                </a>
                            </li>
                            <li>
                                <a class="enable_on_select" title="Remove Active Downtimes" onclick="remove_active_downtimes();">
                                    Remove active downtimes
                                </a>
                            </li>
                        </ul>

                </div>


                {% endblock %}
                <!-- block action_buttons ends -->

                <!-- block search_box starts -->
                {% block search_box %}
                <div class=" pull-right" id="search_box">
                    <form action="{% url status.views.services %}" method="get" >
                        <div class="pull-left">
                            <input name="q"  id="search_field"  value="{{ request.GET.q }}" class="search-query" placeholder="hosts, services, etc..." />
                        </div>
                        <div class="btn-group pull-left"><button class="btn btn-small"  type="submit" href="{% url status.views.services %}"><i class="icon-search"></i> Search</button><a class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url status.views.services %}?unhandled"> Open Problems</a></li>
                                <li><a href="{% url status.views.services %}?state__isnot=0"> All Problems</a></li>
                                <li><a href="{% url status.views.services %}?state=0"> All OK</a></li>
                                <li><a href="{% url status.views.services %}"> Everything</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
                {% endblock search_box %}
                <!-- block search_box ends -->

            </div>
{% endblock toolbar %}


{% block nav1 %}
    <a href="{% url adagios.status.views.status_index %}">Status</a>
{% endblock nav1 %}



