{% extends "base_status.html" %}

{% block title %}Business Process{% endblock %}
{% block smallheader %}edit{% endblock %}
{% block largeheader %}Business Process{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url status.views.business_process_list %}">Business Process</a>{% endblock %}

{% load adagiostags %}

{% block content %}
    <ul class="nav nav-tabs" id="objecttab">
        <li><a href="#basic" class="active" data-toggle="tab">Basic Information</a></li>
        <li><a href="#subprocesses" data-toggle="tab">Sub Processes</a></li>
        <li><a href="#rules" data-toggle="tab">Business Rules</a></li>
        <li><a href="#other" data-toggle="tab">Other</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="basic">

            {% if form %}
                <form action="" method="post" class="form-horizontal">{% csrf_token %}
                    {% include "bootstrap_fields.html" with fields=form %}
                    <div class="form-actions">
                        <button name="save_process" class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>
            {% else %}
                Could not find Business process. {{ process_name }}
            {% endif %}
        </div>

        <div class="tab-pane " id="subprocesses">

            <div id="sub_processes">
                <table class="well table table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>Sub Processes</th>
                        <th><button name="remove_process" class="close status_ok" type="submit">×</button></th>
                    </tr>
                    {% for i in bp.get_processes %}
                        <tr class="subprocess-row">
                            <td>
                                <div title="State is '{{ i.get_status }}'" class="circle state_{{ i.get_status }}"></div>
                                <a href="{% url adagios.status.views.business_process_edit i.name %} ">{{ i }}</a>
                            </td>
                            <td>{{ i.display_name }}</td>
                            <td>{{ i.processes|length }}</td>
                            <td>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="process_name" value="{{ i.name }}">
                                    <input type="hidden" name="process_type" value="{{ i.process_type }}">
                                    <button name="remove_process" title="Remove group from this business process" class="close status_critical" >×</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


    </div>

    <div class="tab-pane " id="rules">
        <table class="well table">
            <tr>
                <th>Trigger</th>
                <th>Action</th>
            </tr>
            {% for i in bp.rules %}
                <tr>
                    <td>Sub Process tagged <i>{{ i.0 }}</i> has at least {{ i.1 }} problems</td>
                    <td>Put this business group in status <span class="status state_{{ i.2 }}">{{ i.2 }}</span></td>

                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="tab-pane " id="other">
    </div>
</div>






    <!-- Add subprocess modal -->
    <div class="modal hide fade" id="add_subprocess_modal">
        <form class="form-horizontal" method="post" action="">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add sub process</h3>
            </div>
            <div class="modal-body">
                <p>Ok lets add a new sub process.</p>
                {% include "bootstrap_fields.html" with fields=add_subprocess_form %}
            </div>
            <div class="modal-footer">
                <a href="" class="btn" onclick='$("#add_subprocess_modal").modal("hide");'>Cancel</a>
                <button type="submit" id="add_subprocess_submit_button" name="add_subprocess_submit_button" class="btn btn-primary">Ok add this rocess</button>
            </div>
        </form>
    </div>
    <!-- Add subprocess modal ends -->



{% endblock %}



{% block view_buttons %}

{% endblock %}
{% block action_buttons %}
<div>

    <a class="btn" id="open_subprocess_modal" data-toggle="modal" data-target="#add_subprocess_modal" href="#">
        <i class="glyph-circle-plus " title="Add new ..."> </i> Add sub item
    </a>
    <a class="btn" id="open_public_view" href="{% url adagios.status.views.business_process_view bp.name %}">
        <i class="glyph-eye-open " title="Add new ..."> </i> Public view for this process
    </a>

</div>

{% endblock %}
{% block toolbar %}{{ block.super }}{% endblock %}

{% block footer %}
{{ block.super }}
    <script id="select2_fields">
        $(document).ready(function() {

            // When somebody clicks the add subprocess button, lets change the process type to default hostgroup
            $('#add_subprocess_modal').on('shown', function () {
                var default_choice = "hostgroup";
                $("#id_process_type").select2("val", default_choice);
                $("#id_process_name").select2({
                    minimumInputLength: 0,
                    query: function(query) { adagios.objectbrowser.select2_objects_query(default_choice, query); }
                });
            });

            $("#id_process_type").change(function() {
                var str = "";
                $("#id_process_type option:selected").each(function () {
                    str += $(this).text();
                });
                $("#id_process_name").select2({
                    minimumInputLength: 0,
                    query: function(query) { adagios.objectbrowser.select2_objects_query(str, query); }
                });
                $("#id_process_name").css('width', '700px;');


            });

            {% if add_subprocess_failed %}
                $("#add_subprocess_modal").modal('show');
            {% endif %}
        });
    </script>
{% endblock %}