{% extends "base_status.html" %}

{% block title %}Business Process{% endblock %}
{% block smallheader %}view{% endblock %}
{% block largeheader %}Business Process{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url status.views.business_process_list %}">Business Process</a>{% endblock %}

{% load adagiostags %}

{% block content %}
    <style>
        .centralized_dashboard {
            width:  600px;
            margin-left: auto;
            margin-right: auto;

        }
        .bold {
            font-weight: bold;
        }
        .status_ok, .status_0 {
            color: #339966;
        }
        .status_warning, .status_1 {
            color: #f29d50;
        }

            /* line 297, /data/octostatus/app/assets/styles/basics.scss */
        .status_critical, .status_2 {
            color: #cc3300;
        }
        h4.dashboard_header {
            margin-top: 40px;

            margin-bottom: 10px;
        }
        .top-margin {
            margin-top: 20px;
        }

        /* Shamelessly stolen from github

/* line 186, /data/octostatus/app/assets/styles/basics.scss */
        #services {
            margin: 0 0 36px;
            border: 1px solid #e8e8e8;
            border-radius: 3px;
        }
            /* line 191, /data/octostatus/app/assets/styles/basics.scss */
        #services .service {
            padding: 8px 12px;
            overflow: hidden;
        }
            /* line 195, /data/octostatus/app/assets/styles/basics.scss */
        #services .service .name {
            float: left;
        }
            /* line 199, /data/octostatus/app/assets/styles/basics.scss */
        #services .service .status {
            float: right;
            font-weight: bold;
        }
            /* line 205, /data/octostatus/app/assets/styles/basics.scss */
        #services .service + .service {
            border-top: 1px solid #efefef;
        }

    </style>

    <div id="content_div" class="centralized_dashboard">
        <h3 class="dashboard_header">{{ bp.display_name }} <span class="status_{{ bp.get_status }}">Status</span></h3>
        <div class="top-margin alert alert-{{ bp.css_hint }}">
            {% if bp.css_hint == 'success' %}
                All Systems are operational
            {% endif %}
            {% if bp.css_hint == 'warning' %}
                There are some minor problems
            {% endif %}
            {% if bp.css_hint == 'danger' %}
                We are currently dealing with problems
            {% endif %}
            {% if bp.css_hint == 'unknown' %}
                Some probes are returning status "unknown"
            {% endif %}
        </div>

        <h4 class="dashboard_header">More information</h4>
        {% if bp.notes %}
            <p>
                {{ bp.notes }}
            </p>
        {% endif %}

        {% if bp.get_processes %}
            <div class="table top-margin" id="services">
                {% for i in bp.get_processes %}
                    <div class="service">
                        {{ i }}
                        <span class="bold pull-right status_{{ i.get_human_friendly_status }}">{{ i.get_human_friendly_status }}</span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No subgroups in {{ bp.display_name }}f
        {% endif %}
        <h4 class="dashboard_header">Graphs</h4>
        <div id="objecttab" class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" id="graphs_ul">
                <li><a href="#hours" data-toggle="tab" id="test_id" name="test_name">4 Hours</a></li>
                <li><a href="#day" class="active" data-toggle="tab" id="25hours">25 Hours</a></li>
                <li><a href="#week" data-toggle="tab">One Week</a></li>
                <li><a href="#month" data-toggle="tab">One Month</a></li>
                <li><a href="#year" data-toggle="tab">One Year</a></li>
            </ul>

            <div class="tab-content" id="graphs_content">
                <div class="tab-pane" id="hours">
                    <!-- Javascript will put images here if applicable -->
                </div>
                <div class="tab-pane active" id="day">
                    <!-- Javascript will put images here if applicable -->
                </div>
                <div class="tab-pane" id="week">
                    <!-- Javascript will put images here if applicable -->
                </div>
                <div class="tab-pane" id="month">
                    <!-- Javascript will put images here if applicable -->
                </div>
                <div class="tab-pane" id="year">
                    <!-- Javascript will put images here if applicable -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block view_buttons %}{% endblock %}
{% block action_buttons %}{% endblock %}
{% block toolbar %}{% endblock %}



{% block footer %}
    {{ block.super }}
    <script src="{% url home %}rest/status.js"></script>
    <script>
        // When graphs link is clicked, simulate a click on 25hours tab as well
        $(document).ready(function() {
            $('#25hours').click();


            //
            function querystring(key) {
                var re=new RegExp('(?:\\?|&)'+key+'=(.*?)(?=&|$)','gi');
                var r=[], m;
                while ((m=re.exec(document.location.search)) != null) r.push(m[1]);
                return r;
            }
            var dom_id;
            var doms_to_hide = querystring('hide');
            for (i in doms_to_hide) {
                dom_id = '#' + doms_to_hide[i];
                $(dom_id).hide();
            }

        });

        // Load graphs when you click a new timeperiod under graphs tab
        $('#graphs_ul').click(function(event){
            var anchor = event.target.href.split('#')[1];
            var title = event.target.text;
            my_element = document.getElementById(anchor);


            if (my_element.childElementCount == 0) {
                spinner = document.createElement( 'img');
                spinner.setAttribute("src", "{% url media path="select2/spinner.gif" %}");
                my_element.appendChild( spinner );
                var url = '{% url pnp.views.pnp 'json' %}?host=localhost&srv=_HOST_';
                $.getJSON(url)
                        .done( function(data) {
                            $.each(data, function(i, item) {
                                        if (item['title'] == title) {
                                            new_img = document.createElement( 'img');
                                            new_img.setAttribute("src", "{% url pnp.views.pnp 'image' %}?" + item['image_url']);
                                            my_element.appendChild( new_img );
                                        }
                                    }
                            )

                        })
                        .fail( function() {
                            console.log('failed to fetch info from pnp4nagios');
                        })
                        .always( function() {
                            spinner.setAttribute('class', 'hide');
                        });
            }

        });
    </script>
{% endblock %}
