{% extends "base_status.html" %}
{% load i18n %}

{% block title %}Contacts{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Contacts{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url status.views.comment_list %}">Comments</a>{% endblock %}

{% load adagiostags %}

{% block content %}
    <ul class="nav nav-tabs" id="objecttab">
        <li><a href="{% url adagios.status.views.comment_list %}" >Comments</a></li>
        <li><a href="{% url adagios.status.views.downtime_list %}">Downtimes</a></li>
        <li class="active"><a href="{% url adagios.status.views.acknowledgement_list %}">Acknowledgements</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="acknowledgements">
            {% include "snippets/status_acknowledgements_snippet.html" with comments=acknowledgements %}
        </div>
    </div>

{% endblock %}

{% block view_buttons %}{% endblock %}
{% block action_buttons %}{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}