{% extends "base_misc.html" %}

{% block title %}{{ my_object.display_name }}{% endblock %}
{% block smallheader %}{{ host.display_name }} {% endblock %}
{% block largeheader %}<span class="state_{{ my_object.state }}">{{ service.display_name }} is {{ my_object.status }}</span>{% endblock %}
{% block nav1 %}{{ block.super }}{% endblock %}

{% block adagios_hausinn %}{{ block.super }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="objecttab">
        <li><a href="#general" data-toggle="tab">General</a></li>
        <li><a href="#information" data-toggle="tab">Information</a></li>
        <li><a href="#events" data-toggle="tab">History</a></li>
        <li><a href="#custom_variables" data-toggle="tab">Custom Variables</a></li>
        <li><a href="#other" data-toggle="tab">Misc</a></li>
    </ul>
    <div class="tab-content">

    <div class="tab-pane" id="general">
    {% if my_object %}
                <table class="table">
                    <tr >
                        <td></td>
                        <td>Host Name</td>
                        <td><a href="{% url status.views.status_detail host.name %}">{{ host.display_name }}</a></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td>Host Address</td>
                        <td>{{ host.address }}</td>
                    </tr>
                    {% if service %}
                    <tr >
                        <td></td>
                        <td>Service Name</td>
                        <td>{{ service.display_name }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td style="width: 20px;"></td>
                        <td>Check output</td>
                        <td>
                            {% if my_object.long_plugin_output %}
                            <pre>{{ my_object.plugin_output }}
{{ my_object.long_plugin_output }}</pre>
                            {% else %}
                            <pre>{{ my_object.plugin_output }}</pre>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Performance  Data</td>
                        <td >
                            {% if perfdata %}
                                <table border=1 class=table style="border-color: #ffffff;" >
                                    <tr>
                                        <th>label</th>
                                        <th>value</th>
                                        <th>warn</th>
                                        <th>crit</th>
                                        <th>unit</th>
                                        <th>min</th>
                                        <th>max</th>
                                        <th>status</th>
                                        <th>pnp</th>
                                    </tr>
                                    {% for i in perfdata %}
                                        <tr class="state_{{ i.get_status }}">
                                            <td>{{ i.label }}</td>
                                            <td>{{ i.value }} </td>
                                            <td>{{ i.warn }}  </td>
                                            <td>{{ i.crit }}  </td>
                                            <td> {{ i.uom }}</td>
                                            <td>{{ i.min }}   </td>
                                            <td>{{ i.max }}   </td>
                                            <td><label >{{ i.status }}</label></td>
                                            <td><a href="{{ my_object.action_url_expanded }}"><i class="glyph glyph-charts"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                No Perfdata available.
                            {% endif %}

                        </td>
                    </tr>


                </table>
    {% endif %}
    </div>

    <div class="tab-pane" id="other">
        <h4>Information available via livestatus</h4>:
        <table class=table>
            {% for k,v in my_object.items %}
            <tr>
                <td>                {{ k }}
                </td>
                <td>
                {{ v }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tab-pane" id="information">
        <table class="table">
            <tr>
                <td>External Links </td>
                <td>
                    {% if my_object.notes_url_expanded %}
                        <a href="{{ my_object.notes_url_expanded }}">notes</a>
                    {% endif %}
                    {% if my_object.action_url_expanded %}
                        <a href="{{ my_object.action_url_expanded }}">actions</a>
                    {% endif %}
            </tr>
            <tr></tr>
            <tr>
                <td>
                <label for="id_notes">Notes</label>
                </td>
                <td><textarea id="id_notes" cols="100" rows=3 name="notes">{{ my_object.notes }}</textarea></td>
            </tr>
        </table>
        <hr>
        This check is executed every <a href="#">{{ my_object.check_interval }}</a> minutes.

        When a problem occurs it will check <a href="#">{{ my_object.max_check_attempts }}</a> times

        every <a href="#">{{ my_object.retry_interval }}</a> minutes before going to
        hard state and start sending out notifications.
        <table class=table>
            <tr>
                <td>Last Check</td>
                <td>{{ my_object.last_check }}</td>
            </tr>
            <tr>
                <td>Next Check</td>
                <td>{{ my_object.next_check }}<a href="#"><i class="glyph-refresh" title="Reschedule this check to run right now"></i></a></td>
            </tr>
            <tr>
                <td>Check Period</td>
                <td>
                    {% if my_object.check_period %}
                    <a href="{% url edit_by_shortname "timeperiod" my_object.check_period %}">{{ my_object.check_period }}</a></td>
                    {% else %}
                    Unknown
                    {% endif %}
            </tr>
            <tr>
                <td>Notification Period</td>
                <td><a href="{% url edit_by_shortname "timeperiod" my_object.notification_period %}">{{ my_object.notification_period }}</a></td>
            </tr>
        </table>
    </div>

    <div class="tab-pane" id="custom_variables">
        Some checks have custom variables defined. These can be defined for example to define warning/critical thresholds
        for custom plugins.
        <p></p>
        {% if my_object.custom_variables %}
        <table class="table">
            <tr>
                <th>
                    Variable Name
                </th>
                <th>
                    Value
                </th>
            </tr>
            {% for k,v in my_object.custom_variables.items %}
                <tr>
                <td>{{ k }}</td>
                <td>
                    <input name="{{ k }}" value="{{ v }}"/>
                </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        This check has no custom variables defined.
        {% endif %}
    </div>
        <div class="tab-pane" id="events">
            Last {{ log|length }} log entries:
            <table style="font-size: 80%;" class=table>
                {% for line in log %}
                    <tr class="state_{{ line.state }}">
                    <td>{{ line.time }}</td>
                    <td><div>{{ line.type }}</div></td>
                    <td><div>{{ line.options }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ block.super }}
    <style>
    .table th, .table td {
      line-height: 10px;
    }
    </style>
    <style>
        .state_0 {
            background-color: #DFF0D8;
            border-color: #D6E9C6;
        }
        .state_1 {
            background-color: #FCF8E3;
        }
        .state_2 {
            background-color: #EED3D7;
            color: #B94A48;
        }
        .state_3 {
            background-color: #d3d3d3;
        }
        .table td {
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% if host.services_with_info %}
            <h5>Actions</h5>
            <ul class="nav nav-list" style="white-space: nowrap;">
                <li><a href="{% url status.views.status %}"><i class="glyph-edit"> </i> Configure this object</a></li>
                <li><hr></li>
                <li><a href="{% url status.views.status %}"><i class="glyph-refresh"> </i> Reschedule Check</a></li>
                <li><a href="{% url status.views.status %}"><i class="glyph-ok-2"> </i> Acknowledge Problem</a></li>
                <li><a href="{% url status.views.status %}"><i class="glyph-alarm"> </i> Downtime</a></li>
            </ul>
            <h5>Services on this host</h5>
            <table class="table" style="margin:0px; padding:0px; height:10px">
            {% for i in host.services_with_info %}
                <tr>
                    <td class="state_{{ i.1 }}">
                        <a title="{{ i.3 }}" href="{% url status.views.status_detail host.name i.0 %}">
                            {{ i.0 }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
    {% endif %}
    <h5>See also</h5>
    <ul class="nav nav-list">
        <li><a href="{% url status.views.status %}">All Hosts</a></li>
    </ul>


{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}