{% extends "base_status.html" %}

{% block title %}Status Log{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Status Log{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% load adagiostags %}

{% block content %}
    <form method="GET" action="#tab_all" name="datetimepicker">
        <div id="datetimepicker" class="pull-left">
            <div id="datepicker_start_time" class="input-prepend date pull-left">
                <span class="add-on"><i class="icon-th"></i>
                </span><input name="start_time_picker" style="width: 70px" type="text">
            </div>
            <div class="control-group pull-left">
                &nbsp;<input name="start_hours" style="width: 40px" type="text">
            </div>
            <div class="pull-left">
                &nbsp;To
            </div>

            <div id="datepicker_end_time" class="input-prepend date pull-left">
                &nbsp;
                <span class="add-on"><i class="icon-th"></i>
                </span><input style="width: 70px" name="end_time_picker" type="text">
                <input name="end_hours" style="width: 40px" type="text">
            </div>
            <input name="start_time" type="hidden" value="{{ start_time }}">
            <input name="end_time" type="hidden" value="{{ end_time }}">
        </div>
        <div class="pull-left" style="padding-left: 8px">
            <input name="search" id="search_field" value="{{ request.GET.search }}" class="search-query" placeholder="search logs">
            <button type="submit" name="submit" >Search</button>
        </div>
        <div class="clearfix">
            <!-- <input type="text" class="slider" value=""> -->
        </div>
    </form>

    <ul class="nav nav-tabs" id="objecttab">
        <li class="active"><a href="#all" data-toggle="tab">All Logs</a></li>
        <li><a href="#alerts" data-toggle="tab">State Changes</a></li>
        <li><a href="#notifications_tab" data-toggle="tab">Notifications</a></li>
        <li><a href="#warning" data-toggle="tab">Warnings</a></li>
        <li><a href="#flapping" data-toggle="tab">Flapping Alerts</a></li>
        <li><a href="#commands" data-toggle="tab" >External Commands</a></li>
        <li><a href="#passive" data-toggle="tab" >Passive checks</a></li>
        <li><a href="#unclassified" data-toggle="tab">Other</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="alerts">
            Last {{ logs.alerts|length }} state changes:
            <table style="font-size: 80%;" class="table well table-condensed table-striped">
                <thead>
                <th>Time</th>
                <th>Host</th>
                <th>Service</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.alerts %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td><a href="{% url status.views.status_detail %}?host_name={{ line.host_name }}">{{ line.host_name }}</a></td>
                        <td><a href="{% url status.views.status_detail %}?host_name={{ line.host_name }}&service_description={{ line.service_description }}">{{ line.service_description }}</a></td>
                        <td><div class="circle-spin circle state_{{ line.state }}"></div></td>
                        <td>
                            <div>{{ line.text }}</div></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
        <div class="tab-pane " id="notifications_tab">
            Last {{ logs.notification|length }} notifications:
            <table style="font-size: 80%;" class="table well table-condensed table-striped">
            <thead>
            <th>Time</th>
            <th>Contact</th>
            <th>Host</th>
            <th>Service</th>
            <th></th>
            <th>Message</th>
            </thead>
            {% for line in logs.notification %}
                {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                    <!-- <tr><td colspan=4></td></tr> -->
                {% endifchanged %}
                <tr>
                    <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                    <td>{{ line.contact_name }}</td>
                    <td>{{ line.host_name }}</td>
                    <td>{{ line.service_description }}</td>
                    <td><div class="circle state_{{ line.state }}"></div></td>
                    <td>
                        <div>{{ line.text }}</div></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="tab-pane " id="flapping">
            Last {{ logs.flapping|length }} Flapping alerts:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.flapping %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td><div class="circle state_{{ line.state }}"></div></td>
                        <td>
                            <div>{{ line.text }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane " id="warning">
            Last {{ logs.warning|length }} Warnings:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.warning %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td><div class="circle state_{{ line.state }}"></div></td>
                        <td>
                            <div>{{ line.text }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane " id="commands">
            Last {{ logs.command|length }} External commands:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th>Command</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.command %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td><a href="?command_name={{ line.command_name }}">{{ line.command_name }}</a></td>
                        <td><div class="circle state_{{ line.state }}"></div></td>
                        <td>
                            <div style="white-space: nowrap;">{{ line.text }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane " id="passive">
            Last {{ logs.passive|length }} passive check results:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th>Host</th>
                <th>Service</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.passive %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td><a href="?class_name={{ request.GET.class_name }}&host_name={{ line.host_name }}">{{ line.host_name }}</a></td>
                        <td><a href="?class_name={{ request.GET.class_name }}&host_name={{ line.host_name }}&service_description={{ line.service_description }}">{{ line.service_description }}</a></td>
                        <td><div class="circle-spin circle state_{{ line.state }}"></div></td>
                        <td>
                            <div>{{ line.text }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane " id="unclassified">
            Last {{ logs.unclassified|length }} misc entries:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.unclassified %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td>
                            <a title="{{ line.class_name }} - {{ line.type }} "href="?type={{ line.type }}">
                                <div class="circle state_{{ line.state }}"></div>
                            </a>

                        <td>
                            <div style="white-space: nowrap;">{{ line.options }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane active" id="all">
            Last {{ logs.all|length }} log entries:
            <table style="font-size: 80%;" class="table well table-condensed">
                <thead>
                <th>Time</th>
                <th>Type</th>
                <th></th>
                <th>Message</th>
                </thead>
                {% for line in logs.all %}
                    {% ifchanged line.time|timestamp|date:"Y-m-d" %}
                        <!-- <tr><td colspan=4></td></tr> -->
                    {% endifchanged %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.time|timestamp|date:'Y-m-d H:i' }} </td>
                        <td class="nowrap">{{ line.type }}</td>
                        <td>
                            <a title="{{ line.class_name }} - {{ line.type }} "href="?type={{ line.type }}">
                                <div class="circle state_{{ line.state }}"></div>
                            </a>

                        <td>
                            <div style="white-space: nowrap;">{{ line.options }}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block toolbar %} {% endblock %}

{% block footer %} {{ block.super }}
    <script type="text/javascript">

        function epochToDate(epoch) {
            return new Date(epoch * 1000);
        }
        function dateToEpoch(date) {
            return date.getTime() / 1000;
        }
        function dateStr(date) {
            return date.getFullYear() + "-" + zeropad(date.getMonth()+1, 2) + "-" + zeropad(date.getDate(), 2);
        }
        function zeropad(number, length) {
            result = number + "";
            while (result.length < length) {
                result = "0" + result;
            }
            return result;
        }

        $(document).ready(function() {
            /*
            Temporarily disabled until we made a slider decision, not production ready

            var timeperiod = $('.slider').slider({
                value: [0, 96],
                min: 0,
                max: 96,
                tooltip: "hide"
            }).on('slide', function (ev) {
                    //console.log(ev);
                    var time_range = [];
                    for (var x = 0;x < 2;x++) {
                        value = ev.value[x];
                        var hour = parseInt(value / 4);
                        var time = (value % 4) * 15;
                        if (time < 10) {
                            time = "0" + time;
                        }
                        if (value == 96) {
                            hour = 23;
                            time = 59;
                        }
                        time_range[x] = hour + ":" + time;
                    }
                    $("input[name='start_hours']").val(time_range[0]);
                    $("input[name='end_hours']").val(time_range[1]);
            });
             */
            // Get the hidden inputs
            var end_time = $("input[name='end_time']");
            var start_time = $("input[name='start_time']");

            // end_time set to end of today if not specified
            if (end_time.val() == "None") {
                today = new Date;
                end_time.val(dateToEpoch(new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0, 0)) + 86399);
            }

            // Parse start and end time epohcs to date objects
            end_time.data("dateobj", epochToDate(end_time.val()));
            start_time.data("dateobj", epochToDate(start_time.val()));

            // Set the hours on load
            $("input[name='start_hours']").val(
                    start_time.data("dateobj").getHours() + ":" +
                    zeropad(start_time.data("dateobj").getMinutes(), 2));
            $("input[name='end_hours']").val(
                    end_time.data("dateobj").getHours() + ":" +
                    zeropad(end_time.data("dateobj").getMinutes(), 2));

            // Set current values
            $("input[name='start_time_picker']").val(dateStr(start_time.data('dateobj')))
                    .datepicker({ format: "yyyy-mm-dd" })
                    .on('changeDate', function(ev) {
                        dateobj = start_time.data("dateobj");
                        dateobj.setYear(ev.date.getFullYear());
                        dateobj.setMonth(ev.date.getMonth());
                        dateobj.setDate(ev.date.getDate());
                        console.log("changedate");
                    });
            $("input[name='end_time_picker']").val(dateStr(end_time.data('dateobj')))
                    .datepicker({ format: "yyyy-mm-dd" })
                    .on('changeDate', function(ev) {
                        dateobj = end_time.data("dateobj");
                        dateobj.setYear(ev.date.getFullYear());
                        dateobj.setMonth(ev.date.getMonth());
                        dateobj.setDate(ev.date.getDate());
                        console.log("changedate");
                    });

            // Assign click to sibling calendar icon
            $("input[name='end_time_picker']").siblings().on('click', function() {
                $("input[name='end_time_picker']").datepicker('show');
            });
            $("input[name='start_time_picker']").siblings().on('click', function() {
                $("input[name='start_time_picker']").datepicker('show');
            });

            // Handle hour changes
            $("input[name$='_hours']").on('change', function() {
                hour = $(this).val();
                var numregex = /^\d{1,2}:\d{1,2}$/;
                if (!numregex.test(hour)) {
                    $(this).focus();
                    $(this).parent().addClass('error');
                    return false;
                }
                var time = hour.split(':');
                time[0] = (time[0] % 24)
                time[1] = (time[1] % 60)
                $(this).parent().removeClass('error');
                $(this).val(time[0] + ":" + zeropad(time[1],2));

                var which = $(this).attr("name").split("_")[0];
                var input = $("input[name='" + which + "_time']");
                input.data('dateobj').setHours(time[0]);
                input.data('dateobj').setMinutes(time[1]);
                return true;
            });
            // Apply dateobj to start and end _time
            $("form[name='datetimepicker']").submit(function() {
                start_time.val(dateToEpoch(start_time.data('dateobj')));
                end_time.val(dateToEpoch(end_time.data('dateobj')));
                console.log(start_time.val());
                console.log(end_time.val());
            });
        });
    </script>

{% endblock %}