{% extends "base_misc.html" %}

{% block title %}{{ block.super }}{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Service List{% endblock %}
{% block nav1 %}{{ block.super }}{% endblock %}

{% block adagios_hausinn %}{{ block.super }}{% endblock %}

{% block content %}

    <table class="table" style="line-height:6px; font-size:12px;">
    {% for host in hosts %}
            <tr style="line-height:10px;" class="state_{{ host.state }}">
                <th colspan=2 style="line-height:5px; padding-right: 0px;"  >
                    <a href="{% url status.views.status_detail host.name %}">
                        {{ host.name }}
                    </a>
                </th>
                <th colspan=3 style="line-height:5px;">
                    <!-- {{ host.plugin_output }} -->
                </th>
            </tr>
            {% for service in host.services %}
                <tr style="line-height:6px;">
                <td></td>
                <td  style="white-space: nowrap; line-height:6px;">
                    <a href="{% url status.views.status_detail host.name service.description %}">{{ service.description }}</a>
                </td>
                <td class=state_{{ service.state }}><b>{{ service.status }}</b></td>
                <td>{{ service.plugin_output }}</td>
                </tr>
            {% endfor %}
    {% endfor %}
    </table>


{% endblock %}


{% block header %}
    {{ block.super }}
    <style>
        .state_0 {
            background-color: #DFF0D8;
            border-color: #D6E9C6;
        }
        .state_1 {
            background-color: #FCF8E3;
        }
        .state_2 {
            background-color: #EED3D7;
            color: #B94A48;
        }
        .state_3 {
            background-color: #d3d3d3;
        }
        .table td {
            line-height: 10px;
        }
    </style>



{% endblock %}

{% block sidebar %}
    <h5>Go to</h5>
    <ul class="nav nav-list">
        <li><a href="{% url status.views.status %}">See All</a></li>
        <li><a href="{% url status.views.status %}?state=1">See Warnings</a></li>
        <li><a href="{% url status.views.status %}?state=2">See Critical</a></li>
        <li><a href="{% url status.views.status %}?state__isnot=0">Problems</a></li>

        <li><a href="{% url status.views.status %}?state__isnot=0&has_been_acknowledged=0">Unhandled Problems</a></li>
    </ul>

{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}