{% extends "base_status.html" %}

{% block title %}Hostgroups{% endblock %}
{% block nav2 %}<a href="{% url status.views.status_hostgroup %}">Hostgroups</a>{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}
    {% if hostgroup_name %}Hostgroup {{ hostgroup_name }}
    {% else %}
    Hostgroups
    {% endif %}
{% endblock %}

{% block adagios_hausinn %}
    <div style="margin-top: 5px;" >
        <form action="{% url status.views.status %}" action="get" style="margin-bottom: 2px;">
            <input name="q"  style="width: 400px;  line-height: 22px; margin-left: 50px;" class="search-query" placeholder="hostgroups,hosts,services,etc..." />
            <button type="submit" class='btn add-on btn-info'>
                <i class="icon-white icon-search"></i>
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}

    {% if hostgroups %}
        <table class="table well" style="line-height:6px; font-size:12px;" >
        <tr>
            <th>Hostgroup</th>
            <th>Hosts</th>
            <th>Services</th>
            <th>Health</th>
            <th colspan=2>Service Status</th>
        </tr>
        {% for row in hostgroups %}
            {% if row.members|length > 0 %}
                <tr>
                    <td><a href="{% url status.views.status_hostgroup row.name %}">{{ row.name }}</a></td>
                    <td>
                        {{ row.members|length }}
                    </td>
                    <td>
                        {{ row.total }}
                    </td>

                    <td>
                        {% if row.health > -1 %}
                        {{ row.health|floatformat }}%
                        {% else %}
                        0
                        {% endif %}
                    </td>

                    <td>
                        <div class="progress">
                            <div class="bar bar-success" style=" width: {{ row.percent_ok }}%;"></div>
                            <div class="bar bar-warning" style=" width: {{ row.percent_warn }}%;"></div>
                            <div class="bar bar-danger" style=" width: {{ row.percent_crit }}%;"></div>
                            <div class="bar bar-info" style=" width: {{ row.percent_unknown }}%;"></div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <!-- hostgroup {{ row.name }} was empty and therefor skippe -->
            {% endif %}
        {% endfor %}
        </table>
    {% else %}
    {% endif %}

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    {% if hostgroup_name %}
                        <h4>Hostgroup {{ hostgroup_name }} has {{ hosts|length }} hosts</h4>
                    {% else %}
                        <h4>See all {{ hosts|length }} hosts</h4>
                    {% endif %}
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% if hosts %}

                        <table class="table well" style="line-height:6px; font-si"h: 75%;" >
                        <tr>
                            <th>Host Name</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Service Status</th>
                        </tr>

                        {% for row in hosts %}
                            <tr >
                                <td><a style="color: black" href="{% url status.views.status_detail row.name %}">{{ row.name }}</a></td>
                                <td>{{ row.address }}</td>
                                {% if row.state  == 0 %}
                                    <td class="alert alert-success">UP</td>
                                {% else %}
                                    <td class="alert alert-danger">Down</td>
                                {% endif %}
                                <td>
                                    <div class="progress">
                                        <div class="bar bar-success" style="width: {{ row.percent_ok }}%;"></div>
                                        <div class="bar bar-warning" style="width: {{ row.percent_warn }}%;"></div>
                                        <div class="bar bar-danger" style="width: {{ row.percent_crit }}%;"></div>
                                        <div class="bar bar-info" style="width: {{ row.percent_unknown }}%;"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        No hosts in this hostgroup.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %} {{ block.super }}
    <style>
    .progress {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
    background-color:#F7F7F7;
    background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
    background-repeat:repeat no-repeat;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
    height:20px;
    margin-bottom:0px;
    overflow:hidden;
    }
    .progress .bar {
    -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    -webkit-transition:width 0.6s ease;
    background-color:#0E90D2;
    background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
    background-repeat:repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    box-sizing:border-box;
    color:#FFFFFF;
    float:left;
    font-size:12px;
    height:100%;
    text-align:center;
    text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
    width:0;
    }
    .progress .bar + .bar {
    -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    }
    .progress-striped .bar {
    -webkit-background-size:40px;
    background-color:#149BDF;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    background-size:40px;
    }
    .progress.active .bar {
    -webkit-animation:progress-bar-stripes 2s linear infinite;
    }
    .progress-danger .bar, .progress .bar-danger {
    background-color:#DD514C;
    background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
    background-repeat:repeat no-repeat;
    }
    .progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    background-color:#EE5F5B;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    }
    .progress-success .bar, .progress .bar-success {
    background-color:#5EB95E;
    background-image:-webkit-linear-gradient(top, #62C462, #57A957);
    background-repeat:repeat no-repeat;
    }
    .progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color:#62C462;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    }
    .progress-info .bar, .progress .bar-info {
    background-color:#4BB1CF;
    background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
    background-repeat:repeat no-repeat;
    }
    .progress-info.progress-striped .bar, .progress-striped .bar-info {
    background-color:#5BC0DE;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    }
    .progress-warning .bar, .progress .bar-warning {
    background-color:#FAA732;
    background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
    background-repeat:repeat no-repeat;
    }
    .progress-warning.progress-striped .bar, .progress-striped .bar-warning {
    background-color:#FBB450;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    }
    </style>

{% endblock %}



{% block footer %} {{ block.super }} <style>
    .input-append button.add-on {
        height: inherit !important;
    }
</style> {% endblock %}

{% block head %}
    <style>
        .progress {
            -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
            background-color:#F7F7F7;
            background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
            background-repeat:repeat no-repeat;
            border-bottom-left-radius:4px;
            border-bottom-right-radius:4px;
            border-top-left-radius:4px;
            border-top-right-radius:4px;
            box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
            height:20px;
            margin-bottom:0px;
            overflow:hidden;
        }
        .progress .bar {
            -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            -webkit-transition:width 0.6s ease;
            background-color:#0E90D2;
            background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
            background-repeat:repeat no-repeat;
            box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            box-sizing:border-box;
            color:#FFFFFF;
            float:left;
            font-size:12px;
            height:100%;
            text-align:center;
            text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
            width:0;
        }
        .progress .bar + .bar {
            -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
        }
        .progress-striped .bar {
            -webkit-background-size:40px;
            background-color:#149BDF;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
            background-size:40px;
        }
        .progress.active .bar {
            -webkit-animation:progress-bar-stripes 2s linear infinite;
        }
        .progress-danger .bar, .progress .bar-danger {
            background-color:#DD514C;
            background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
            background-repeat:repeat no-repeat;
        }
        .progress-danger.progress-striped .bar, .progress-striped .bar-danger {
            background-color:#EE5F5B;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-success .bar, .progress .bar-success {
            background-color:#5EB95E;
            background-image:-webkit-linear-gradient(top, #62C462, #57A957);
            background-repeat:repeat no-repeat;
        }
        .progress-success.progress-striped .bar, .progress-striped .bar-success {
            background-color:#62C462;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-info .bar, .progress .bar-info {
            background-color:#4BB1CF;
            background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
            background-repeat:repeat no-repeat;
        }
        .progress-info.progress-striped .bar, .progress-striped .bar-info {
            background-color:#5BC0DE;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-warning .bar, .progress .bar-warning {
            background-color:#FAA732;
            background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
            background-repeat:repeat no-repeat;
        }
        .progress-warning.progress-striped .bar, .progress-striped .bar-warning {
            background-color:#FBB450;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
    </style>

{% endblock %}