{% extends "base_status.html" %}

{% block title %}Status Overview{% endblock %}
{% block nav2 %}<a href="{% url status.views.status_index %}">Overview</a>{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Status Overview{% endblock %}

{% block view_buttons %}{% endblock %}
{% block action_buttons %}{% endblock %}

{% block content %}

        <div class="span4">
            <h3>Status Overview</h3>
            <table class="table well table-condensed">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>#</th>
                    <th><i class="glyph-warning-sign" title="Unhandled Problems"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Network Parents</td>
                    <td><a href="{% url status.views.status_parents %}">{{ total_network_parents }}</a></td>
                    <td>
                        {% if  total_network_problems == 0 %}
                        {% else %}

                                <a href="{%  url status.views.status %}?state__isnot=0&acknowledged__isnot=1">
                                    {{ total_network_problems }}
                                </a>

                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Hosts</td>
                    <td><a href="{% url status.views.status_host %}">{{ total_hosts }}</a></td>
                    <td>
                        {% if  unhandled_hosts == 0 %}
                        {% else %}
                            <a href="{%  url status.views.status_host %}?state__isnot=0&acknowledged=0&">
                                {{ unhandled_hosts }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Services</td>
                    <td><a href="{% url status.views.status %}"> {{ total_services }}</a></td>
                    <td>
                        {% if  unhandled_services == 0 %}
                        {% else %}
                            <a href="{%  url status.views.status %}?state__isnot=0&acknowledged=0&">
                                {{ unhandled_services }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h3>Current Health</h3>
            <table class="table well">
                <tr>
                    <td  style="white-space: nowrap" width=20px>All hosts</td>
                    <th>
                        <div class="progress">
                            <div class="bar bar-success" style=" width: {{ host_totals_percent.0 }}%;">{{ host_totals_percent.0|floatformat }}%</div>
                            <div class="bar bar-warning" style=" width: {{ host_totals_percent.1 }}%;"></div>
                            <div class="bar bar-danger" style=" width: {{ host_totals_percent.2 }}%;"></div>
                            <div class="bar bar-unknown" style=" width: {{ host_totals_percent.3 }}%;"></div>
                        </div>

                    </th>
                </tr>
                <tr>
                    <td style="white-space: nowrap" width=20px>All services</td>
                    <th>
                        <div class="progress">
                            <div class="bar bar-success" style=" width: {{ service_totals_percent.0 }}%;">{{ service_totals_percent.0|floatformat }}%</div>
                            <div class="bar bar-warning" style=" width: {{ service_totals_percent.1 }}%;"></div>
                            <div class="bar bar-danger" style=" width: {{ service_totals_percent.2 }}%;"></div>
                            <div class="bar bar-unknown" style=" width: {{ service_totals_percent.3 }}%;"></div>
                        </div>

                    </th>
                </tr>
            </table>
        </div>
        <div class="span4">
            <h3>Top Alert Producers</h3>
            <table class="table-condensed well table">
                <tr>
                    <th>Host</th>
                    <th>Recent Alerts</th>
                </tr>
            {% for i in top_alert_producers %}
                {% if forloop.counter0 < 5 %}
                <tr>
                <td><a href="{% url status.views.status_detail  %}?host_name={{ i.0 }}">{{ i.0 }}</a></td>
                <td><a href="{% url status.views.status_detail %}?&host_name={{ i.0 }}#tab_events">{{ i.1 }}</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    <!--
    <div class="span5">
        <h3>Nagios Components</h3>
        <table class="table-condensed well table">
            <tr>
                <th>Component</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>
                    Nagios Core
                </td>
                <td>
                    <div class="circle state_0"></div>
                    3.4.1
                </td>
            </tr>
            <tr>
                <td>
                    Livestatus Broker Module
                </td>
                <td>
                    <div class="circle state_0"></div>
                </td>
            </tr>
            <tr>
                <td>
                        PNP Broker Module
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
            <tr>
                <td>
                        Mod Gearman
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
            <tr>
                <td>
                        Git Repository
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
        </table>
    </div>
    <div class="span5">
        <h3>Adagios Components</h3>
        <table class="table-condensed well table">
            <tr>
                <th>Component</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>
                    Status Module
                </td>
                <td>
                    <div class="circle state_0"></div>
                </td>
            </tr>
            <tr>
                <td>
                    PNP Module
                </td>
                <td>
                    <div class="circle state_0"></div>
                </td>
            </tr>
            <tr>
                <td>
                    Configuration Module
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
            <tr>
                <td>
                    OKConfig Module
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
            <tr>
                <td>
                    Git Integration
                </td>
                <td>
                    <div class="circle state_0"></div>

                </td>
            </tr>
        </table>
    </div>
    -->
{% endblock %}

{% block header %} {{ block.super }}
{% endblock %}



{% block footer %}
    {{ block.super }}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

    $(document).ready(function() {
        $('#action_buttons').hide();
    });
    </script>
{% endblock %}

{% block head %}
{% endblock %}