{% extends "base_status.html" %}

{% block title %}Error{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Oh no, something went wrong while loading the webpage :({% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% load adagiostags %}

{% block content %}
    {% if exception %}
        <div class="alert alert-danger">
            <b>{{ exception_type }}</b>: {{ exception }}
        </div>

    {% endif %}

    {% if traceback %}
    <p>If you think this is a bug. Send the following information to the developers:</p>
        <pre>{{ traceback }}</pre>
    {% endif %}
{% endblock %}

{% block toolbar %} {% endblock %}

{% block footer %} {{ block.super }} {% endblock %}