{% extends "base_status.html" %}

{% block title %}Status Overview{% endblock %}
{% block smallheader %}{% endblock %}
{% block adagios_hausinn %}
{% endblock %}
{% block largeheader %}Service Overview
{% endblock %}
{% block nav1 %}{{ block.super }}{% endblock %}
{% load adagiostags %}

{% block sidebar_outer %}
{% endblock %}

{% block content %}
            <table class="table table-condensed well" id="datatable" style="line-height:6px; font-size:12px;">
            <thead>
                <tr>
                    <th class="small">
                        <div class="btn-group" id="select_bar">
                            <a class="" data-toggle="dropdown" href="#">
                                <input style="margin-left: -2px; padding: 0px;" type="checkbox" id="select_many">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="select_all"> All</a></li>
                                <li><a id="select_none"> None</a></li>
                                <li><a id="select_unhandled_problems" > Unhandled Problems</a></li>
                                <li><a id="select_problems"> All Problems</a></li>
                            </ul>
                        </div>
                    </th>
                    <th class="small">
                        <i class="glyph-chat " title="Comments"></i>
                    </th>
                    <th class="small">
                        <i class=" glyph-stopwatch  " title="downtimes"></i>
                    </th>
                    <th class="small">
                        <i class=" glyph-warning-sign" title="Notifications have been sent"></i>
                    </th>
                    <th>Host</th>
                    <th>Service Check</th>
                    <th>Received</th>
                </tr>
            </thead>
            <tbody class="">
                {% for host in hosts %}
                        {% for service in host.services %}
                            <tr >
                            <td >
                                <input class="chkbox {{ service.tags }}"  style="margin: -2px; padding: 0px;" type="checkbox">
                                <input type="hidden" class="input_hostname" name="host_name" value="{{ host.name }}">
                                <input type="hidden" class="input_service_description" name="service_description" value="{{ service.description }}">
                            </td>
                            <td>
                                {% if service.comments  %}
                                    <i class=" glyph-chat  " title="{{ service.comments_with_info }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if service.downtimes or service.host_downtimes %}
                                    <i class=" glyph-stopwatch  " title="{{ service.downtimes }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if service.acknowledged == 1 or service.host_acknowledged  == 1 %}
                                {% else %}
                                    <i class="glyph-warning-sign" title="Unhandled problem. Please acknowledge it."></i>
                                {% endif %}
                            </td>
                            <td style="white-space: nowrap;">{% ifchanged host.name %}
                                <div title="{{ host.plugin_output }}" class="circle state_{{ host.state }}"></div>
                                {{ host.name }}
                            {% endifchanged %}</td>
                            <td  colspan=1 style="word-wrap: break-word;">
                                 <a href="{% url status.views.status_detail host.name service.description %}" title='{{ service.status }} for the past {{ service.last_state_change|timestamp|timesince }}'>
                                     <div class="circle state_{{ service.state }}"> </div> {{ service.description }}</a>
                                <!-- TODO: Instead of all this slicing crap... proper ellipse effect in CSS -->
                                <span title="{{ service.plugin_output }}" style="font-size: 80%; color: #808080; font-weight: normal;">
                                         {{ service.plugin_output|slice:"70" }}
                                 </span>


                            </td>
                            <td style="white-space: nowrap; font-size: 80%;">
                                {{ service.last_check|timestamp|date:'Y-m-d H:i' }}
                            </td>
                            <!-- <td class="state_{{ service.state }}"><b>{{ service.status }}</b></td> -->
                            </tr>
                        {% endfor %}
                {% endfor %}
            </tbody>
            </table>
{% endblock %}


{% block header %}
    {{ block.super }}

        <style>
        .small{
            width: 20px;
            max-width: 20px;
        }
        </style>

    <style>
        .input-append button.add-on {
            height: inherit !important;
        }
    </style>
    <style>
        form {
            margin: 0px;
        }
    </style>

{% endblock %}

{% block sidebar %}
    <h5>Go to</h5>
    <ul class="nav nav-list">
        <li><a href="{% url status.views.status_hostgroup %}">Hostgroup View</a></li>
        <li><a href="{% url status.views.status %}">Service View</a></li>
        <li><a href="{% url status.views.test_livestatus %}">Test Livestatus</a></li>
    </ul>

{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}