{% extends "base_status.html" %}
{% load i18n %}

{% block title %}Datatable status{% endblock %}
{% block nav2 %}
{% endblock %}
{% block smallheader %}
{% endblock %}
{% block largeheader %}
    Datatable status
{% endblock %}

{% block content %}

<table id="status_dt">
  <thead>
    <tr>
      <th>Host name</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}

{% block header %} {{ block.super }}
{% endblock %}

{% block footer %}
{{ block.super }}

<script>
$(document).ready(function() {
    $('#status_dt').dataTable( {
        "bProcessing": true,
        "bServerSide": true,

        "sAjaxSource": "/rest/status/json/services_dt"
    } );
} );
</script>

{% endblock %}
