{% extends "base_status.html" %}

{% block title %}Hostgroups{% endblock %}
{% block nav2 %}<a href="{% url status.views.status_hostgroup %}">Hostgroups</a>{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}
    {% if hostgroup_name %}Hostgroup {{ hostgroup_name }}
    {% else %}
    Hostgroups
    {% endif %}
{% endblock %}

{% block adagios_hausinn %}
    <div style="margin-top: 5px;" >
        <form action="{% url status.views.status %}" action="get" style="margin-bottom: 2px;">
            <input name="q"  style="width: 400px;  line-height: 22px; margin-left: 50px;" class="search-query" placeholder="hostgroups,hosts,services,etc..." />
            <button type="submit" class='btn add-on btn-info'>
                <i class="icon-white icon-search"></i>
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}

    {% if hostgroups %}
        <table class="table well table-condensed" style="line-height:6px; font-size:12px;" >
        <tr>
            <th>Hostgroup</th>
            <th>Hosts</th>
            <th>Services</th>
            <th>Health</th>
            <th colspan=2>Service Status</th>
        </tr>
        {% for row in hostgroups %}
            {% if row.members|length > 0 %}
                <tr>
                    <td><a href="{% url status.views.status_hostgroup row.name %}">{{ row.name }}</a></td>
                    <td>
                        {{ row.members|length }}
                    </td>
                    <td>
                        {{ row.total }}
                    </td>

                    <td>
                        {% if row.health > -1 %}
                        {{ row.health|floatformat }}%
                        {% else %}
                        0
                        {% endif %}
                    </td>

                    <td>
                        <div class="progress">
                            <div class="bar bar-success" style=" width: {{ row.percent_ok }}%;"></div>
                            <div class="bar bar-warning" style=" width: {{ row.percent_warn }}%;"></div>
                            <div class="bar bar-danger" style=" width: {{ row.percent_crit }}%;"></div>
                            <div class="bar bar-info" style=" width: {{ row.percent_unknown }}%;"></div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <!-- hostgroup {{ row.name }} was empty and therefor skippe -->
            {% endif %}
        {% endfor %}
        </table>
    {% else %}
    {% endif %}

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    {% if hostgroup_name %}
                        <h4>Hostgroup {{ hostgroup_name }} has {{ hosts|length }} hosts</h4>
                    {% else %}
                        <h4>See all {{ hosts|length }} hosts</h4>
                    {% endif %}
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% if hosts %}

                        <table class="table well table-condensed" style="line-height:6px; font-si"h: 75%;" >
                        <tr>
                            <th>Host Name</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Service Status</th>
                        </tr>

                        {% for row in hosts %}
                            <tr >
                                <td><a style="color: black" href="{% url status.views.status_detail row.name %}">{{ row.name }}</a></td>
                                <td>{{ row.address }}</td>
                                {% if row.state  == 0 %}
                                    <td class="alert alert-success">UP</td>
                                {% else %}
                                    <td class="alert alert-danger">Down</td>
                                {% endif %}
                                <td>
                                    <div class="progress">
                                        <div class="bar bar-success" style="width: {{ row.percent_ok }}%;"></div>
                                        <div class="bar bar-warning" style="width: {{ row.percent_warn }}%;"></div>
                                        <div class="bar bar-danger" style="width: {{ row.percent_crit }}%;"></div>
                                        <div class="bar bar-info" style="width: {{ row.percent_unknown }}%;"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        No hosts in this hostgroup.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %} {{ block.super }}
    <style>

    @-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

    @-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

    @-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

    @-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

    @keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

    .progress {
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f7f7f7;
        background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
        background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
        background-repeat: repeat-x;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
    }

    .progress .bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #0e90d2;
        background-image: -moz-linear-gradient(top, #149bdf, #0480be);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
        background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
        background-image: -o-linear-gradient(top, #149bdf, #0480be);
        background-image: linear-gradient(to bottom, #149bdf, #0480be);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: width 0.6s ease;
        -moz-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }

    .progress .bar + .bar {
        -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    }

    .progress-striped .bar {
        background-color: #149bdf;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        -webkit-background-size: 40px 40px;
        -moz-background-size: 40px 40px;
        -o-background-size: 40px 40px;
        background-size: 40px 40px;
    }

    .progress.active .bar {
        -webkit-animation: progress-bar-stripes 2s linear infinite;
        -moz-animation: progress-bar-stripes 2s linear infinite;
        -ms-animation: progress-bar-stripes 2s linear infinite;
        -o-animation: progress-bar-stripes 2s linear infinite;
        animation: progress-bar-stripes 2s linear infinite;
    }

    .progress-danger .bar,
    .progress .bar-danger {
        background-color: #dd514c;
        background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
        background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
    }

    .progress-danger.progress-striped .bar,
    .progress-striped .bar-danger {
        background-color: #ee5f5b;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }

    .progress-success .bar,
    .progress .bar-success {
        background-color: #5eb95e;
        background-image: -moz-linear-gradient(top, #62c462, #57a957);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
        background-image: -webkit-linear-gradient(top, #62c462, #57a957);
        background-image: -o-linear-gradient(top, #62c462, #57a957);
        background-image: linear-gradient(to bottom, #62c462, #57a957);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
    }

    .progress-success.progress-striped .bar,
    .progress-striped .bar-success {
        background-color: #62c462;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }

    .progress-info .bar,
    .progress .bar-info {
        background-color: #4bb1cf;
        background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
        background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
        background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
        background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
    }

    .progress-info.progress-striped .bar,
    .progress-striped .bar-info {
        background-color: #5bc0de;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }

    .progress-warning .bar,
    .progress .bar-warning {
        background-color: #faa732;
        background-image: -moz-linear-gradient(top, #fbb450, #f89406);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
        background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
        background-image: -o-linear-gradient(top, #fbb450, #f89406);
        background-image: linear-gradient(to bottom, #fbb450, #f89406);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    }

    .progress-warning.progress-striped .bar,
    .progress-striped .bar-warning {
        background-color: #fbb450;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    </style>

{% endblock %}



{% block footer %} {{ block.super }} <style>
    .input-append button.add-on {
        height: inherit !important;
    }
</style> {% endblock %}

{% block head %}
    <style>
        .progress {
            -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
            background-color:#F7F7F7;
            background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
            background-repeat:repeat no-repeat;
            border-bottom-left-radius:4px;
            border-bottom-right-radius:4px;
            border-top-left-radius:4px;
            border-top-right-radius:4px;
            box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
            height:20px;
            margin-bottom:0px;
            overflow:hidden;
        }
        .progress .bar {
            -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            -webkit-transition:width 0.6s ease;
            background-color:#0E90D2;
            background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
            background-repeat:repeat no-repeat;
            box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            box-sizing:border-box;
            color:#FFFFFF;
            float:left;
            font-size:12px;
            height:100%;
            text-align:center;
            text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
            width:0;
        }
        .progress .bar + .bar {
            -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
            box-shadow:rgba(0, 0, 0, 0.14902) 1px 0 0 inset, rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
        }
        .progress-striped .bar {
            -webkit-background-size:40px;
            background-color:#149BDF;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
            background-size:40px;
        }
        .progress.active .bar {
            -webkit-animation:progress-bar-stripes 2s linear infinite;
        }
        .progress-danger .bar, .progress .bar-danger {
            background-color:#DD514C;
            background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
            background-repeat:repeat no-repeat;
        }
        .progress-danger.progress-striped .bar, .progress-striped .bar-danger {
            background-color:#EE5F5B;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-success .bar, .progress .bar-success {
            background-color:#5EB95E;
            background-image:-webkit-linear-gradient(top, #62C462, #57A957);
            background-repeat:repeat no-repeat;
        }
        .progress-success.progress-striped .bar, .progress-striped .bar-success {
            background-color:#62C462;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-info .bar, .progress .bar-info {
            background-color:#4BB1CF;
            background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
            background-repeat:repeat no-repeat;
        }
        .progress-info.progress-striped .bar, .progress-striped .bar-info {
            background-color:#5BC0DE;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
        .progress-warning .bar, .progress .bar-warning {
            background-color:#FAA732;
            background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
            background-repeat:repeat no-repeat;
        }
        .progress-warning.progress-striped .bar, .progress-striped .bar-warning {
            background-color:#FBB450;
            background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
        }
    </style>

{% endblock %}