{% extends "base_status.html" %}
{% load i18n %}

{% block title %}Contacts{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Contacts{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url status.views.contact_list %}">Contacts</a>{% endblock %}
{% load adagiostags %}

{% block content %}
    {% include "snippets/status_contactlist_snippet.html" %}
{% endblock %}

{% block view_buttons %}{% endblock %}
{% block action_buttons %}{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}