{% extends "base_status.html" %}

{% block title %}Hosts{% endblock %}
{% block nav2 %}
    <a href="{% url status.views.hosts %}">Hosts</a>
    {% if host_name %}
    / {{ host_name }}
    {% else %}
    {% endif %}
{% endblock %}
{% block smallheader %}
    {% if hostgroup_name %}host
    {% endif %}
{% endblock %}
{% block largeheader %}
    {% if host_name %}{{ host_name }}
    {% else %}
    Hosts
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="objecttabs">
        <li class=active><a href="#hosts" data-toggle="tab">Hosts {% if hosts %}<span class="muted">({{ hosts|length }})</span>{% endif %}</a></li>
        <li><a href="{% url status.views.status_hostgroups %}" data-toggle="tabs">Hostgroups {% if hostgroups %}<span class="muted">({{ hostgroups|length }})</span>{% endif %}</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="hosts">
            {% include "snippets/status_hostlist_snippet.html" %}
        </div>

        <div class="tab-pane active" id="hostgroups">
            {% include "snippets/status_hostgrouplist_snippet.html" %}
        </div>
    </div>

{% endblock %}

{% block header %} {{ block.super }}
{% endblock %}




{% block head %}
{% endblock %}