{% extends "base_status.html" %}

{% block title %}Status Overview{% endblock %}
{% block smallheader %}{% endblock %}
{% block adagios_hausinn %}
{% endblock %}
{% block largeheader %}Service Overview
{% endblock %}
{% block nav1 %}{{ block.super }}{% endblock %}
{% load adagiostags %}

{% block sidebar_outer %}
{% endblock %}
{% block content_span %}span12{% endblock %}

{% block content %}
            <table class="table well table-condensed" style="line-height:6px; font-size:12px;">
            <thead>
                <!--
                <tr>
                    <th></th>
                    <th>Host</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>Output</th>
                </tr>
                -->
            </thead>
            <tbody class="">
                {% for host in hosts %}
                        {% for service in host.services %}
                            <tr >
                            <td >
                                <input style="margin: -2px; padding: 0px;" type="checkbox">
                            </td>
                                <td style="white-space: nowrap;">{% ifchanged host.name %}
                                    <div title="{{ host.plugin_output }}" class="circle state_{{ host.state }}"></div>
                                    {{ host.name }}
                                {% endifchanged %}</td>
                            <td  colspan=1 style="white-space: nowrap;">
                                 <a href="{% url status.views.status_detail host.name service.description %}" title=''>
                                     {{ service.description }}</a>
                            </td>
                            <td class="state_{{ service.state }}"><b>{{ service.status }}</b></td>
                            <td style="font-size: 80%">{{ service.plugin_output }}</td>
                            </tr>
                        {% endfor %}
                {% endfor %}
            </tbody>
            </table>
{% endblock %}


{% block header %}
    {{ block.super }}
    <style>
        .state_0 {
            color: #468847;
            background-color: #DFF0D8;
            border-color: #D6E9C6;
        }
        .state_1 {
            background-color: #FCEFB0;
        }
        .state_2 {
            color: #B94A48;
            background-color: #F2DEDE;
            border-color: #EED3D7;
        }
        .state_3 {
            background-color: #d3d3d3;
        }
        .table td {
            line-height: 10px;
        }
        .circle {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            display: inline-block;
            /* width and height can be anything, as long as they're equal */
        }
        a {
            color:  black;
        }
        <style>

    <style>
        .input-append button.add-on {
            height: inherit !important;
        }
    </style>
    <style>
        form {
            margin: 0px;
        }
    </style>

{% endblock %}

{% block sidebar %}
    <h5>Go to</h5>
    <ul class="nav nav-list">
        <li><a href="{% url status.views.status_hostgroup %}">Hostgroup View</a></li>
        <li><a href="{% url status.views.status %}">Service View</a></li>
        <li><a href="{% url status.views.test_livestatus %}">Test Livestatus</a></li>
    </ul>

{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}