{% extends "base.html" %}


{% block content %}
Query
<pre>
    {{ query }}
</pre>
Columns:
<table class=well>
    {% for i in header %}
    <tr>
        <td>{{ i }}</td>
    </tr>
    {% endfor %}
</table>

Results:
<table class="table well">
    <tr>
        {% for i in header %}
        <th>{{ i }}</th>
        {% endfor %}
    </tr>
    {% for row in results %}
    <tr>
        {% for x in row.values %}
        <td>{{ x }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
