
@import url(bootstrap.css);
@import url(bootstrap-responsive.css);


body {
	background: url('../img/bak.jpg');
}


.content {
  //background: #fff;
}

.control-label {
  font-weight: bold;
}

.row > [class*="span"] {
  background: #fff;
  margin: 8px;
  padding: 8px;
  -moz-box-shadow:    1px 1px 2px 3px #666;
  -webkit-box-shadow: 1px 1px 2px 3px #666;
  box-shadow:         1px 1px 2px 3px #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.shadow {
}

.main {
  background: white;
}

table.log {
  width: 100%;
}

.log th {
  background: #eee;
  color: #33f;
}
.log td {
  font-size: 90%;
}