
@import url(../bootstrap/css/bootstrap.min.css);
@import url(../bootstrap/css/bootstrap-responsive.min.css);
@import url(glyph-free.css);
@import url(../datatables/css/jquery.dataTables.css);
@import url(../datatables/DT_bootstrap.css);
@import url(../select2/select2.css);
@import url(../jqplot/jquery.jqplot.min.css);

/*
Fix for dropdown buttons, height to small for some reason
*/
.btn-group > .dropdown-toggle {
    height: 18px;
}

body {
	background: url('../img/bak.jpg');
    font-size: 13px;
}

[rel=tooltip] {
    text-decoration: underline;
}
.form-horizontal .controls {
    padding-bottom: 18px;
}
input.inherited  {
    color: #888888;
}

#id_geek_edit textarea {
    width: 520px;
}


.control-label {
  font-weight: bold;
}

.breadcrumb {
    background-image: none;
    border: 0;
    margin: 0;
    padding: 0 14px;
    background-color: transparent;
}
.block {
  background: #fff;
  margin: 6px;
  padding: 6px;
  -moz-box-shadow:    0px 0px 1px 0px #666;
  -webkit-box-shadow: 0px 0px 1px 0px #666;
  box-shadow:         0px 0px 1px 0px #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.block_nw {
  background: #fff;
  margin: 6px;
  padding: 6px;
  -moz-box-shadow:    1px 1px 2px 3px #666;
  -webkit-box-shadow: 1px 1px 2px 3px #666;
  box-shadow:         1px 1px 2px 3px #666;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

.shadow {
}

.center {
    text-align: center;

}

.main {
  background: white;
}

table.log {
  width: 100%;

}


a {
    color: #b70000;
    text-decoration: none;
    font-weight: bold;
}

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}



table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}


table.dataTable th:active {
	outline: none;
}

a.inactive {
    color: #5c5c5c;
}


/*nav .nav-header {
    background-color: #EEEEEE;
    color: #404040;
}*/

.modal.wide {
    width: 780px;
    margin-left: -390px; /* -(width / 2) */
}

#run_check_plugin div.label,
div.label.servicestate {
    width: 100px;
}

/* Disable overflow in twitter bootstrap tabs */
.tab-content {
    overflow: visible;
}

.selectall .checkbox {
    border: 1px solid #ccc;
    padding: 3px 4px 5px 6px;
    height: 98%;
    background-color: #eeeeee;
}

.capitalize {
    text-transform:capitalize;
}

div#objectbrowser .dataTables_wrapper {
    min-height: 320px;
}

div#loading {
    min-height: 320px;
}

.icon-copy {
    background-image: url("../img/cp.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 16px;
}

[class^="toolbar_"] div div {
    padding-right: 16px;
}

div#top_status_output {
    overflow: hidden;
}

div.controls input:not([type="checkbox"]):not([type="radio"]),
.select2field {
    max-width: 490px;
    width: 90%;

}


.navbar input[type="image"] {
	margin-top: 10px;
	width: auto;
}

.navbar form {
    margin: 0;
}

textarea#id_filecontent {
    width:95%
}

.glyph-grey {
    background-image: url("../img/glyph-sprite-grey.png");
}

.nowrap {
    white-space: nowrap;
}

#id_mail_to {
    width: 100%;
}
#id_mail_message {
    width: 100%;
    height: 100px;
}


/* Used in gitlog.html for diff files and history */
table.gitlog tbody tr:hover td, table.gitlog tbody tr:hover th {
    background-color: transparent;
}


.statustable input[type='checkbox'] {
    margin-left: -2px;
    padding: 0;
}

.statustable td {
    white-space: nowrap;
    font-size: 94%;
    padding-bottom: 2px;
    padding-top: 2px;
}

.statustable td.host {
    white-space: nowrap;
}
.statustable td.service {
    word-wrap: break-word;
}
.statustable td.service span.plugin_output {
    font-size: 80%;
    color: #808080;
    font-weight: normal;

}

.statustable td.service_small {
    white-space: nowrap;
    font-size: 80%
}



.table tbody tr .businessprocess-subrow {
    padding-top: 0px;
    padding: 0px;
    border-top: 0px;
}
.nomargin {
    margin: 0px;
}
#processes, #processes li ul {
    list-style-type: none;
    margin-top: 5px;
}
.hoverable:hover {
    background-color: #f6f6f6;
}