{% extends "configurator/base.html" %}
{% block title %}Add Complete{% endblock %}
{% block content %}



<h1> Save Successful </h1>

Next Steps:

<ul>
{% if host_name %}
 <li><a href="/objectbrowser/view_object/object_type=host/shortname={{host_name}}">Edit {{host_name}}</a></li>
 <li><a href="/okconfig/addtemplate/?host_name={{host_name}}">Add Templates to {{host_name}}</a></li>
{% endif %}
{% if group_name %}
 <li><a href="/okconfig/addhost/?group_name={{group_name}}">Add Hosts to {{group_name}}</a></li>
{% endif %}

{% if filelist %}
  {% for file in filelist %}
   <li>See what was written to <a href="../objectbrowser/search?filename={{file}}">{{file}}</a></li>
  {% endfor %}
{% endif %}
</ul>

{% endblock %}
