{% extends "configurator/base.html" %}
{% block title %}Scan Network{% endblock %}
{% block content %}


{% if errors %}
	<h1> ERROR </h1>
	<ul>
	{% for message in errors %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}

<div class="okconfig_scan_network ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#host">Scan Network</a>
		</li>
	</ul>
	<form action="scan_network" method="post">{% csrf_token %}
		{{ form.as_p }}
    	<INPUT id="zesubmit" type="submit" value="Scan">
	</form>
</div>

<script>
$('#zesubmit').button();
</script>



<!-- display scan results -->

{% if scan_results %}
Scan Complete
<table border=1>
	<tr>
	 <th>IP Address </th>
	 <th>Host Name</th>
	 <th>Is monitored</th>
	 <th>DNS OK</th>
	 <th>Agent Installed</th>
	 <th>SNMP Access</th>
	</tr>
	<tr>
	 <td>10.0.0.1</td>
	 <td> host.example.com</td>
	 <td> yes </td>
	 <td> yes </td>
	 <td> yes </td>
	 <td> no </td>
	</tr>
	<tr>
	 <td>10.0.0.2</td>
	 <td> badhost</td>
	 <td> no </td>
	 <td> no </td>
	 <td> no </td>
	 <td> no </td>
	</tr>
	<tr>
	 <td>10.0.0.3</td>
	 <td> router</td>
	 <td> no </td>
	 <td> no </td>
	 <td> no </td>
	 <td> yes </td>
	</tr>
</table>
{% endif %}
{% endblock %}
