
{% extends "configurator/base.html" %}

{% block title %}Characters{% endblock %}

{% block sidebar %} {% endblock %}

{% block javascript %}
		$(document).ready(function() {
			$('#hostname').focus();
		});

{% endblock %}

{% block head %}


	<!-- tab styling -->
	<link rel="stylesheet" type="text/css" href="/static/css/tabs-flowplayer-v2.css"/>

	<style>
	

	/* override the root element to enable scrolling */
	#flowpanes {
		position:relative;
		overflow:hidden;
		clear:both;
	}

	/* override single pane */
	#flowpanes div {
		float:left;
		display:block;
		width:670px;
		font-size:14px;
	}

	/* our additional wrapper element for the items */
	#flowpanes .items {
		width:20000em;
		position:absolute;
		clear:both;
		margin:0;
		padding:0;
	}

	#flowpanes .less, #flowpanes .less a {
		color:#999 !important;
		font-size:11px;
	}
	</style>
{% endblock %}


{% block content %}


<!-- tabs work as navigator for scrollable -->
<ul id="flowtabs" class="navi">
	<li><a id="t1" href="#host">Host</a></li>
	<li><a id="t2" href="#services">Services</a></li>
	<li><a id="t2" href="#complete">Complete</a></li>

</ul>

<!-- panes -->
<div id="flowpanes">


	<!-- wrapper for scrollable items -->
	<div class="items">

		<div>

		<div id="addhost">
			<form action="#" method="POST">
				<span class="label">Hostname</span> <input id="hostname" type="text" name="hostname" /><span class="warning" id="warn_hostname"></span><br/>
				<span class="label">Description</span> <input id="description" type="text" name="description" /><br/>
				<span class="label">IP Address</span> <input id="ipaddress" type="text" name="ipaddress" /><br/>
			</form>
			</div>
		</div>

		<div>

			<h2>Services</h2>
		</div>

		<div>

				<h2>Complete</h2>


		</div>

	</div>

</div>

<p style="text-align:center;width:700px">
	<button class="custom prev">&laquo; Previous</button>
	<button class="custom next">Next &raquo;</button>

</p>

<!-- activate tabs with JavaScript -->
<script>


// wait until document is fully scriptable
$(function() {

	// select #flowplanes and make it scrollable. use circular and navigator plugins
	$("#flowpanes").scrollable({ circular: true, mousewheel: true }).navigator({

		// select #flowtabs to be used as navigator
		navi: "#flowtabs",

		// select A tags inside the navigator to work as items (not direct children)
		naviItem: 'a',

		// assign "current" class name for the active A tag inside navigator
		activeClass: 'current',

		// make browser's back button work
		history: true

	});
});
</script>
		<script type="text/javascript">
				$('#hostname').keypress(function() {
					if ($('#warn_hostname').text() != "") {
						$('#warn_hostname').text("");
					}
				});
				$('#hostname').blur(function() {
					$.getJSON("/adagios/api/host/" + $('#hostname').val() + ".json", function(json) {
						if (json.host.host_name != "null") {		
							$('#warn_hostname').text("Host already exists");
							$('#hostname').select();
						}
					});
					$.getJSON("/adagios/api/gethostbyname/" + $('#hostname').val(), function(json) {
			    					$('#ipaddress').val(json.host);
			 		});
				});

		</script>
{% endblock %}
