<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}My title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>

    <script type="text/javascript">                                         

{% block javascript %}{% endblock %}
                                 
    </script>                                                                
{% block head %}{% endblock %}


</head>

<body>
<div id="head">
<h1 class="logo" id="logo"><a title="Adagios" href="/"></a></h1>
</div>
<div id=container>
    <div id="sidebar" class="left">
        {% block sidebar %}
        <ul>
		<li><a href="/adagios/configurator/addnewhost/">Add New Host</a></li>
		<li><a href="/adagios/configurator/addnewtemplate">Add Template To Host</a></li>
        </ul>
        Browse:
        <ul>
        		<li><a href="/objectbrowser/">Configuration</a></li>
              	<li><a href="/objectbrowser/host">Hosts</a></li>
        		<li><a href="/objectbrowser/contact">Contacts</a></li>
        		<li><a href="/objectbrowser/hostgroup">Hostgroups</a></li>
        </ul>
        Cool Searches:
        <ul>
        		<li><a href="/objectbrowser/object_type=service/register=1/service_description=None">Services With no service_description</a></li>
              	<li><a href="/objectbrowser/object_type=service/register=1/host_name=None">Services With no host_name</a></li>
        		<li><a href="/objectbrowser/contact">Services that are not okconfig compatible</a></li>
        </ul>
        
        {% endblock %}
    </div>

    <div id="content" class="left">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
