
		<div class="ui-widget-header ui-corner-all ui-tabs navheader">Assistants</div>
		<div class="naventries">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfixl">
				<li><a href="/okconfig/addhost">Add New Host</a></li>
				<li><a href="/okconfig/addtemplate">Add Templates to host</a></li>
				<li><a href="/okconfig/addgroup">Add New Group</a></li>
				<li><a href="/okconfig/scan_network">Scan Network</a></li>
				
			</ul>
		</div>

		<div class="ui-widget-header ui-corner-all ui-tabs navheader">Browse</div>
		<div class="naventries">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfixl">
				<li><a href="/objectbrowser/overview">Overview</a></li>
				<li>-------</li>
				<li><a href="/objectbrowser/contact">Contacts</a></li>
				<li><a href="/objectbrowser/host">Hosts</a></li>
				<li><a href="/objectbrowser/service">Services</a></li>
				<li><a href="/objectbrowser/timeperiod">Timeperiods</a></li>
				<li><a href="/objectbrowser/command">Commands</a></li>
				<li>-------</li>
				<li><a href="/objectbrowser/contactgroup">Contactgroups</a></li>
				<li><a href="/objectbrowser/hostgroup">Hostgroups</a></li>
				<li><a href="/objectbrowser/servicegroup">Servicegroups</a></li>        		
			</ul>
		</div>
		<div class="ui-widget-header ui-corner-all ui-tabs navheader">Utilities</div>
		<div class="naventries">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfixl">
				<li><a href="/objectbrowser/parents">Template Tree</a></li>
				<li><a href="/objectbrowser/plugins">Missing Plugins</a></li>
				<li><a href="/okconfig/verify_okconfig">Verify okconfig</a></li>
			</ul>
		</div>

		<!--
		<div class="ui-widget-header ui-corner-all ui-tabs navheader">Cool Searches</div>
		<div class="naventries">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfixl">
				<li><a href="/objectbrowser/search?object_type=service&register=1&service_description=None">Services With no service_description</a></li>
				<li><a href="/objectbrowser/search?object_type=service&register=1&host_name=None">Services With no host_name</a></li>
				<li><a href="/objectbrowser/search?huh=asd">Services that are not okconfig compatible</a></li>
			</ul>
		</div>
		-->
		<div class="ui-widget-header ui-corner-all ui-tabs navheader">Other</div>
		<div class="naventries">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfixl">
				<li><a href="/objectbrowser/nagios.cfg">View Nagios.cfg</a></li>
				<li><a href="/objectbrowser/confighealth">Configuration Health</a></li>
				<li><a href="/misc/settings">Adagios Settings</a></li>
				<li><a href="/NotImplemented">Help</a></li>
				<li>--------</li>
				<li><a href="/misc/contact_us">Suggestions</a></li>
			</ul>
		</div>
