{% extends "base.html" %}
{% load i18n %}

{% block title %}Add Group{% endblock %}
{% block smallheader %}Add{% endblock %}
{% block largeheader %}Group{% endblock %}
{% block toolbar %}{% endblock %}
{% block nav2 %}<a href="{% url adagios.okconfig_.views.addgroup %}">Add Group</a>{% endblock %}


{% block content %}
    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
        {% include "bootstrap_fields.html" with fields=form %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
