{% extends "base.html" %}
{% block title %}Add Service{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

    <div class="row-fluid">
        <div class="span8">
            <div class="block">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url home %}">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="{% url objectbrowser %}">Object Browser</a> <span class="divider">/</span>
                    </li>
                </ul>
                <h2>
                    <i class="icon-th-large"></i> <small>Add</small> Service to host
                </h2>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <div class="block">




                {% if form %}


                    <form action="#" id="add_service_to_host" method="POST" class="form-horizontal">{% csrf_token %}
                        <fieldset>
                            <legend>Select host name and service</legend>
                            {% for field in form %}
                                <label class="control-label" for="{{ field.name }}">{{ field.label }}{% if field.help %} <abbr rel="tooltip" title="{{ field.label }}" data-content="{{ field.help_text }}"><i class="icon-question-sign"></i></abbr> {% endif %}</label>
                                <div class="controls" id="advanced_field">
                                    {{ field }}
                                </div>

                            {% endfor %}
                        </fieldset>
                        <div id="service_macros" class="hide"></div>
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}

{% block footer %}

    <script>
    $('select#id_service').change(function() {
        var $this = $(this);
        $('#service_macros').hide();
        $.getJSON(BASE_URL + "rest/pynag/json/get_objects",
                {
                    name: $(this).val(),
                    object_type: 'service',
                    with_fields: '*'
                },
                function (data) {
                    var num_macros = 0;
                    if (data[0]) {
                        var myservice = data[0];
                    } else {
                        alert("No data received for name");
                    }
                    var myobj = data[0];
                    var service_macro_html = '' +
                            '<fieldset>\n' +
                            '  <legend>Service macros for ' + $this.val() + '</legend>' +
                            '  <div class="control-group">';

                    $.each(myobj, function(i, k) {
                        if (i.substring(0, 2) != "__") {
                            return false;
                        }
                        num_macros += 1;
                        service_macro_html += '' +
                                '<label class="control-label" for="' + i + '">' + i + '</label>' +
                                '<div class="controls">' +
                                '  <input type="text" class="span11" name="' + i + '" value="' + myobj[i] + '">' +
                                '</div>';

                    });
                    service_macro_html += '' +
                            '</div>' +
                            '</fieldset>';
                    if (num_macros) {
                        $('#service_macros').html(service_macro_html).show();
                    }
                }).error(function(jqXHR) {
                    alert('Failed to fetch data: URL: "' + this.url + '" Server Status: "' + jqXHR.status + '" Status: "' + jqXHR.statusText + '"');
                });
    });
    </script>
{%  endblock %}
