{% extends "base_okconfig.html" %}
{% block title %}Add Service{% endblock %}
{% block smallheader %}add {% endblock %}
{% block largeheader %}service {% endblock %}
{% block head %}
{% endblock %}


{% block content %}

                {% if form %}


                    <form action="#" id="add_service_to_host" method="POST" class="form-horizontal">{% csrf_token %}
                        <fieldset>
                            <legend>Select host name and service</legend>
                            {% for field in form %}
                                <label class="control-label" for="{{ field.name }}">{{ field.label }}{% if field.help %} <abbr rel="tooltip" title="{{ field.label }}" data-content="{{ field.help_text }}"><i class="icon-question-sign"></i></abbr> {% endif %}</label>
                                <div class="controls" id="advanced_field">
                                    {{ field }}
                                </div>

                            {% endfor %}
                        </fieldset>
                        <div id="service_macros" class="hide">
                            <fieldset>
                                <legend>Service macros for <span class="service_name"></span></legend>
                                The following are settings, eg thresholds or access passwords.
                                <div class="control-group">
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                {% endif %}


{% endblock %}

{% block footer %}

    <script>
    $('select#id_service').change(function() {
        var $this = $(this);
        $('#service_macros').hide();
        $.getJSON(BASE_URL + "rest/pynag/json/get_objects",
                {
                    name: $(this).val(),
                    object_type: 'service',
                    with_fields: '*'
                },
                function (data) {
                    var num_fields = 0;
                    if (data[0]) {
                        var myservice = data[0];
                    } else {
                        console.log("Called get_objects but got empty results for " + $(this).val());
                    }
                    var myobj = data[0];
                    var service_macro_html = '';
                    console.log(myobj);

                    $.each(myobj, function(i, k) {
                        if (i.substring(0, 1) == "_" || i == 'service_description') {
                            num_fields += 1;
                            service_macro_html += '' +
                                    '<label class="control-label" for="' + i + '">' + i + '</label>' +
                                    '<div class="controls">' +
                                    '  <input type="text" class="span11" name="' + i + '" value="' + myobj[i] + '">' +
                                    '</div>';
                        }
                    });

                    if (num_fields) {
                        $('#service_macros .service_name').text($this.val());
                        $('#service_macros .control-group').html(service_macro_html);
                        $('#service_macros').show();
                    }
                }).error(function(jqXHR) {
                    console.log('Failed to fetch data: URL: "' + this.url + '" Server Status: "' + jqXHR.status + '" Status: "' + jqXHR.statusText + '"');
                });
    });
    </script>
{%  endblock %}
