{% extends "base_okconfig.html" %}
{% block title %}Add Template{% endblock %}
{% block smallheader %}Add{% endblock %}
{% block largeheader %}Template{% endblock %}

{% block footer %}
    <script src="/media/chosen/chosen.jquery.js" type="text/javascript"></script>

    <script>
        $('select').chosen();
        $('select#id_template_name').change(function() {
            $.getJSON('{{ BASE_URL }}/rest/pynag/json/get_objects',
                    {
                        object_type: 'service',
                        name__startswith: 'okc-' + $(this).val() + '-',
                        with_fields: 'service_description'
                    },
                    function(data) {
                        $('#template_services').html('');
                        var sorted = data.slice(0).sort(function(a, b) {
                            return a - b;
                        })
                        $.each(sorted, function(k, s) {
                            if (s['service_description'] != "null" &&
                                    s['service_description'] != "none" &&
                                    s['service_description'] != "null") {
                                $('#template_services').append('"' + s['service_description'] + "'<br/>");
                            }

                        });
                    }
            );
        });

    </script>
{% endblock %}

{% block content %}
    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
        {% include "bootstrap_fields.html" with fields=form %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <div id="template_services">

    </div>

{% endblock %}
