{% extends "adagios_standard.html" %}
{% block title %}Add Template{% endblock %}
{% block smallheader %}Add{% endblock %}
{% block largeheader %}Template{% endblock %}
{% block nav1 %}okconfig{% endblock %}



{% block content %}
    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
        {% include "bootstrap_fields.html" with fields=form %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

{% endblock %}
