{% extends "base2.html" %}
{% block title %}Okconfig{% endblock %}


{% block adagios_hausinn %}
        <ul class="breadcrumb">
            <li>
                <a href="{% url home %}">Home</a> <span class="divider">/</span>
            </li>
            <li>
                {% block nav1 %}
                    <a href="{{ BASE_URL }}/okconfig/">okconfig</a>
                {% endblock %}
                <span class="divider">/</span>
            </li>
        </ul>
        <h2>
            <i class="icon-th-large"></i> <small>{% block smallheader %}block=smallheader{% endblock%} </small> {% block largeheader %}block=largeheader{% endblock %}
        </h2>
{% endblock %}


{% block sidebar %}
    <h5>Actions</h5>
    <ul class="nav nav-list">
        <li><a href="{% url okconfig_.views.addhost %}?host_name={{ form.host_name.value|default:"" }}"><i class="icon-pencil"></i>Add Host</a></li>
        <li><a href="{% url okconfig_.views.addtemplate %}"><i class="icon-pencil"></i>Add Template</a></li>
        <li><a href="{% url okconfig_.views.addgroup %}"><i class="icon-pencil"></i>Add Group</a></li>
        <li><a href="{% url okconfig_.views.choose_host %}"><i class="icon-pencil"></i>Edit Templates</a></li>
        <li><a href="{% url okconfig_.views.install_agent %}"><i class="icon-pencil"></i>Install Agent</a></li>
        <li><a href="{% url okconfig_.views.scan_network %}"><i class="icon-pencil"></i>Scan Network</a></li>
    </ul>
{% endblock %}