{% extends "base_okconfig.html" %}
{% block title %}Edit Host{% endblock %}
{% block smallheader %}Edit{% endblock %}
{% block largeheader %}Host{% endblock %}



{% block content %}
{% if myhost %}
    <div>
        <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>{{ myhost.host_name }}</dd>
            <dt>Address</dt>
            <dd>{{ myhost.address }}</dd>
            <dt>Status</dt>
            <dd><span id="host_status" class="label">Pending</span> <span id="host_status_output"></span></dd>
        </dl>
    </div>


    <!-- <button class="btn btn-success">Run all Service checks</button> -->
    <div style="margin: 16px">
        <a href="{% url okconfig_.views.install_agent %}/?remote_host={{ myhost.host_name }}" class="btn btn-success">Install Agent</a>
    </div>

    <h2>Services of this host:</h2>
    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
        {% for form in forms %}
            <hr/><h3>{{ form.description }}</h3><hr/>
            <pre>{{ form.command_line }}</pre>
            {% include "bootstrap_fields.html" with fields=form %}
            <button class="btn btn-primary" type="submit">Save</button>
        {% endfor %}

    </form>
{% else %}
    Host not found.
{% endif %}

{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        {% if myhost %}
        $.getJSON('{% url rest/pynag %}json/run_check_command',
                { object_id: '{{ myhost.id }}' },
                function(data) {
                    var host_status = $('span#host_status');
                    var host_status_output = $('span#host_status_output');
                    host_status_output.text(data[1]);
                    host_status.addClass('label-success');
                    if (data[0] == '0') {
                        host_status.text('OK');
                        host_status.addClass('label-success');
                    }
                    if (data[0] == '1') {
                        host_status.text('Warning');
                        host_status.addClass('label-warning');
                    }
                    if (data[0] == '2') {
                        host_status.text('Critical');
                        host_status.addClass('label-danger');
                    }
                }).error(function(jqXHR) {
                    /* TODO - fix this to a this style */
                    //alert('Failed to fetch data: URL: "' + this.url + '" Server Status: "' + jqXHR.status + '" Status: "' + jqXHR.statusText + '"');
                });
        {% endif %}
    });
    //$(".collapse").collapse()
    </script>
{% endblock %}