{% extends "adagios_standard.html" %}
{% block title %}Edit Host{% endblock %}
{% block smallheader %}Edit{% endblock %}
{% block largeheader %}Host{% endblock %}
{% block nav1 %}okconfig{% endblock %}



{% block content %}
<form action="#" method="post">{% csrf_token %}
	<INPUT type="submit" value="Save	">
	
{% for form in forms %}
	<table border=1>
		<tr><th><b>{{ form.description }}</b> <a href="../../objectbrowser/id={{ form.service.id }}">(edit)</a></th></tr>
		<tr><td> {{ form.as_p }} </td></tr>
		<tr><td> {{ form.command_line }} </td></tr>
	</table> 
	<br>
{% endfor %}
{{ form.as_p }}
<form>

    

{% endblock %}
