{% extends "base_okconfig.html" %}
{% block title %}Edit Host{% endblock %}
{% block smallheader %}Edit{% endblock %}
{% block largeheader %}Host{% endblock %}



{% block content %}
<form action="#" method="post" class="form-horizontal">{% csrf_token %}
    <button class="btn btn-primary" type="submit">Save</button><p></p>
	
{% for form in forms %}
	<table border=1 width=100%>
		<tr><th><h2>{{ form.description }}</h2> <a href="../../objectbrowser/id={{ form.service.id }}">(edit)</a></th></tr>
		<tr><td>
                {% include "bootstrap_fields.html" with fields=form %}
		</td></tr>
		<tr><td> {{ form.command_line }} </td></tr>
	</table> 
	<br>
{% endfor %}

<form>

    

{% endblock %}
