<!--
okconfig_menubar.html is responsible for creating the menuitems in top_navigation_bar of adagios
-->
{% load i18n %}

<li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"><i class="glyph-edit glyph-grey"></i> Okconfig <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url okconfig_.views.addhost %}">Add Host</a></li>
        <li><a href="{% url okconfig_.views.addtemplate %}">Add Template to Host</a></li>
        <li><a href="{% url okconfig_.views.addservice %}">Add Service</a></li>
        <li><a href="{% url okconfig_.views.choose_host %}">Edit Host</a></li>
        <li><a href="{% url okconfig_.views.addgroup %}">Add Group</a></li>
        <li><a href="{% url okconfig_.views.install_agent %}">Install Agent</a></li>
        <li><a href="{% url okconfig_.views.scan_network %}">Scan Network</a></li>
    </ul>
</li>
