{% extends "base.html" %}
{% load i18n %}

{% block title %}Edit Host{% endblock %}
{% block smallheader %}Edit{% endblock %}
{% block largeheader %}Host{% endblock %}
{% block toolbar %}{% endblock %}
{% block content %}
{% if okconfig_checks %}


<div>
	<table>
	 <thead><tr>
	  <th>Check</th>
	  <th>Result</th>
	 </tr></thead>
	 <tbody>
		{% for check,value in okconfig_checks.items %}
		<tr class="{% cycle "even" "odd" %}">
	  		<td>{{ check }}</td>
	  		<td>{{ value }}</td>
		</tr>
		{% endfor %}
	 </tbody></table>
</div>
{% endif %}


{% endblock %}
