{% extends "base_objectbrowser.html" %}
{% load i18n %}

{% block title %}{{ filename }}{% endblock %}
{% block nav1 %}{{ filename }}{% endblock %}
{% block smallheader %}{% trans "edit" %}{% endblock %}
{% block largeheader %}{{ filename }}{% endblock %}


{% block content %}
    <div id="editfile">
    <br>
    {% blocktrans %}You are editing {{ filename }}. Be careful what you do. {% endblocktrans %}<br>
    {% if form %}
        <form action="#" method="post" class="form-horizontal">{% csrf_token %}
            {{  form.filecontent }}
            <div class="form-actions">
                <button name="save" class="btn btn-success" type="submit">{% trans "Save"%}</button>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}

