{% extends "adagios_standard.html" %}
{% block title %}{% endblock %}
{% block nav1 %}{% endblock %}
{% block smallheader %}Welcome to{% endblock %}
{% block largeheader %}Adagios{% endblock %}

{% block footer %}
<script>
    $('#latest').adagios_version();
</script>
{% endblock %}
{% block content %}



    <h4>About</h4>
    Adagios is a web based Nagios configuration interface build to be simple and intuitive in design, exposing less of the clutter under the hood of nagios.

<p>
    This is a tech preview and there are a lot of known bugs. We would really like <a href="mailto:opensource@opensource.is">your feedback</a> to help us develop this app.
</p>
<p>
    If you are looking for the project page, it is <a href="http://opensource.is/adagios">right here.</a>
</p>

{% endblock %}