{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}
{% block nav1 %}{% endblock %}
{% block smallheader %}Welcome to{% endblock %}
{% block largeheader %}Adagios{% endblock %}

{% block toolbar %}{% endblock %}
{% block footer %}
<script>
    $('#latest_version').adagios_version();
</script>
{% endblock %}
{% block content %}



        <p> Adagios is a web based Nagios configuration interface built to be simple and intuitive
             in design, exposing less of the clutter under the hood in Nagios.
        </p>
        <p>
            This is a tech preview and there are a lot of known bugs.
            We would really like <a href="mailto:opensource@ok.is">your feedback</a>
            to help us develop this app.
        </p>


    <h4>Features</h4>
        <ul>
            <li>Edit Nagios configs in-place without a database backend (thanks <a href="http://pynag.org">pynag</a>)</li>
            <li>Audit of configuration changes (aka git integration)</li>
            <li>Bulk edit/copy/delete objects</li>
            <li>Value-add for both novices and Nagios gurus alike</li>
            <li>REST interface</li>
            <li>Start/stop/reload Nagios service</li>
        </ul>
        Adagios also integrates nicely with <a href="https://github.com/opinkerfi/okconfig">okconfig</a> offering features such as:
        <ul>
            <li>Template support</li>
            <li>Preconfigured templates (Windows, Linux, Oracle, Brocade, <a href="https://github.com/opinkerfi/okconfig/tree/master/usr/share/okconfig/templates">and more...</a>)</li>
            <li>Remotely push Nagios agent to clients (Windows, RHEL, Debian and SUSE are supported)</li>
            <li>Network scan to find unmonitored hosts</li>
            <li>Easy changes to plugin thresholds via Nagios macros</li>
        </ul>
    <div id="updates_avail">
        <h3>Version Information</h3>
        <ul>
        <li><strong>Latest Stable version is</strong>: <a href="" id="version_info"><span id="latest_version">Checking for latest version</span></a></li>
        <li><strong>You are running</strong>: <span id="current_version">{{ version }}</span> </li>
        </ul>
    </div>

    <h3>Project Page</h3>
    <p>
        If you are looking for the project page, it is <a href="http://adagios.org">right here</a>
    </p>

{% endblock %}
