{% extends "base2.html" %}

{% block title %}Audit Log{% endblock %}
{% block smallheader %}audit{% endblock %}
{% block largeheader %}log{% endblock %}
{% block nav1 %}misc{% endblock %}


{% block content %}
    {% if commits %}
        <!-- List of recent commits -->
        <h2>Previous changes (via git log)</h2>
        <table width=100% border=1>
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for commit in commits %}
            <tr>
                <td>{{ commit.authortime }}</td>
                <td>{{ commit.comment }}</td>
                <td>{{ commit.author }}</td>
                <td>{{ commit.authoremail }}</td>
                <td><a href="{% url misc.views.gitlog %}?show={{ commit.hash }}">view diff</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No git commits found in {{ configdir }}</h2>
    {% endif %}
    {% if diff %}
        <pre>
{{ diff }}
        </pre>
    {% endif %}

 {% endblock %}

{% block sidebar %} {{ block.super }} {% endblock %}

{% block footer %} {{ block.super }} {% endblock %}