{% extends "base2.html" %}

{% block title %}Audit Log{% endblock %}
{% block smallheader %}audit{% endblock %}
{% block largeheader %}log{% endblock %}
{% block nav1 %}misc{% endblock %}


{% block content %}
    {% if commits %}
        <!-- List of recent commits -->
        <h2>Previous changes (via git log)</h2>
        <table width=100% border=1>
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for commit in commits %}
            <tr>
                <td>{{ commit.authored_date.tm_year }}-{{ commit.authored_date.tm_mon }}-{{ commit.authored_date.tm_mday }}</td>
                <td>{{ commit.summary }} ({{ commit.stats.total.files }} files)</td>
                <td>{{ commit.author.name }}</td>
                <td>{{ commit.author.email }}</td>
                <td><a href="{% url misc.views.gitlog %}?commit={{ commit.id }}">view diff</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No git commits found in {{ configdir }}</h2>
    {% endif %}

    {% if commit %}
        <!-- diff for a single commit -->
        {% for diff in commit.diffs %}
            <h3>{{ diff.a_path }}</h3>
            <pre>
            {{ diff.diff }}
            </pre>
        {% endfor %}
    {% endif %}

 {% endblock %}

{% block sidebar %} {{ block.super }} {% endblock %}

{% block footer %} {{ block.super }} {% endblock %}