{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock title %}

{% block top_navigation %}{{ block.super }}{% endblock top_navigation %}
{% block near_top %}{{ block.super }}{% endblock near_top %}

{% block toolbar %}{{ block.super }}{% endblock toolbar %}

{% block header %}{{ block.super }}{% endblock header %}
{% block footer %}{{ block.super }}{% endblock footer %}

{% block nav1 %}{{ block.super }}{% endblock nav1 %}
{% block nav2 %}{{ block.super }}{% endblock nav2 %}

{% block smallheader %}{{ block.super }}{% endblock smallheader %}
{% block largeheader %}{{ block.super }}{% endblock largeheader %}


<!-- Main contents go in here -->
{% block content %}{{ block.super }}{% endblock content %}

