{% extends "base2.html" %}

{% block title %}Nagios Service{% endblock %}
{% block smallheader %}{% endblock %}
{% block largeheader %}Nagios Service{% endblock %}
{% block nav1 %}Nagios Service{% endblock %}

{% block adagios_hausinn %}{{ block.super }}{% endblock %}

{% block content %}
Service nagios status:
    {% if status  > 3 %}
        unknown ("service nagios status" returned {{ status }})
    {% endif %}
    {% if status  == 0 %}
        Started
    {% endif %}
    {% if status  == 3 %}
        Stopped
    {% endif %}
    {% if form %}
        <form action="#" method="post" class="form-horizontal">{% csrf_token %}
            <div class="form-actions">
                <button class="btn btn-success" type="submit" name="reload">Reload</button>
                <button class="btn " type="submit" name="start">Start</button>
                <button class="btn " type="submit" name="stop">Stop</button>
                <button class="btn " type="submit" name="restart">Restart</button>
                <button class="btn " type="submit" name="status">Status</button>
            </div>
        </form>
    {% else %}
    No form found
    {%  endif %}
    {% if stderr %}
        <h4>Errors</h4>
        <pre>{{ stderr }}</pre>
    {% endif %}
    {% if stdout %}
        <h4>output</h4>
        <pre>{{ stdout }}</pre>
    {% endif %}
{% endblock %}

{% block header %} {{ block.super }} {% endblock %}

{% block sidebar %} {{ block.super }} {% endblock %}

{% block footer %} {{ block.super }} {% endblock %}