{% extends "base.html" %}
{% load i18n %}

{% block title %}Settings{% endblock %}
{% block smallheader %}Edit{% endblock %}
{% block largeheader %}Settings{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}


{% if form %}
    <form action="#" method="post" class="form-horizontal">{% csrf_token %}
        {% include "bootstrap_fields.html" with fields=form %}
        <div class="form-actions">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
<script>
$('#zesubmit').button();
</script>

{% endif %}

{% endblock %}
    