{% extends "base2.html" %}

{% block title %}{{ block.super }}{% endblock %}
{% block smallheader %}{{ block.super }}{% endblock %}
{% block largeheader %}Perfdata Analyzer{% endblock %}
{% block nav1 %}{{ block.super }}{% endblock %}

{% block adagios_hausinn %}{{ block.super }}{% endblock %}

{% block content %}
    {% if host %}
        <h4>Host Status</h4>
        <table class="alert alert-{{ host.status }}" >
            <tr>
                <th>host_name</th>
                <td>{{ host.host_name }}</td>
            </tr>

            <tr class="alert alert-{{ host.status }}">
                <th>status</th>
                <td> {{ host.plugin_output }}</td>
            </tr>
            <tr class="alert alert-{{ host.status }}">
                <td></td>
                <td>
                    {{ host.long_plugin_output }}
                </td>
            </tr>
            </table>
            {% if service %}
                <h4>Service Status</h4>
                <table class="alert alert-{{ service.status }}" border=1>
                    <tr>
                        <th>service_description</th>
                        <td>{{ service_description }}</td>
                    </tr>

                    <tr class="alert alert-{{ service.status }}">
                        <th>status</th>
                        <td> {{ service.plugin_output }}</td>
                    </tr>
                    <tr class="alert alert-{{ service.status }}">
                        <td></td>
                        <td>
                            {{ service.long_plugin_output }}
                        </td>
                    </tr>
                </table>
                <h4>Performance Data</h4>
                {% if perfdata %}
                <table border=1>
                <tr class="alert alert-info">
                    <th>label</th>
                    <th>value</th>
                    <th>warning</th>
                    <th>critical</th>
                    <th>unit</th>
                    <th>min value</th>
                    <th>max value</th>
                    <th>status</th>
                </tr>
                {% for i in perfdata %}
                    <tr class="alert alert-{{ i.csstag }}">
                        <td>{{ i.label }}</td>
                        <td>{{ i.value }} </td>
                        <td>{{ i.warn }}  </td>
                        <td>{{ i.crit }}  </td>
                        <td> {{ i.uom }}</td>
                        <td>{{ i.min }}   </td>
                        <td>{{ i.max }}   </td>
                        <td><label >{{ i.status }}</label></td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                No Perfdata available.
                {% endif %}
            {% endif %}
    {% endif %}


{% endblock %}

{% block header %} {{ block.super }} {% endblock %}

{% block sidebar %}
    {% if services %}
        <table class="table" style="margin:0px; padding:0px; height:10px">
            <h5>Services</h5>
            {% for i in services %}
                <tr>
                    {% if i.current_state == "0" %}
                        <td class="alert alert-success" style="margin-bottom:0; height:10px; line-height:5px; height:5px; font-size:13px;">
                    {% endif %}
                    {% if i.current_state == "1" %}
                        <td class="alert alert-warning" style="margin-bottom:0; height:10px; line-height:5px; height:5px; font-size:13px;">
                    {% endif %}
                    {% if i.current_state == "2" %}
                        <td class="alert alert-danger" style="margin-bottom:0; height:10px; line-height:5px; height:5px; font-size:13px;">
                    {% endif %}
                    {% if i.current_state == "3" %}
                        <td class="" style="margin-bottom:0; height:10px; line-height:5px; height:5px; font-size:13px;">
                    {% endif %}
                    <a href="{% url misc.views.status_host i.host_name i.service_description %}">
                        {{ i.host_name }}/{{ i.service_description }}
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h5>See also</h5>
    <ul class="nav nav-list">
        <li><a href="{% url misc.views.status %}">All Hosts</a></li>
    </ul>


{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}