{% extends "configurator/base.html" %}
{% block head %}

    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>


{% endblock %}
{% block javascript %}


$(document).ready(function() {
	populateListTable();
});

function populateListTable() {

	// Chosen value from pulldown
	var listtype = $('#listtype').val();
	
	// Hide all listtables if we have any 
	$('.dataTables_wrapper').each(function(index){
		$(this).hide();
	});
	
	// Table does not exist, create it and fetch data
	if ($('#listtable-' + listtype).length == 0) {
		$('#listtables').append('<table class="listtable" id="listtable-' + listtype + '"><thead></thead><tbody></tbody></table>');

		// Different columns for different object types
		var columns = [];
		var columnheadings = [];
	
		// The first column should always be the distinct name, host_name, contactgroup_name...
		if ($('#listtype').val() == 'hosts') {
			columns = ['host_name', 'address', 'alias'];
			columnheadings = ['Hostname', 'IP Address', 'Description'];
		} else if ($('#listtype').val() == 'services') {
			columns = ['host_name', 'service_description'];
			columnheadings = ['Hostname', 'Service'];
		} else if ($('#listtype').val() == 'contacts') {
			columns = ['contact_name', 'email', 'alias'];
			columnheadings = ['Contact Name', 'E-Mail', 'Description'];
		} else if ($('#listtype').val() == 'hostgroups') {
			columns = ['hostgroup_name', 'alias'];
			columnheadings = ['Hostgroup Name', 'Description'];
		} else if ($('#listtype').val() == 'servicegroups') {
			columns = ['servicegroup_name', 'alias'];
			columnheadings = ['Servicegroup Name', 'Description'];
		} else if ($('#listtype').val() == 'contactgroups') {
			columns = ['contactgroup_name', 'alias'];
			columnheadings = ['Contactgroup Name', 'Description'];
		}

		// Create the heading row
		$('#listtable-' + listtype + ' > thead').append('<tr></tr>');
		for (var i=0; i<columns.length; i++) {
			$('#listtable-' + listtype + ' > thead > tr').append('<th>' + columnheadings[i] + '</td>');
		}
	
		// Activate the dataTable plugin
		lvTable = $('#listtable-' + listtype).dataTable( {
			"bJQueryUI": true,
			"bAutoWidth": true,
			"sScrollY": "200px",
			"bPaginate": false,
		});

		// Fetch the table data
		$.getJSON('/rest/pynag/json/' + $('#listtype').val(), function(data) {
			var allrows = [];
			$.each(data, function(key, val) {
				var row = [];
				if (val[columns[0]] == undefined) {
					row.push('<strong>' + val['name'] + '</strong>');
				} else {
					row.push(val[columns[0]]);
				}
				for (var i=1; i<columns.length; i++) {
					// Put a space into empty
					if (val[columns[i]] == undefined) {
						row.push('&nbsp;');
					// The actual data
					} else {
						row.push('' + val[columns[i]]);
					}
				}
				// Push on my 2 dimensional array
				allrows.push(row);
			});
			// Finally add the rows to the DataTable
			lvTable.fnAddData(allrows);
		});
	}
	
	// Show the correct table
	$('#listtable-' + listtype + '_wrapper').show();
	$('#listtable-' + listtype).show();
}

{% endblock %}
{% block content %}




<div class="tablecontainer">
	<div class="okconfig_add ui-tabs ui-widget ui-widget-content ui-corner-all" style="width: 220px;text-align: center">
		<h3 style="margin-left: 12px;float: left;display: inline">View</h3>
		<div style="margin-top: 6%;margin-left: 12px;float: left;display: inline">
			<select id="listtype">
				<option value="contactgroups">Contactgroups</option>
				<option value="contacts">Contacts</option>
				<option value="hostgroups">Hostgroups</option>
				<option value="hosts" SELECTED>Hosts</option>
				<option value="servicegroups">Servicegroups</option>
				<option value="services">Services</option>
			</select>
		</div>
		<div style="clear: both"></div>

	</div>

	<div id="loadingDiv">
	</div>

	
	<div id="listtables" class="listtablewrapper">
	</div>
</div>


<div style="clear: both"></div>
</div>
<script>

$('#loadingDiv')
    .hide()  // hide it initially
    .ajaxStart(function() {
    	$(this).html('<h3>Loading ' + $('#listtype').val() + '</h3>');
        $(this).show();
        $('#listtables').hide();
    })
    .ajaxStop(function() {
        $(this).hide();
        $('#listtables').show();
    });

$('#listtype').change(function() {
	populateListTable();
});
</script>


{% endblock %}