{% extends "configurator/base.html" %}
{% block head %}

    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.url.packed.js"></script>


{% endblock %}
{% block javascript %}


var currentTable = '';


$(document).ready(function() {

var tabs = [
	{ 
		'title': 'Contacts', 
		'id': 'contact'
		},
	{
		'title': 'Hosts',
		'id': 'host'
		},
	{
		'title': 'Services',
		'id': 'service'
		},
	{
		'title': 'Timeperiods',
		'id': 'timeperiod'
		},
	{
		'title': 'Commands',
		'id': 'command'
		},
	{
		'title': 'Contactgroups',
		'id': 'contactgroup'
		},
	{
		'title': 'Hostgroups',
		'id': 'hostgroup'
		},
	{
		'title': 'Servicegroups',
		'id': 'servicegroup'
		},
];



	// Get the second URI parameter (eg host, service...)
	if (jQuery.url.segment(1) != null) {
		currentTable = jQuery.url.segment(1);
	}
	createTabs(tabs);
	populateListTable();
});


// Creates the tabs from array map defined above
function createTabs(tabs) {
	for (var i=0; i < tabs.length; i++) {
		// Add tab name
		$('#objecttabs > ul').append('<li><a href="#' + tabs[i]['id'] + '">' + tabs[i]['title'] + '</a></li>');
		$('#objecttabs').append('<div id="' + tabs[i]['id'] + '">HAHA</div>');	
	}
	$('#objecttabs').tabs({
		select: function(e, ui) {
			currentTable = ui.panel.id;
			populateListTable();
		}
	});
}


function populateListTable() {

	listtype = currentTable
	// Table does not exist, create it and fetch data
	if ($('#listtable-' + listtype).length == 0) {
		$('#' + listtype).html('<div id="loading-' + listtype + '"></div><table class="listtable" id="listtable-' + listtype + '"><thead></thead><tbody></tbody></table>');

	$('#loading-' + listtype)
    	.hide()  // hide it initially
    	.ajaxStart(function() {
    		$('.listtablecontainer').hide();
    		$(this).html('<h3>Loading ' + listtype + '</h3>');
        	$(this).show();
    	})
    	.ajaxStop(function() {
    		$('.listtablecontainr').show();
    	    $(this).hide();
	});





		// Different columns for different object types
		var columns = [];
		var columnheadings = [];
	
		// The first column should always be the distinct name, host_name, contactgroup_name...
		if (currentTable == 'host') {
			columns = ['host_name', 'address', 'alias'];
			columnheadings = ['Hostname', 'IP Address', 'Description'];
		} else if (currentTable == 'service') {
			columns = ['host_name', 'service_description'];
			columnheadings = ['Hostname', 'Service'];
		} else if (currentTable == 'contact') {
			columns = ['contact_name', 'email', 'alias'];
			columnheadings = ['Contact Name', 'E-Mail', 'Description'];
		} else if (currentTable == 'hostgroup') {
			columns = ['hostgroup_name', 'alias'];
			columnheadings = ['Hostgroup Name', 'Description'];
		} else if (currentTable == 'servicegroup') {
			columns = ['servicegroup_name', 'alias'];
			columnheadings = ['Servicegroup Name', 'Description'];
		} else if (currentTable == 'contactgroup') {
			columns = ['contactgroup_name', 'alias'];
			columnheadings = ['Contactgroup Name', 'Description'];
		} else if (currentTable == 'timeperiod') {
			columns = ['timeperiod_name', 'alias'];
			columnheadings = ['Timeperiod', 'Description'];
		} else if (currentTable == 'command') {
			columns = ['command_name'];
			columnheadings = ['Command Name'];
		}

		// Create the heading row
		$('#listtable-' + listtype + ' > thead').append('<tr></tr>');
		for (var i=0; i<columns.length; i++) {
			$('#listtable-' + listtype + ' > thead > tr').append('<th>' + columnheadings[i] + '</td>');
		}
	
		// Activate the dataTable plugin
		currentTable = lvTable = $('#listtable-' + listtype).dataTable( {
					"sScrollY": "200px",
		"bScrollCollapse": true,
		"bPaginate": false,
		"bJQueryUI": true,
		});

		var allrows = [];
		
		$.ajax({
			url: '/rest/pynag/json/get_objects',
			data: {  object_type: listtype, with_fields: columns.join(",") + ',id,name' },
			dataType: 'json',
			type: 'POST',
			success: function(data) {	
				$.each(data, function(key, val) {
					var row = [];
					if (val[columns[0]] == undefined) {
						row.push('<strong>' + val['name'] + '</strong>');
					} else {
						row.push('<a href="/objectbrowser/id=' + val['id'] + '">' + val[columns[0]] + '</a>');
					}
					for (var i=1; i<columns.length; i++) {
						// Put a space into empty
						if (val[columns[i]] == undefined) {
							row.push('&nbsp;');
						// The actual data
						} else {
							var value = val[columns[i]];
							row.push('<a href="/objectbrowser/id=' + val['id'] + '">' + value + '</a>');
						}
					}
					// Push on my 2 dimensional array
					allrows.push(row);
					
				});
				// Finally add the rows to the DataTable
				lvTable.fnAddData(allrows);
				$('#listtables').show();
        		currentTable.fnAdjustColumnSizing();
			}
		});
	}
	
	// Show the correct table
	$('#listtable-' + listtype + '_wrapper').show();
	$('#listtable-' + listtype).show();
}

{% endblock %}
{% block content %}


<!--

<div class="tablecontainer">
	<div class="okconfig_add ui-tabs ui-widget ui-widget-content ui-corner-all" style="width: 220px;text-align: center">
		<h3 style="margin-left: 12px;float: left;display: inline">View</h3>
		<div style="margin-top: 6%;margin-left: 12px;float: left;display: inline">
			<select id="listtype">
				<option value="command">Commands</option>
				<option value="contactgroup">Contactgroups</option>
				<option value="contact">Contacts</option>
				<option value="hostgroup">Hostgroups</option>
				<option value="host" SELECTED>Hosts</option>
				<option value="servicegroup">Servicegroups</option>
				<option value="service">Services</option>
				<option value="timeperiod">Timeperiods</option>
			</select>
		</div>
		<div style="clear: both"></div>

	</div>
-->

	
	
	<div id="objecttabs">
		<ul>
		</ul>
	</div>
</div>


<div style="clear: both"></div>
</div>
<script>



</script>


{% endblock %}