{% extends "configurator/base.html" %}
{% block title %}List of Objects{% endblock %}

{% block content %}

<h1>List of Objects</h1>


{% if objects %}
	<table border=1>
	<tr>
		<th>Short Name</th>
		<th>Object Type</th>
		<th>Object Name</th>
		<th>Filename</th>
	</tr>
	{% for o in objects %}
		<tr>
			<td><a href="id={{ o.id }}">{{ o.description }}</a></td>
			<td><a href="search?object_type={{ o.object_type }}">{{ o.object_type }}</a></td>
			<td><a href="id={{ o.id }}">{{ o.name }} </a></td>
			<td><a href="search?filename={{ o.filename }}">{{ o.filename }}</a></td>
		</tr>
	{% endfor %}
	</table
	</ul>
{% else %}
	<p>No objects found. </p>
{% endif %}

{% if messages %}
	<h1> Messages from the developers </h1>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}