{% extends "configurator/base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block content %}
<!--
<h1>We are viewing a beautiful {{ my_object.object_type }}</h1>
-->


{% if my_object %}
	<!--
	{{ my_object }}
	-->



<!-- Testing Djang Form Object -->
{% if form %}
	<div class="attribute_contact">
	<fieldset id="attribute_contact" class="attribute_{{object_type}}">
	  <legend>{{my_object.object_type}} - {{ my_object.description }}</legend>
		{{ form.as_p }}
	</fieldset>
	</div>
{% endif %}



<!-- We only Display command_line if there is any -->
{% if command_line %}
	<div class="command_line_box">
	<fieldset id="id_command_line" class="attribute_{{object_type}}">
	  <legend>Check Command: {{ my_object.check_command }}</legend>
		{{ command_line }}
		<hr>
		{% for macro,value in object_macros.items %}
		  <p>
		    <label> {{ macro }} </label> =
		    <span >{{ value }}</span>
		  </p>
		{% endfor %}
	</fieldset>
	</div>
{% endif %}


<!-- Display All Contacts if this is that kind of an object -->
{% if effective_contacts %}
	<div class="effective_contacts">
	<fieldset id="id_effective_contacts" class="attribute_{{object_type}}">
	  <legend>Effective Contactgroups</legend>
		{% for contact in effective_contacts %}
		  <p>
		    <label><a href="id={{ contact.id }}">{{contact.contact_name}}</a></label>
		  </p>
		{% endfor %}
	</fieldset>
	</div>
{% endif %}

<!-- Display All Contactgroups if this is that kind of an object -->
{% if effective_contactgroups %}
	<div class="effective_contactgroups">
	<fieldset id="id_effective_contactgroups" class="attribute_{{object_type}}">
	  <legend>Contactgroups</legend>
		{% for group in effective_contactgroups %}
		  <p>
		    <label><a href="id={{ group.id }}">{{group.contactgroup_name}}</a></label>
		  </p>
		{% endfor %}
	</fieldset>
	</div>
{% endif %}

<!-- Display all members of a specific contactgroup -->
{% if effective_members %}
	<div class="effective_members">
	<fieldset id="id_effective_members" class="attribute_{{object_type}}">
	  <legend>Members</legend>
		{% for m in effective_members %}
		  <p>
		    <label><a href="id={{ m.id }}">{{m.description}}</a></label>
		  </p>
		{% endfor %}
	</fieldset>
	</div>
{% endif %}



{% if manual_edit %}
<!-- Raw edit of this object -->
<div class="objectbrowser_manual_edit">
	<form action="view_object" method="post">{% csrf_token %}
	<fieldset id="id_manual_edit" class="objectbrowser_manual_edit">
	  <legend>Manual Edit</legend>
		{{ manual_edit }}
    	<INPUT type="submit" value="Save">
	</form>
	</fieldset>
</div>
{% endif %}

	
<!-- Print all attributes -->
<div class="attributelook">
	<fieldset id="attributelook" class="attributelook">
	  <legend>Advanced</legend>
	  
	{% for attr in attr_val %}
		<p>
			<label>{{ attr.0 }}</label>
			{% if attr.1 == "0" or attr.1 == "1" %}
				{% if attr.1 == "0" %}
			<span class="attributevalue" id="key_{{ attr.0 }}"><img src="/static/off.png"></span>
				
				{% else %}
			<span class="attributevalue" id="key_{{ attr.0 }}"><img src="/static/on.png"></span>
			
				{% endif %}
			{% else %}
			<span class="attributevalue" id="key_{{ attr.0 }}">{{ attr.1 }}</span>
			<span class="inherited attributevalue">{{attr.2}}</span>
			<button class=" attributevalue modify_button" id="modify_{{ attr.0 }}">Edit</button>
			{% endif %} 
		</p>
	{% endfor %} 
	</fieldset>
</div>



<div class="overlay">
  <button id="close_overlay">Close Error</button><br/>
  <div id="error">
  </div>
</div>
	
	<script>
	
$('#close_overlay').click(function() {
	$('.overlay').hide();
	return false;
});
$(document).ajaxError(function(e, xhr, settings, exception) {
	$('#error').html( xhr.responseText );
	$('.overlay').show();
}); 
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
	    function safeMethod(method) {
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }

	    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
	        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	    }
	});
	$('.modify_button').click(function() {
		id = this.id.replace('modify_', '');
		currentval = $('#key_' + id).text();


		if (id == 'contact_groups') {
			$('#key_' + id).html("<select id='input_" + id + "'></select>");
			
			$.getJSON("/rest/pynag/json/contactgroups", function(json) {
				$.each(json, function(k, v) {
					//alert('<option value="' + v['contactgroup_name'] + '">' + v['contactgroup_name'] + "</option>");
					$('#input_' + id).append('<option value="' + v['contactgroup_name'] + '">' + v['contactgroup_name'] + "</option>");
				});
			});
						
			newinput = $('#input_' + id);
			newinput.select();
		} else {
			$('#key_' + id).html("<input id='input_" + id + "'/>");
			newinput = $('#input_' + id)
			newinput.val(currentval);
			newinput.select();
		}		
		newinput.blur(function(blurrer) {
			val = newinput.val();
			$('#key_' + id).html(val);
			d = {}
			//d[id] = val;
			d['attribute_name'] = id;
			d['new_value'] = val;
			d['id'] = "{{ my_object.id }}";
			$.post("/rest/pynag/json/change_attribute", d );
		});
		
	});
	
	</script>

	
{% else %}
	<p>Object not found </p>
{% endif %}

{% endblock %}
