{% extends "configurator/base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block content %}



<!--
{{ my_object }}
-->



{% if my_object %}

<form action="#" method="POST">

	<!-- wrapper for scrollable items -->
	<div id="tabs">

		<ul>
			<li><a href="#host">Host</a></li>
			<li><a href="#monitoring">Monitoring</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#notifications">Notifications</a></li>
			<li><a href="#advanced">Advanced</a></li>
			<li><a href="#manual_edit">Manual edit</a></li>
		</ul>
		<div id="advanced">
			{% include "advanced_edit_form.html" %} 	
		</div>
		<div id="manual_edit">
			{% include "manual_edit_form.html" %}
		</div>

		<div id="host">
			<div>
			 <label>{{ form.host_name.label }}</label><p>{{ form.host_name }}</p>
			 <label>{{ form.address.label }}</label><p>{{ form.address }}</p>
			 <label>{{ form.alias.label }}</label><p>{{ form.alias }}</p> 
			
			 <label>{{ form.hostgroups.label }}</label><p>{{ form.hostgroups }}</p>
			 <label>{{ form.use.label }}</label><p>{{ form.use }}</p>
			 </div>
			 
			 
			 <!-- Display All Hostgroups if this is that kind of an object -->
				{% if effective_hostgroups %}
					<div class="effective_hostgroups">
					<fieldset id="id_effective_hostgroups" class="attribute_{{object_type}}">
					  <legend>Hostgroups</legend>
						{% for group in effective_hostgroups %}
						  <p>
						    <label><a href="id={{ group.id }}">{{group.hostgroup_name}}</a></label>
						  </p>
						{% endfor %}
					</fieldset>
					</div>
				{% endif %} 
		</div>	
		<div id="monitoring">
			<label>{{ form.check_period.label }}</label><p>{{ form.check_period }}</p>
			<label>{{ form.check_command.label }}</label><p>{{ form.check_command }}</p>
			<label>{{ form.max_check_attempts.label }}</label><p>{{ form.max_check_attempts }}</p>
			<label>{{ form.check_interval.label }}</label><p>{{ form.check_interval }}</p>
			<label>{{ form.retry_interval.label }}</label><p>{{ form.retry_interval }}</p>
			<label>{{ form.active_checks_enabled.label }}</label><p>{{ form.active_checks_enabled }}</p>
			<label>{{ form.passive_checks_enabled.label }}</label><p>{{ form.passive_checks_enabled }}</p>
			{% if command_line %}
				<div class="command_line_box">
				<fieldset id="id_command_line" class="attribute_{{object_type}}">
				  <legend>Check Command: {{ my_object.check_command }}</legend>
					{{ command_line }}
					<hr>
					{% for macro,value in object_macros.items %}
					  <p>
					    <label> {{ macro }} </label> =
					    <span >{{ value }}</span>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
		</div>


		
		<div id="notifications">
			<p><label>{{ form.notifications_enabled.label }}</label>{{ form.notifications_enabled }}</p>
			<p><label>{{ form.contact_groups.label }}</label>{{ form.contact_groups }}</p>
			<p><label>{{ form.contacts.label }}</label>{{ form.contacts }}</p>
			<p><label>{{ form.notification_interval.label }}</label>{{ form.notification_interval }}</p>
			<p><label>{{ form.notification_period.label }}</label>{{ form.notification_period }}</p>
			<p><label>{{ form.notification_options.label }}</label>{{ form.notification_options }}</p>
			
			<!-- Display All Contacts if this is that kind of an object -->
			{% if effective_contacts %}
				<div class="effective_contacts">
				<fieldset id="id_effective_contacts" class="attribute_{{object_type}}">
				  <legend>Effective Contactgroups</legend>
					{% for contact in effective_contacts %}
					  <p>
					    <label><a href="id={{ contact.id }}">{{contact.contact_name}}</a></label>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
			
			<!-- Display All Contactgroups if this is that kind of an object -->
			{% if effective_contactgroups %}
				<div class="effective_contactgroups">
				<fieldset id="id_effective_contactgroups" class="attribute_{{object_type}}">
				  <legend>Contactgroups</legend>
					{% for group in effective_contactgroups %}
					  <p>
					    <label><a href="id={{ group.id }}">{{group.contactgroup_name}}</a></label>
					  </p>
					{% endfor %}
				</fieldset>
				</div>
			{% endif %}
		</div>


		<div id="services">
			<legend>Services of this Host</legend>
			{% if effective_services %}
				<div class="effective_services">
				<ul>
				 {% for service in effective_services %}
				 	<li><a href="id={{service.id}}">{{ service.service_description }}</a></li>
				 {% endfor %}
				</ul>
				</div>
			{% endif %}
		</div>
		

	</div>

</form>		

	
{% else %}
	<p>Object not found </p>
{% endif %}


<script>
// wait until document is fully scriptable
$('#accordion').accordion({ header: "h4" });
$('#tabs').tabs();
//$('#tabs').tabs('add', '#cramp', "Ble");
//$(function() {
//
//});
</script>



{% endblock %}
