{% extends "configurator/base.html" %}
{% block title %}Add Complete{% endblock %}
{% block content %}


{% if okconfig_checks %}



<div class="okconfig_verify_configuration ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#verify">OKConfig verification</a>
		</li>
	</ul>
	<table>
	 <thead><tr>
	  <th>Check</th>
	  <th>Result</th>
	 </tr></thead>
	 <tbody>
		{% for check,value in okconfig_checks.items %}
		<tr class="{% cycle "even" "odd" %}">
	  		<td>{{ check }}</td>
	  		<td>{{ value }}</td>
		</tr>
		{% endfor %}
	 </tbody></table>
</div>
{% endif %}


{% endblock %}
