
{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock %}

{% block head %} {% endblock %}



{% block adagios_hausinn %}
<div class="row-fluid">
    <div class="span8">
        <div class="block">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url home %}">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    {% block nav1 %}
			<a href="{% url home %}/objectbrowser/">Object Browser</a>
		    {% endblock %}
                    <span class="divider">/</span>
                </li>
            </ul>
            <h2>
                <i class="icon-th-large"></i> <small>{% block smallheader %}block=smallheader{% endblock%} </small> {% block largeheader %}block=largeheader{% endblock %}
            </h2>
        </div>
    </div>
</div>

<div class="row-fluid"><div class="span8"> <div class="block">

{% endblock %}

{% block content %} {% endblock %}

</div> </div> </div>



