<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ settings.title_prefix  }}{% block title %}block=title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adagios - Nagios Configuration Made Easy">
    <meta name="author" content="Tomas Edwardsson, Pall Sigurdsson">

    <link href="{% url media path="css/style.css" %}" rel="stylesheet">
    <link href="{% url media path="css/status.css" %}" rel="stylesheet">
    <link href="{% url media path="datepicker/css/datepicker.css" %}" rel="stylesheet">



    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% url media path="html5shim/html5.js" %}"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% url media path="img/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% url media path="ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% url media path="ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% url media path="ico/apple-touch-icon-57-precomposed.png" %}">

    <!-- Block header starts -->
    {%  block header %}{% endblock %}
    <!-- Block header ends -->
<script>
    var BASE_URL = "{% url home %}";
</script>
</head>

<body>


<!-- block top_navigation starts -->
{% block top_navigation %}
    {%  include "snippets/top_navigation_bar.html" %}
{% endblock %}
<!-- block top_navigation ends -->


<!-- page_header contains stuff breadcrumbs and title of the current page -->
{% block page_header %}
    <div id="page_header" class="page_header">

        <div class="container-fluid content">

            <div class="row-fluid ">
                <ul class="breadcrumb">
                    <li>
                        <i class="glyph-right-arrow"></i>
                    </li>
                    <li>
                        <a href="{% url home %}"> Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        {% block nav1 %}
                        {% endblock %}
                        <span class="divider">/</span>
                    </li>
                    <li>
                        {% block nav2 %}
                        {% endblock %}
                    </li>
                </ul>
            </div>

            <div class="row-fluid">
                <div class="pull-left" id="titlebar">
                    <h2>
                        <small>{% block smallheader %}block=smallheader{% endblock %}</small>
                        {% block largeheader %}block=largeheader {% endblock %}
                    </h2>
                </div>

                <div id="right_of_title">
                    <div class="pull-right btn-group">
                        <a class="btn" {% if okconfig %}href="{% url okconfig_.views.addhost %}{% else %}href="{% url adagios.objectbrowser.views.add_object 'host' %}{% endif %}">
                            Add Host
                        </a>
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'host' %}"> Host</a></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'service' %}"> Service</a></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'contact' %}"> Contact</a></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'timeperiod' %}"> Timeperiod</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'hostgroup' %}"> Hostgroup</a></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'servicegroup' %}"> Servicegroup</a></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'contactgroup' %}"> Contactgroup</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url adagios.objectbrowser.views.add_object 'template' %}"> Template</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url bi.views.add %}"> Business Process</a></li>
                                </ul>
                    </div>
                </div>
            </div>

        </div>

        <hr id="seperate_top_and_content">

    </div>
{% endblock page_header %}
<!-- block page_header ends -->


<!-- block page_content starts -->
{% block page_content %}

    <!-- block left_sidebar starts -->
    {% block left_sidebar %}
    <div class="pull-left container-fluid" id="left_sidebar">
        <h5>Shortcuts</h5>
        <ul class="nav nav-list">
            <li><a href="{% url status.views.status_index %}">Status Overview </a></li>
            <li >
                <a {% if num_problems %}{% endif %} href="{% url status.views.problems %}?unhandled">Open Problems {% if num_problems %}<span>({{ num_problems }})</span>{% endif %}</a>
            </li>
            <li >
                <a href="{% url status.views.problems %}">All Problems</a>
            </li>
            <li><a href="{% url status.views.hosts %}">Hosts</a></li>
            <li><a href="{% url status.views.services %}">Services </a></li>
            <li><a href="{% url status.views.contact_list %}">Contacts</a></li>
            <li><a href="{% url status.views.network_parents %}">Network Parents </a></li>
            <li><a href="{% url objectbrowser.views.list_object_types %}">Configuration</a></li>
        </ul>

        <h5>Reports</h5>
        <ul class="nav nav-list">
            <li><a href="{% url status.views.state_history %}">State History </a></li>
            <li><a href="{% url status.views.status_log %}">Log</a></li>
            <li><a href="{% url status.views.comment_list %}">Comments</a></li>
            <li><a href="{% url status.views.downtime_list %}">Downtimes</a></li>
        </ul>

        <h5>Groups</h5>
        <ul class="nav nav-list">
            <li><a href="{% url status.views.status_hostgroups %}">Hostgroups</a></li>
            <li><a href="{% url status.views.status_servicegroups %}">Servicegroups</a></li>
            <li><a href="{% url status.views.contact_list %}#contactgroups">Contactgroups</a></li>
        </ul>

        <h5>Experimental</h5>
        <ul class="nav nav-list">
            <li><a href="{% url misc.views.map_view %}">Map</a></li>
            <li><a href="{% url status.views.status_boxview %}">Box View </a></li>
            <li><a href="{% url status.views.status_paneview %}">Pane View </a></li>
            <li><a href="{% url status.views.perfdata %}">Performance Data</a></li>
            <li><a href="{% url bi.views.index %}">Business Intelligence</a></li>
            <li><a href="{% url status.views.dashboard %}">Dashboard</a></li>
        </ul>
    </div>
    {% endblock left_sidebar %}
    <!-- block left_sidebar ends -->

    <div id="main_content">

        <!-- block toolbar starts -->
        {% block toolbar %}block=toolbar{% endblock %}
        <!-- block toolbar ends -->

        <!-- block content starts -->
        {% block content %}block=content{% endblock %}
        <!-- block content ends -->


    </div>
{% endblock page_content %}
<!-- block page_content ends -->

{% block page_footer %}
    <div id="page_footer">
        <hr>
        <div class="pull-right" id="make_a_wish" >
            <input type="text" class="input-medium"  placeholder="I wish this page could..." onclick='$("#wish_modal").modal("show");' />
            <button class="btn btn-" style="margin-bottom: 9px;" onclick='$("#wish_modal").modal("show");'>Make a wish</button>
        </div>
    </div>
{% endblock page_footer %}



<!-- Miscellaneous stuff starts here -->


<!-- Acknowledge modal -->
<div class="modal hide fade" id="acknowledge_modal">
    <form class="form-horizontal" onsubmit='$("#acknowledge_modal").modal("hide");  acknowledge(); return false; return false;' >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Acknowledge problem</h3>
        </div>
        <div class="modal-body">
            <p>Acknowledge means that someone is handling this problem. It will no longer be marked as unhandled and Nagios will stop sending notifications about it until it goes back to OK status.</p>
            <div class="control-group">
                <label class="control-label" for="id_acknowledgement_author">
                    Author
                </label>
                <div class="controls" id="author_field">
                    <input id="id_acknowledgement_author" type="text" class="required" disabled=disabled value="{{ remote_user }}" name="author" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_comment">
                    Comment
                </label>
                <div class="controls" id="host_name_field">
                    <input id="id_comment" type="text" class="required" placeholder="Write some comment" name="comment" />
                    <label class="help-block">Other people looking at this service will see this comment.</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick='$("#acknowledge_modal").modal("hide");'>Cancel</a>
            <button type="submit" id="acknowledge_submit_button" class="btn btn-primary">Acknowledge Problem</button>
        </div>
    </form>
</div>
<!-- Acknowledge modal ends -->

<!-- downtime modal -->
<div class="modal hide fade" id="downtime_modal">
    <form name="downtime" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Schedule Downtime</h3>
        </div>
        <div class="modal-body">
            <p>Putting hosts and services into scheduled downtime means they are expected to fail during that period. Nagios will not send out any notifications during scheduled downtime and problems will not show up as unhandled problems.</p>
            <div class="control-group">
                <label class="control-label" for="id_downtime_author">
                    Author
                </label>
                <div class="controls" id="downtime_author_field">
                    <input id="id_downtime_author" type="text" class="required" disabled=disabled value="{{ remote_user }}" name="author" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_downtime_start_time">
                    Start Time
                </label>
                <div class="controls" id="downtime_start_time_field">
                    <div id="datepicker_start_time" class="date pull-left">
                        <input name="start_time_picker" style="width: 70px" type="text">
                    </div>
                    <div class="control-group pull-left">
                        <input name="start_hours" style="width: 40px" type="text">&nbsp;
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_downtime_end_time">
                    End Time
                </label>
                <div class="controls" id="id_downtime_end_time_field">
                    <div id="datepicker_end_time" class="date pull-left">
                        <input name="end_time_picker" style="width: 70px" type="text">
                    </div>
                    <div class="control-group pull-left">
                        <input name="end_hours" style="width: 40px" type="text">&nbsp;
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_downtime_comment">
                    Comment
                </label>
                <div class="controls" id="downtime_comment_field">
                    <input id="id_downtime_comment" type="text" class="required" placeholder="Write some comment" name="comment" />
                    <label class="help-block">Other people looking at this service will see this comment.</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_downtime_recursive">
                </label>
                <div class="controls" id="id_downtime_recursive_field">
                    <input type="checkbox" name="recursive" id="id_downtime_recursive" />
                    Apply to selected hosts and all their services
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <a href="#" class="btn" onclick='$("#downtime_modal").modal("hide");'>Cancel</a>
            <button type="submit" class="btn btn-primary">Schedule Downtime</button>
        </div>
    </form>
</div>
<!-- Downtime modal ends -->

<!-- Mail modal -->
<div class="modal hide fade" id="mail_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Mail</h3>
        </div>
        <div class="modal-body">
            <p>You can send manual e-mail notification to a specified email address.</p>

            <div class="control-group">
                <label class="control-label" for="id_mail_to">
                    To:
                </label>
                <div class="controls" id="mail_to_field">
                    <input id="id_mail_to" type="text" class="required" value="" name="to" style="width: 100%" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="id_mail_message">
                    Message
                </label>
                <div class="controls" id="id_mail_message_field">
                    <textarea id="id_mail_message"  class="required" placeholder="Hey everyone, please check the link and services below." name="message" ></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_add_myself_to_cc">
                </label>
                <div class="controls" id="id_add_myself_to_cc_field">
                    <input type="checkbox" checked="checked" name="add_myself_to_cc" value="on" id="id_add_myself_to_cc" />
                    Add myself to CC
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="id_acknowledge_all_problems">
                </label>
                <div class="controls" id="id_acknowledge_all_problems_field">
                    <input type="checkbox" checked="checked" name="acknowledge_all_problems" value="on" id="id_acknowledge_all_problems" />
                    Acknowledge Unhandled Problems
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick='$("#mail_modal").modal("hide");'>Cancel</a>
            <button type="submit" class="btn btn-primary" onclick='$("#mail_modal").modal("hide"); send_mail();'>Send</button>
        </div>
</div>
<!-- Mail modal ends -->

<!-- Misc - General purpose modal modal, originally destined to show error messages -->
<div class="modal hide fade" id="misc_modal">
    <form class="form-horizontal" action="https://opensource.ok.is/cgi-bin/wish.cgi" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="misc_modal_body">

            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" onclick='$("#misc_modal").modal("hide");'>Close</a>
        </div>
    </form>
</div>
<!-- Misc modal ends -->

<!-- Wish modal -->
<div class="modal hide fade" id="wish_modal">
    <form class="form-horizontal" action="https://opensource.ok.is/cgi-bin/wish.cgi" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Make a wish</h3>
        </div>
        <div class="modal-body">
            <p>Anything cool you think Adagios could be doing for you?
            </p>
            <p>
            Sweet! Ask for it here, and we'll see what we can do.
            </p>
            <p>
                    >We'd love to hear from you, but we cannot guarantee that your wish will come true.
            </p>
            <label class="hide" for="wish_textarea"></label>
            <textarea  id="wish_textarea" style="width:100%;" cols="200" rows="10" name="wish" placeholder="I wish this page could..."></textarea>
            <hr>
            <input name="bribes" id="id_bribes" class="pull-left" type="checkbox"  />
            <label class="pull-left" for="id_bribes">I'll back it up with bribes.</label>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" onclick='$("#wish_modal").modal("hide");'>Cancel</a>
            <button type="submit" id="wish_submit_button" class="btn">Make a wish</button>
        </div>
    </form>
</div>
<!-- Wish modal ends -->


<!-- error_messages -->
<div id="error_messages"  class="message_overlay">
    {% if errors|length %}
        {%  for error in errors %}
            <div class="alert">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Warning!</strong> {{ error }}
            </div>
        {%  endfor %}
    {% endif %}
    {% if messages|length %}
        {%  for message in messages  %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Info!</strong> {{ message }}
            </div>
        {%  endfor %}
    {% endif %}
    <div id="nagios_is_reloading" class="hide alert alert-success"><img src="{% url media path="select2/spinner.gif" %}"> Nagios is reloading...</div>
</div>


<!-- This is a template markup for a typical notification -->
<div id="typical_notification" class="hide fade">
    <div id="NOTIFICATION_ID" class="notification alert alert-LEVEL">
        <button id="NOTIFICATION_ID-close" class="close notification" data-dismiss="alert" onclick='adagios.rest.adagios.clear_notification({"notification_id": "NOTIFICATION_ID"});'>×</button>
        MESSAGE
    </div>
</div>

<!--  javascripts start here -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% url home %}rest/pynag.js"></script>
<script src="{% url home %}rest/status.js"></script>
<script src="{% url home %}rest/okconfig.js"></script>
<script src="{% url home %}rest/adagios.js"></script>

<script src="{% url media path="jquery/jquery-1.9.1.min.js" %}"></script>
<script src="{% url media path="bootstrap/js/bootstrap.min.js" %}"></script>

<script src="{% url media path="datatables/js/jquery.dataTables.min.js" %}"></script>
<script src="{% url media path="datatables/DT_bootstrap.js" %}"></script>

<script src="{% url media path="select2/select2.min.js" %}" type="text/javascript"></script>
<script src="{% url media path="js/adagios.js" %}"></script>
<script src="{% url media path="js/adagios_status.js" %}"></script>

<script src="{% url media path="datepicker/js/bootstrap-datepicker.js" %}"></script>




<!-- block footer starts -->
{% block footer %}


{% endblock %}
<!-- block footer ends -->

<!--
GLYPHICONS FREE are released under the Creative Commons Attribution 3.0 Unported (CC BY 3.0). The Glyphicons FREE can
be used both commercially and for personal use, but you must always add a link to www.glyphicons.com in a prominent
place (e.g. the footer of a website), include the CC-BY license and the reference to www.glyphicons.com on every page
using Glyphicons.

All logos and trademarks in social icons are the property of the respective trademark owners.®
-->

</body>

</html>