{% extends "base_status.html" %}
{% load i18n %}

{% block title %}Business Process{% endblock %}
{% block smallheader %}add{% endblock %}
{% block largeheader %}Sub item{% endblock %}

{% block nav1 %}{{ block.super }}{% endblock %}
{% block nav2 %}<a href="{% url bi.views.index %}">Business Process</a>{% endblock %}

{% load adagiostags %}

{% block content %}
    <form action="" method="post">{% csrf_token %}

        <table class="table table-condensed well">
        <tr>
            <th class="small"></th>
            <th>Process Type</th>
            <th>Process Name</th>
            <th>Sub Processes</th>
            <th>Actions</th>
        </tr>
            {% for i in subprocesses %}
                <tr>
                    <td class="small">
                        <input type=checkbox checked="checked" name="{{ i.process_type }}" value="{{ i.name }}">
                    </td>
                    <td>{{ i.process_type }}</td>

                    <td>
                        <div title="State is '{{ i.get_status }}'" class="circle state_{{ i.get_status }}"></div>
                        {{ i.name }}
                    </td>
                    <td>{{ i.display_name }}</td>
                    <td>{{ i.get_processes|length }}</td>

                    <td>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="text" name="tags" value="not critical">
        <input type="text" name="status_method" value="use_business_rules">
    <input type="text" name="name" value="name of new business group">
        <button type="submit">Submit</button>
    </form>

{% endblock %}



{% block view_buttons %}{% endblock %}
{% block action_buttons %}

{% endblock %}

