

{% block title %}Showing {{ object_type }}{% endblock %}

{% block content %}

{% if messages %}
	<h1> Messages from the developers </h1>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}

{% if objects %}
	<table border=1>
	<tr><th>Object Name</th><th>Object Type</th><th>Inherits from</th><th>Filename</th></tr>
	{% for o in objects %}
		<tr>
			<td><a href="{{ o.object_type }}/{{ o.name }}">{{ o.name }} </a></td>
			<td>{{ o.object_type }}</td>
			<td>{{ o.use }}</td>
			<td>{{ o.filename }}</td>
		</tr>
	{% endfor %}
	</ul>
{% else %}
	<p>No objects found. </p>
{% endif %}

{% endblock %}
