{% extends "configurator/base.html" %}

{% block title %}c.object_type{% endblock %}

{% block content %}

{% if messages %}
	<h1> Messages from the developers </h1>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}

{% if contact %}
<h1>{{ contact.contact_name }}</h1>
        <table border=1>
	{% for key,value in not_template.items %}
		<tr><td>{{ key }}</td><td>{{ value }} </td></tr>
	{% endfor %}
	</table>
<pre>
Attributes from template:
<table border=1>
	{% for key,value in template.items %}
		<tr><td>{{ key }}</td><td>{{ value }} </td></tr>
	{% endfor %}
	</table>

</pre>

{% else %}
	<p>{{ c.object_type }} not found. </p>
{% endif %}

{% endblock %}
