{% extends "configurator/base.html" %}
{% block title %}{{ object_type }}{% endblock %}

{% block content %}
<h1>We are viewing a beautiful {{ my_object.object_type }}</h1>

{% if messages %}
	<h1> Messages from the developers </h1>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}


{% if my_object %}
<!--
{{ my_object }}
-->
	<table border=1>
	<tr><th>Attribute Name</th><th>Defined Value</th><th>Inherited Value</th></tr>
	{% for attr in attr_val %}
		<tr>
			<td>{{ attr.0 }}</td><td>{{ attr.1 }}</td><td> {{attr.2}}</td>
		</tr>
	{% endfor %} 
	
{% else %}
	<p>Object not found </p>
{% endif %}

{% endblock %}
