<!-- snippet status_contactlist_snippet.html starts -->
{% load i18n %}

<table style="font-size: 80%;" class="table well table-condensed table-striped searchtable">
    <thead>
    <th>Contact Name</th>
    <th>Alias</th>
    <th>E-mail</th>
    <th>Pager</th>
    <th>Host Notification Period</th>
    <th>Service Notification Period</th>
    </thead>
    {% for i in contacts  %}
        <tr class="mainrow">
            <td>
                <a href="{% url status.views.detail %}?contact_name={{ i.name }}">{{ i.name }}</a></td>
            <td>{{ i.alias }}</td>
            <td>{{ i.email}}</td>
            <td>{{ i.pager }}</td>
            <td class="enable_notifications_{{ i.host_notifications_enabled }}">
                <div title="test">
                    {{ i.host_notification_period }}

                </div>
            </td>
            <td class="enable_notifications_{{ i.service_notifications_enabled }}">{{ i.service_notification_period }}</td>
        </tr>
    {% endfor %}
</table>

<!-- snippet status_contactlist_snippet.html ends -->
